{% extends 'base.html' %}
{% load common_tags %}

{% block head_title %}{{ settings.WEBSITE_NAME }} - เปลี่ยนวันว่างธรรมดา ให้เป็นวันที่ได้สนุกเพลิดเพลิน{% endblock %}
{% block body_class %}page-homepage{% endblock %}

{% block body_header %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="homepage-header">
        <div class="logo"><img src="{{ STATIC_URL }}images/ui/logo.homepage.png" /></div>
        <div class="subtitle">เปลี่ยนวันว่างธรรมดา ให้เป็นวันที่ได้สนุกเพลิดเพลิน</div>
        <div class="description">เรียนรู้สิ่งใหม่โดยตรงจากคนที่หลงไหลในสิ่งเหล่านั้น</div>
        <div class="browse"><a href="{% url 'view_courses_browse' %}" class="style-orange-button"><i class="icon-search icon-large"></i> ค้นหากิจกรรม</a></div>
    </div>
</div>

<div class="latest-courses">
    <div class="container clearfix">
        <div class="head">
            <h2>กิจกรรมที่กำลังจะมีขึ้น<i class="icon-double-angle-down"></i></h2>
        </div>
        <ul class="courses">
            {% for course in upcoming_courses %}
            <li class="course {% cycle 'left-box' 'right-box' %}">
                {% include 'snippets/course_box.html' %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="container">
    <div class="homepage-teach">
        <div class="head1">หากคุณมีความรู้และความหลงไหลในบางสิ่ง อยากถ่ายทอดให้คนอื่นได้รับ</div>
        <div class="head2">เราเปิดพื้นที่นี้ให้คุณโดยเฉพาะ</div>
        <div><a href="#" class="style-white-button">อะไรคือความหลงไหลของคุณ?</a></div>
    </div>
</div>

{% endblock %}