{% extends 'base.html' %}
{% load i18n common_tags presentation_tags %}

{% block head_title %}ค้นหากิจกรรม - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block body_class %}page-course-browse{% endblock %}

{% block body %}
<div class="browse-header">
    <div class="container">
        <h1><i class="icon-search"></i> ค้นหากิจกรรม</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span3">
            <div class="browse-nav">
                <div class="browse-nav-main">
                    <ul>
                        <li><a href="{% url 'view_courses_browse_by_category' 'upcoming' %}">{% trans 'Upcoming' %}</a></li>
                    </ul>
                </div>
                <div class="browse-nav-topics">
                    <div class="head">แยกตามหัวข้อ</div>
                    <ul>
                        {% course_topics_as_li topic_slug %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="span9">
            <div class="browse-workshops">
                <h2>{{ browse_title }}</h2>
                {% if courses %}
                <ul class="courses">
                    {% for course in courses %}
                        <li class="course clearfix">
                            <div class="cover"><a href="{% url 'view_course_outline' course.uid %}"><img src="{{ course.small_cover_url }}" {% thumbnail_img_size 'course_cover_small' %} /></a></div>
                            <div class="right">
                                <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title }}</a></div>
                                <div class="teacher">โดย <a href="{% url 'view_user_profile' course.teacher.uid %}" class="name">{{ course.teacher.name }}</a></div>
                                <div class="at_glance">
                                    <a href="#" class="school">{{ course.get_school.name }}</a> workshop
                                    in <span class="duration">{{ course.duration }} hour{{ course.duration|pluralize }}</span>
                                    with <span class="people">{{ course.maximum_people }} other {{ course.maximum_people|pluralize:'person,people' }}</span>
                                </div>
                                <div class="course-details">
                                    <span class="schedules"><i class="icon-time"></i> <em>{{ course.stats_upcoming_classes }}</em></span><span class="feedbacks"><i class="icon-comment"></i> <em>{{ course.stats_feedbacks }}</em></span><span class="place"><i class="icon-map-marker"></i> {{ course.place.province_code|province_name }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <div class="style-no-information">No workshops found</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}