{% extends 'base.html' %}
{% load thumbnail common_tags presentation_tags %}

{% block head_title %}{{ course.title }} - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block body_class %}page-course-outline{% endblock %}

{% block scripts %}
<script>
(function() {
    $('#enrollment-calendar').datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        startDate: '0',
        endDate: '+60d',
        language: 'th'
    })

    {% if course.outline_media.exists %}
    $('#pictures-slider').royalSlider({
        controlsInside: false,
        globalCaption: true,
        imageScaleMode: 'fill',
        keyboardNavEnabled: true
    });
    {% endif %}

    $('.button-enroll').on('click', function() {
        var schedule_id = $(this).attr('data-schedule-id');

        var jqxhr = $.post('/ajax/course/enroll/', {schedule_id:schedule_id}, function(response) {
            if(response.status == 'success') {
                var modal;
                if(response.data.enrollment_code) {
                    $('#modal-enrollment-payment').html(response.data.modal_html).modal({backdrop: 'static'});
                } else {
                    $('#modal-enrollment-login').html(response.data.modal_html).modal({backdrop: 'static'});
                }
            } else {
                if(response.message) {
                    _alertModal('error', 'Error occurred', response.message);
                } else {
                    _alertModal('error', 'Error occurred', 'Unknown error');
                }
            }
        }, 'json');

        jqxhr.error(function(jqXHR, textStatus, errorThrown) {
            _alertModal('error', 'Error occurred', errorThrown);
        });

        return false;
    });

    $('.course-feedbacks .feedbacks').masonry({
        columnWidth: 570,
        gutter: 30,
        itemSelector: '.style-course-feedback'
    });
})();
</script>
{% endblock %}

{% block body_header %}
{% endblock %}

{% block body %}
<div class="course-header">
    <div class="container">
        <div class="enroll"><a href="#course-enrollment" class="style-orange-button"><i class="icon-signin"></i> Enroll this workshop</a></div>
        <h1>{{ course.title }}</h1>
        <div class="teacher">
            <div class="avatar"><img src="{{ course.teacher.small_avatar_url }}" {% thumbnail_img_size 'avatar_small' %} /></div>
            <div class="name">by <a href="{% url 'view_user_profile' course.teacher.uid %}">{{ course.teacher.name }}</a></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="course-details">
        <span class="details">
            <span class="caption">TOPIC</span>
            <span class="value"><a href="#">{{ course.get_school.name }}</a></span>
        </span>
        <span class="details">
            <span class="caption">DURATION</span>
            <span class="value"><em>{{ course.duration }}</em> hour{{ course.duration|pluralize }}</span>
        </span>
        <span class="details">
            <span class="caption">CLASS OF</span>
            <span class="value"><em>{{ course.maximum_people }}</em> {{ course.maximum_people|pluralize:'person,people' }}</span>
        </span>
        <span class="details">
            <span class="caption">UPCOMNG CLASS</span>
            <span class="value"><em>{{ course.stats_upcoming_classes }}</em> class{{ course.stats_upcoming_classes|pluralize:'es' }}</span>
        </span>
    </div>
    <div class="row">
        <div class="span8">
            <div class="course-pictures">
                <div id="pictures-slider" class="royalSlider rsDefault">
                    {% for media in course.outline_media.all %}
                        {% if media.media_type == 'PICTURE' %}
                            <img src="{{ media.coursepicture.image|thumbnail_url:'course_picture_full' }}" alt="{{ media.description }}" />
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="course-activities">
                <div class="head">Activities</div>
                <ul>
                    <li>Duis sollicitudin ipsum ut mi luctus sollicitudin. Mauris ut nisl tincidunt.</li>
                    <li>Duis sollicitudin ipsum ut mi luctus sollicitudin. Mauris ut nisl tincidunt.</li>
                    <li>Duis sollicitudin ipsum ut mi luctus sollicitudin. Mauris ut nisl tincidunt.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="course-description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit, metus at ornare sollicitudin, sapien nibh ultricies eros, eget auctor ipsum magna nec sapien. Mauris ac tempus ligula. Duis purus sem, faucibus vitae tempus id, porttitor et sem. Proin interdum tempor orci vitae vulputate. Etiam quis urna mi. Nulla a rhoncus justo. Sed viverra dictum justo, sed tincidunt dolor auctor sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque sit amet interdum odio, pulvinar congue elit. Suspendisse at augue risus. Praesent a ornare orci, vel euismod est.</p>
        <p>Duis sollicitudin ipsum ut mi luctus sollicitudin. Mauris ut nisl tincidunt, bibendum tellus a, vehicula quam. Sed aliquam massa vel facilisis convallis. Maecenas eu hendrerit odio. Ut et tempor felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at feugiat diam. Pellentesque tempor at velit non feugiat. Pellentesque egestas congue odio et varius.</p>
    </div>

    <div class="course-place">
        <div class="head"><i class="icon-map-marker"></i> Place</div>
        <div class="clearfix">
            <div class="map"><a href="#"><img src="{{ STATIC_URL }}images/sample/map1.png" /></a></div>
            <div class="place">
                <div class="name">Place Name</div>
                <div class="address">233/235 Srinakarin rd. Bang Muang</div>
                <div class="phone"><i class="icon-phone-sign"></i> 089-784-5282</div>
                <div class="direction">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit, metus at ornare sollicitudin, sapien nibh ultricies eros, eget auctor ipsum magna nec sapien. Mauris ac tempus ligula. Duis purus sem, faucibus vitae tempus id.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="course-enrollment">
    <a name="course-enrollment"></a>
    <div class="container">
        <div class="head"><i class="icon-signin"></i> Enrollment</div>
        <div class="enrollment clearfix">
            <div class="enroll-calendar">
                <div id="enrollment-calendar"></div>
            </div>
            <div class="enroll-list">
                <ul>
                    <li>
                        <div class="enroll">
                            <span class="price">$40 USD</span>
                            <a href="#" class="button-enroll style-orange-button" data-schedule-id="1">Enroll</a>
                        </div>
                        <div class="schedule">
                            <i class="icon-time"></i>
                            <div class="right">
                                <span class="schedule-date"><em>Sunday,</em> 14 February 2013</span>
                                <span class="schedule-time">6:00 PM</span>
                            </div>
                        </div>
                        <div class="availability">
                            <i class="icon-group"></i>
                            <div class="right">
                                <span class="available">10 slots available</span>
                                <span class="maximum">Limit at 20 students</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="enroll">
                            <span class="price">$40 USD</span>
                            <a href="#" class="button-enroll style-orange-button" data-schedule-id="1">Enroll</a>
                        </div>
                        <div class="schedule">
                            <i class="icon-time"></i>
                            <div class="right">
                                <span class="schedule-date"><em>Sunday,</em> 14 February 2013</span>
                                <span class="schedule-time">6:00 PM</span>
                            </div>
                        </div>
                        <div class="availability">
                            <i class="icon-group"></i>
                            <div class="right">
                                <span class="available">10 slots available</span>
                                <span class="maximum">Limit at 20 students</span>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="course-feedbacks">
        <h2><i class="icon-comment"></i> Feedbacks</h2>
        {% if feedbacks %}
            <div class="feedbacks">
                {% for feedback in feedbacks %}
                    {% include 'snippets/course_feedback_box.html' %}
                {% endfor %}
            </div>
        {% else %}
            <div class="style-no-information">No feedback yet</div>
        {% endif %}
    </div>
</div>
{% endblock %}



{% block body1 %}

<!-- Similar Courses -->

<div class="modal fade hide" id="modal-enrollment-login"></div>

<div class="modal hide" id="modal-enrollment-payment">
{% if page_action == 'payment' and enrollment %}
{% include 'snippets/modal_enrollment_payment.html' %}
<script>$(document).ready(function($) {$('#modal-enrollment-payment').modal();});</script>
{% endif %}
</div>

{% endblock %}