{% extends 'base.html' %}
{% load presentation_tags %}

{% block head_title %}{{ course.title }} - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block body_class %}page-course-outline{% endblock %}

{% block scripts %}
<script>
$(document).ready(function($) {
    $('.royalSlider').royalSlider({
        keyboardNavEnabled: true
    });

    $('.button-enroll').on('click', function() {
        var schedule_id = $(this).attr('data-schedule-id');

        var jqxhr = $.post('/ajax/course/enroll/', {schedule_id:schedule_id}, function(response) {
            if(response.status == 'success') {
                var modal;
                if(response.data.enrollment_code) {
                    $('#modal-enrollment-payment').html(response.data.modal_html).modal({backdrop: 'static'});
                } else {
                    $('#modal-enrollment-login').html(response.data.modal_html).modal({backdrop: 'static'});
                }
            } else {
                if(response.message) {
                    _alertModal('error', 'Error occurred', response.message);
                } else {
                    _alertModal('error', 'Error occurred', 'Unknown error');
                }
            }
        }, 'json');

        jqxhr.error(function(jqXHR, textStatus, errorThrown) {
            _alertModal('error', 'Error occurred', errorThrown);
        });

        return false;
    });
});
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="course-header clearfix">
        <div class="avatar"><img src="{{ course.teacher.smaller_avatar_url }}" /></div>
        <div class="right">
            <div class="title ">{{ course.title }}</div>
            <div class="teacher"><a href="{% url 'view_user_profile' course.teacher.uid %}">{{ course.teacher.name }}</a> <span class="doing">{{ course.teacher.headline }}</span></div>
        </div>
    </div>

    <div class="course-numbers clearfix">
        <div class="item">
            <span class="caption">DURATION</span>
            <span class="number"><em>{{ course.duration }}</em> hour{{ course.duration|pluralize }}</span>
        </div>
        <div class="item">
            <span class="caption">CLASS OF</span>
            <span class="number"><em>{{ course.maximum_people }}</em> {{ course.maximum_people|pluralize:'Person,People' }}</span>
        </div>
        <div class="item">
            <span class="caption">INTENDED FOR</span>
            <span class="number"><em class="nobold">{% course_level course %}</em></span>
        </div>
        <div class="item">
            <span class="caption">TAUGHT</span>
            <span class="number"><em>{{ course.stats_students }}</em> Student{{ course.stats_students|pluralize }}</span>
        </div>

        <!-- TODO Hide this number if there is no positive reviews -->
        <div class="item">
            <span class="caption">RECEIVED</span>
            <span class="number"><em>{{ course.stats_reviews }}</em> Positive Review{{ course.stats_reviews|pluralize }}</span>
        </div>
    </div>

    <div class="row">
        <div class="span9">
            {% if course.pictures.exists %}
            <div class="course-pictures">
                <div class="royalSlider rsDefault">
                    <img src="{{ STATIC_URL }}images/sample/course1-picture1.jpg" />
                </div>
            </div>
            {% endif %}
            <div class="course-content">
                <ul class="nav nav-tabs" id="course-content-nav">
                    <li class="active"><a href="#course_story" data-toggle="tab">Course Story</a></li>
                    <li><a href="#course_outline" data-toggle="tab">Course Outline</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="course_story">{{ course.description }}</div>
                    <div class="tab-pane" id="course_outline">
                        OUTLINE
                    </div>
                </div>
            </div>
            <div class="course-teacher clearfix">
                <div class="head">Meet Your Teacher</div>
                <div class="avatar"><img src="{{ course.teacher.normal_avatar_url }}" /></div>
                <div class="right">
                    <div class="name"><a href="{% url 'view_user_profile' course.teacher.uid %}">{{ course.teacher.name }}</a></div>
                    <div class="doing">{{ course.teacher.headline }}</div>
                    <div class="credentials"><p>{{ course.credentials }}</p></div>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="course-sidebar">
                <div class="enrollment">
                    <div class="datetime clearfix">

                        {% comment %}
                        <!-- TODO Support multiple classes -->
                        {% with course.next_schedule.start_datetime as schedule_datetime %}
                        <span class="day_date">
                            <span class="day">{{ schedule_datetime|date:'l' }},</span>
                            <span class="date">{{ schedule_datetime|date:'j F Y' }}</span>
                        </span>
                        <span class="time">{{ schedule_datetime|date:'H:i' }}</span>
                        {% endwith %}
                        {% endcomment %}
                    </div>
                    <div class="enroll">
                        <a href="#" class="button-enroll style-orange-button" data-schedule-id="1">Enroll Now<em>{% course_full_price course  %}</em></a>
                    </div>
                    <div class="availability">{% with course.next_schedule.stats_seats_left as seats_left  %}{{ seats_left }} seat{{ seats_left|pluralize }} left{% endwith %}</div>
                </div>
                <div class="venue">
                    {% with course.coursevenue as venue %}
                    <div class="head">PLACE</div>
                    <div class="name"><a href="#">{{ venue.venue_name }}</a></div>
                    <div class="address">{{ venue.venue_address }}</div>
                    {% if venue.venue_latlng %}
                    <div class="minimap">
                        <div class="map"><a href="#"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ venue.venue_latlng }}&zoom=14&size=258x171&markers=%7C{{ venue.venue_latlng }}&sensor=false"></a></div>
                        <a href="#">View in larger map</a>
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="sharing">
                    <!-- Facebook Like, Twitter Tweet, Email -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="course-reviews">
    <div class="container">
        <div class="head">Course reviews</div>
        <div class="row">
            <div class="span6">
                <div class="reviews-featured">
                    <ul class="reviews">
                        <li class="review">
                            <div class="review-box clearfix">
                                <p>Maecenas id enim diam, vel hendrerit metus. Praesent fermentum nibh ut nulla congue mollis. In nibh velit, posuere vel gravida ut, tempus nec dui.</p>
                                <div class="reviewer">
                                    <div class="avatar"><img src="{{ STATIC_URL }}images/sample/avatars/user1.jpg" /></div>
                                    <div class="name">Panu Tangchalermkul</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span6">
                <div class="reviews-recent">
                    <ul class="reviews">
                        <li class="review">
                            <div class="review-box clearfix">
                                <p>Maecenas id enim diam, vel hendrerit metus. Praesent fermentum nibh ut nulla congue mollis. In nibh velit, posuere vel gravida ut, tempus nec dui.</p>
                                <div class="reviewer">
                                    <div class="avatar"><img src="{{ STATIC_URL }}images/sample/avatars/user1.jpg" /></div>
                                    <div class="name">Panu Tangchalermkul</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Similar Courses -->

<div class="modal fade hide" id="modal-enrollment-login"></div>

<div class="modal hide" id="modal-enrollment-payment">
{% if page_action == 'payment' and enrollment %}
{% include 'snippets/modal_enrollment_payment.html' %}
<script>$(document).ready(function($) {$('#modal-enrollment-payment').modal();});</script>
{% endif %}
</div>

{% endblock %}