{% extends 'account/registration/registration_base.html' %}
{% load presentation_tags %}

{% block head_title %}เข้าสู่ระบบ | {{ settings.WEBSITE_NAME }}{% endblock %}

{% block scripts %}
<script>
(function() {
    $('.login-social .use-email a').on('click', function() {
        $('.login-email').show();
        $(this).remove();
    });
})();
</script>
{% endblock %}

{% block registration_body %}

<div class="style-registration-login">
    <div class="backend-social">
        <div class="head"><b>เข้าสู่ระบบ</b> หรือ <b>สมัครสมาชิก</b></div>
        <a href="#" class="facebook">Sign up / login with Facebook</a>
        <a href="#" class="twitter">Sign up / login with Twitter</a>
    </div>
    <div class="or">
        <hr><span>หรือใช้อีเมล</span>
    </div>
    <div class="backend-email">
        <div class="clearfix">
            <div class="email-login">
                <div class="head">เข้าสู่ระบบ</div>
                <form action="{% url 'view_user_login' %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="input">
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>
                    <div class="input">
                        {{ form.password }}
                        {{ form.password.errors }}
                    </div>
                    <div class="actions">
                        <input type="hidden" value="{{ next }}" name="next" />
                        <input type="submit" value="เข้าสู่ระบบ" class="style-button" />
                    </div>
                    <div class="forgot"><a href="{% url 'auth_password_reset' %}">ลืมรหัสผ่าน?</a></div>
                </form>
            </div>
            <div class="email-register">
                <div class="head">สมัครสมาชิก</div>
                {% to_resend_registration signup_form.email.data as to_resend_registration %}
                <form method="post" action="{% if to_resend_registration %}{% url 'view_user_login_resend' %}{% else %}{% url 'view_user_login_signup' %}{% endif %}">
                    {% csrf_token %}
                    {{ signup_form.non_field_errors }}
                    <div class="input">
                        {{ signup_form.email }}
                        {{ signup_form.email.errors }}
                    </div>
                    <div class="actions">
                        {% if to_resend_registration %}
                            <input type="submit" value="ส่งอีเมลยืนยันอีกครั้ง" class="style-button" />
                            <a href="{% url 'view_user_login_signup' %}" class="cancel">ยกเลิก</a>
                        {% else %}
                            <input type="submit" value="สมัครสมาชิก" class="style-button" />
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% comment %}
<div class="login-social">
    <a href="#" class="facebook">Sign-in with Facebook</a>
    <a href="#" class="twitter">Sign-in with Twitter</a>
    <div class="use-email"><a href="#">ใช้อีเมลในการเข้าสู่ระบบหรือสมัครสมาชิก</a></div>
</div>

<div class="login-email">
    <div class="email-login">
        <div class="head">เข้าสู่ระบบ</div>
        <form method="post" action="{% url 'view_user_login' %}" class="style-form">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="control-group">
                <label class="control-label" for="id_email">อีเมล</label>
                <div class="controls">{{ form.email }}</div>
                {{ form.email.errors }}
            </div>

            <div class="control-group">
                <label class="control-label" for="id_password">รหัสผ่าน</label>
                <div class="controls">{{ form.password }}</div>
                {{ form.password.errors }}
            </div>

            <input type="hidden" value="{{ next }}" name="next" />
            <div class="form-actions">
                <input type="submit" value="เข้าสู่ระบบ" class="style-button" />
                <a href="{% url 'auth_password_reset' %}">ลืมรหัสผ่าน?</a>
            </div>
        </form>
    </div>

    <div class="email-signup">
        <div class="head">สมัครสมาชิก</div>
        {% to_resend_registration signup_form.email.data as to_resend_registration %}
        <form method="post" action="{% if to_resend_registration %}{% url 'view_user_login_resend' %}{% else %}{% url 'view_user_login_signup' %}{% endif %}" class="style-form">
            {% csrf_token %}
            {{ signup_form.non_field_errors }}

            <div class="control-group">
                <label class="control-label" for="id_email">อีเมล</label>
                <div class="controls">{{ signup_form.email }}</div>
                {{ signup_form.email.errors }}
            </div>

            <div class="form-actions">
                {% if to_resend_registration %}
                    <input type="submit" value="ส่งอีเมลยืนยันอีกครั้ง" class="style-button" />
                    <a href="{% url 'view_user_login_signup' %}" class="cancel">ยกเลิก</a>
                {% else %}
                    <input type="submit" value="สมัครสมาชิก" class="style-button" />
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endcomment %}
{% endblock %}


