{% extends 'account/registration/registration_base.html' %}

{% block registration_body %}
<div class="registration-box">
    <h1>เข้าสู่ระบบ</h1>
    <div class="login-social">
        <a href="#" class="facebook">Sign-in with Facebook</a>
        <a href="#" class="twitter">Sign-in with Twitter</a>
    </div>
    <div class="login-email">
        <div class="or">หรือเข้าสู่ระบบด้วยอีเมล</div>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="text-input">{{ form.email }}{{ form.email.errors }}</div>
            <div class="text-input">{{ form.password }}{{ form.password.errors }}</div>
            <input type="hidden" value="{{ next }}" name="next" />
            <div><input type="submit" value="เข้าสู่ระบบ" class="style-button" /></div>
            <div class="forgot"><a href="{% url 'auth_password_reset' %}">ลืมรหัสผ่าน?</a></div>
        </form>
    </div>
</div>
{% endblock %}


