{% extends 'account/registration/registration_base.html' %}

{% block head_title %}ยืนยันการสมัครสมาชิก | {{ settings.WEBSITE_NAME }}{% endblock %}

{% block registration_body %}
<h1>ยืนยันการสมัครสมาชิก</h1>
<form method="post" action="." class="style-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="control-group">
        <label class="control-label" for="id_fullname">ชื่อ - นามสกุล</label>
        <div class="controls">{{ form.fullname }}</div>
        {{ form.fullname.errors }}
    </div>

    <div class="control-group">
        <label class="control-label" for="id_password">ตั้งรหัสผ่าน</label>
        <div class="controls">{{ form.password }}</div>
        {{ form.password.errors }}
    </div>

    <div class="control-group avatar-control">
        <label class="control-label" for="id_avatar">รูปผู้ใช้</label>
        <div class="controls">{{ form.avatar }}</div>
        {{ form.avatar.errors }}
    </div>

    <div class="form-actions">
        <input type="submit" value="ยืนยันการสมัครสมาชิก" class="style-button" />
    </div>
</form>
{% endblock %}