{% extends 'account/registration/registration_base.html' %}
{% load presentation_tags %}

{% block registration_body %}
<div class="registration-box">
    <h1>เข้าสู่ระบบ</h1>
    <div class="login-social">
        <a href="#" class="facebook">Sign-in with Facebook</a>
        <a href="#" class="twitter">Sign-in with Twitter</a>
    </div>
    <div class="login-email">
        <div class="or">หรือสมัครสมาชิกด้วยอีเมล</div>
        {% to_resend_registration form.email.data as to_resend_registration %}
        <form method="post" action="{% if to_resend_registration %}{% url 'view_signup_resend' %}{% else %}{% url 'view_signup' %}{% endif %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="text-input">{{ form.email }}{{ form.email.errors }}</div>
            <div class="text-input">{{ form.password1 }}{{ form.password1.errors }}</div>
            <div class="text-input">{{ form.password2 }}{{ form.password2.errors }}</div>

            <div class="button">
                {% if to_resend_registration %}
                    <input type="submit" value="ส่งอีเมลยืนยันอีกครั้ง" class="style-button" />
                    <a href="{% url 'view_signup' %}" class="cancel">ยกเลิก</a>
                {% else %}
                    <input type="submit" value="สมัครสมาชิก" class="style-button" />
                {% endif %}
            </div>
        </form>
    </div>
</div>
{% endblock %}