{% extends 'base_backend.html' %}
{% load i18n thumbnail common_tags presentation_tags %}

{% block head_title %}จัดเวิร์คช็อป - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block body_class %}{{ block.super }} page-my-workshops-organize{% endblock %}

{% block scripts %}
<script>
jQuery(function($){
    $('#modal-add-schedule').on('ws.schedule.add', function(e, workshop_uid, data) {
        var workshopRow = $('li.workshop[data-workshop-uid="' + workshop_uid + '"]');
        workshopRow.find('.subtitle .upcoming .value').text(data.upcoming_schedule_count + ' รอบ');
        workshopRow.find('.next .datetime .text').html(data.upcoming_schedule_datetime);
        workshopRow.find('.next .participant .confirmed').text(data.upcoming_participant_comfirmed + ' คน');
        workshopRow.find('.next .participant .waiting').text(data.upcoming_participant_waiting + ' คน');
    });

    $('#modal-publish-workshop').on('ws.publish', function(e, workshop_uid, data) {
        var workshopRow = $('li.workshop[data-workshop-uid="' + workshop_uid + '"]');
        workshopRow.html(data.workshop_html);
    });
});
</script>
{% endblock %}

{% block backend_header %}
    {% if workshops %}
    <div class="with_actions">
        <h1>จัดเวิร์คช็อป</h1>
        <ul>
            <li><a href="{% url 'create_workshop' %}" class="style-primary-button"><i class="icon-plus"></i> จัดเวิร์คช็อปใหม่</a></li>
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block backend_body %}
{% if workshops %}
    <ul class="workshops">
        {% for workshop in workshops %}
        <li class="workshop clearfix{% if forloop.last %} last-workshop{% endif %}" data-workshop-uid="{{ workshop.uid }}">
            {% include 'workshop/organize/snippets/organize_workshop_row.html' %}
        </li>
        {% endfor %}
    </ul>
    {% include 'modals/modal_publish_workshop.html' %}
    {% include 'modals/modal_add_schedule.html' %}
{% else %}
    <div class="first-workshop">
        <h1>ส่งต่อความหลงไหลของคุณผ่านกิจกรรมเวิร์คช็อป</h1>
        <form method="post" action="." role="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">ชื่อเวิร์คช็อป</label>
                {{ form.title }}
                {{ form.title.errors }}
                <div class="help-block">สามารถเปลี่ยนได้ภายหลัง</div>
            </div>
            <button type="submit" class="style-primary-button">จัดเวิร์คช็อป</button>
        </form>
    </div>
{% endif %}
{% endblock %}