{% extends 'base_single.html' %}

{% block body_class %}page-launch{% endblock %}

{% block body %}
<div class="socials">
    <a href="http://www.facebook.com/playplearn.workshops" class="facebook">Facebook</a>
    <a href="http://www.twitter.com/playplearn" class="twitter">Twitter</a>
</div>
<div class="headline">
    <img src="{{ STATIC_URL }}images/ui/logo.homepage.white.png" width="400" height="142" />
    <h1>เปลี่ยนวันว่างธรรมดาๆ ให้เป็นวันที่สนุกสนานเพลิดเพลิน</h1>
    <div class="text">
        <p>ใช้เวลาว่างให้ได้ทั้งความรู้และความสนุก ด้วยหลากหลายกิจกรรมเวิร์คช็อปที่จัดโดยคนที่หลงไหลในสิ่งนั้น เน้นการได้สัมผัสและลงมือทำจริง พร้อมเรียนรู้ไปกับเพื่อนใหม่ๆ ที่มีความสนใจเหมือนๆ กัน</p>
    </div>
</div>
<div class="form">
    {% if is_subscribed %}
        <div class="subscribed">
            <div class="thanks">เราดีใจและขอบคุณที่ให้ความสนใจเรา ^_^</div>
        </div>
    {% else %}
        <h2>หากคุณอยากรู้ว่าความเพลิดเพลินจะเริ่มต้นขึ้นเมื่อใด? ลงชื่อไว้สิ แล้วเราจะบอกคุณเป็นคนแรก</h2>
        <form action="http://playplearn.createsend.com/t/i/s/nviu/" method="post">
            <input id="fieldName" name="cm-name" type="text" placeholder="ชื่อ" />
            <input id="fieldEmail" name="cm-nviu-nviu" type="email" placeholder="อีเมล" />
            <button type="submit">ลงชื่อ</button>
        </form>
    {% endif %}
</div>
{% endblock %}