Django==1.5.1
Pillow==2.0.0
https://bitbucket.org/psam/django-postman/get/tip.zip
django-social-auth==0.7.23
django-taggit==0.10a1
easy-thumbnails==1.2
httplib2==0.8
oauth2==1.5.211
psycopg2==2.5
python-openid==2.2.5
pytz==2013b
shortuuid==0.3
wsgiref==0.1.2
