{% extends 'base_page_registration.html' %}

{% block head_title %}เปลี่ยนรหัสผ่านใหม่ | {{ settings.WEBSITE_NAME }}{% endblock %}
{% block body_class %}{{ block.super }} page-registration-reset{% endblock %}

{% block registration_header %}เปลี่ยนรหัสผ่านใหม่{% endblock %}

{% block registration_content %}
{% if validlink %}
    <form method="POST" action="." role="form">
        {% csrf_token %}
        {{form.non_field_errors}}

        <div class="form-group">
            <label for="id_new_password1">รหัสผ่านใหม่</label>
            <div class="text-control">{{ form.new_password1 }}</div>
            {{ form.new_password1.errors }}
        </div>

        <div class="form-group">
            <label for="id_new_password2">กรอกรหัสผ่านใหม่อีกครั้ง</label>
            <div class="text-control">{{ form.new_password2 }}</div>
            {{ form.new_password2.errors }}
        </div>

        <div class="form-actions">
            <button type="submit" class="style-primary-button">เปลี่ยนรหัสผ่าน</button>
        </div>
    </form>
{% else %}
    <div class="reset-message">ลิงก์การเปลี่ยนรหัสผ่านไม่ถูกต้อง กรุณาส่งคำสั่งเปลี่ยนรหัสผ่านใหม่อีกครั้ง</div>
{% endif %}
{% endblock %}