{% extends 'account/registration/registration_base.html' %}

{% block head_title %}เปลี่ยนรหัสผ่านใหม่ | {{ settings.WEBSITE_NAME }}{% endblock %}

{% block registration_body %}
<h1>เปลี่ยนรหัสผ่านใหม่</h1>
<form method="POST" action="." class="style-form">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="control-group">
        <label class="control-label" for="id_email">อีเมล</label>
        <div class="controls">{{ form.email }}</div>
        {{ form.email.errors }}
    </div>

    <div class="form-actions">
        <button type="submit" class="style-button">เปลี่ยนรหัสผ่าน</button>
        <a href="{% url 'view_user_login' %}" class="link"> กลับไปหน้าเข้าสู่ระบบ</a>
    </div>
</form>
{% endblock %}