{% extends 'accounts/registration/registration_base.html' %}
{% load i18n %}

{% block head_title %}Password reset | PlayPlanet{% endblock %}
{% block registration_head %}{% trans 'Password reset' %}{% endblock %}

{% block registration_body %}
<div class="page-registration-password">
    <div class="message">{% url view_user_login as view_user_login %}{% blocktrans %}Password reset completed. Go to <a href="{{ view_user_login }}">login page</a> to try it out!{% endblocktrans %}</div>
</div>
{% endblock %}