{% extends 'base_page_registration.html' %}

{% block head_title %}เปลี่ยนรหัสผ่านใหม่ | {{ settings.WEBSITE_NAME }}{% endblock %}
{% block body_class %}{{ block.super }} page-registration-reset{% endblock %}

{% block registration_header %}เปลี่ยนรหัสผ่านใหม่{% endblock %}

{% block registration_content %}
<form method="POST" action="." role="form">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
        <label for="id_email">อีเมลผู้ใช้</label>
        <div class="text-control">{{ form.email }}</div>
        {{ form.email.errors }}
    </div>

    <div class="form-actions">
        <button type="submit" class="style-primary-button">เปลี่ยนรหัสผ่าน</button>
        <a href="{% url 'view_user_login' %}" class="link"> กลับไปหน้าเข้าสู่ระบบ</a>
    </div>
</form>
{% endblock %}
