{% extends 'base.html' %}
{% load thumbnail common_tags presentation_tags %}

{% block head_title %}{{ workshop.title }} - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block body_class %}page-workshop-outline{% endblock %}

{% block scripts %}
<script>
(function() {
    {% if workshop_pictures %}
        $('#pictures-slider').royalSlider({
            controlsInside: true,
            imageScaleMode: 'fill',
            keyboardNavEnabled: true,
            controlNavigation: 'bullets'
        });
    {% endif %}

    $('.workshop-feedbacks .feedbacks').masonry({
        columnWidth: 540,
        gutter: 50,
        itemSelector: '.style-workshop-feedback'
    });

    var schedule_picker_modal = $('#modal-schedule-picker');
    schedule_picker_modal.on('show.bs.modal', function() {
        $('#modal-schedule-picker').find('input').prop('checked', false);
    });

    schedule_picker_modal.find('.button-schedule-choose').on('click', function() {
        var schedule_li = schedule_picker_modal.find('input:checked').closest('li');
        $('.workshop-reservation .reserve-schedule .datetime').html(schedule_li.find('.datetime').html());
        $('.workshop-reservation .reserve-seats .price').html(schedule_li.find('.price').html());

        var selected_seats = $('.workshop-reservation .reserve-seats select option:selected').val();
        var seats_left = parseInt(schedule_li.find('.availability em').text(), 10);

        if(seats_left > {{ settings.DISPLAY_MAXIMUM_SEATS_RESERVABLE }}) seats_left = {{ settings.DISPLAY_MAXIMUM_SEATS_RESERVABLE }};

        var options = '';
        for(var i=1; i<=seats_left; i++) {
            options = options + '<option value="' + i + '">' + i + ' คน</option>'
        }

        if(selected_seats > seats_left) selected_seats = seats_left;
        $('.workshop-reservation .reserve-seats select').html(options).selectpicker('refresh').selectpicker('val', selected_seats);

        schedule_picker_modal.modal('hide');
        return false;
    });

    $('.button-schedule-reserve').on('click', function() {

    });
})();
</script>
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ workshop.title }}</h1>
    <div class="workshop-summary">{{ workshop.summary }}</div>

    <div class="workshop-teacher">
        <div class="avatar"><a href="{% url 'view_user_profile' workshop.teacher.uid %}"><img src="{{ workshop.teacher.small_avatar_url }}" {% thumbnail_img_size 'avatar_small' %} /></a></div>
        <div class="name"><a href="{% url 'view_user_profile' workshop.teacher.uid %}">{{ workshop.teacher.name }}</a></div>
    </div>

    <div class="row workshop-pictures-reservation">
        <div class="col-lg-8">
            <div class="workshop-pictures">
                <div id="pictures-slider" class="royalSlider rsDefault">
                    {% for picture in workshop_pictures %}
                        <img src="{{ picture.image|thumbnail_url:'workshop_picture_normal' }}" alt="{{ picture.description }}" />
                    {% endfor %}
                </div>
                {% if workshop_pictures %}<script>$('#pictures-slider').royalSlider({imageScaleMode: 'fill', keyboardNavEnabled: true, controlNavigation: 'bullets'});</script>{% endif %}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="workshop-reservation">
                <div class="head"><i class="icon-signin"></i> เข้าร่วมเวิร์คช็อป</div>
                <div class="reserve-schedule">
                    <label>รอบวันที่</label>
                    <a href="#modal-schedule-picker" class="btn btn-default button-schedule-picker" data-toggle="modal"><i class="icon-calendar"></i><span class="datetime">{{ upcoming_schedule|schedule_datetime_duration }}</span></a>
                </div>
                <div class="reserve-seats">
                    <label>จำนวนคน</label>
                    <select class="selectpicker">
                        {% workshop_schedule_seats_as_option upcoming_schedule %}
                    </select>
                    <script>$('.workshop-reservation .reserve-seats select').selectpicker({width: '100px'});</script>
                    <span class="price_per_person"><span class="x">x</span> <span class="price"><em>{{ upcoming_schedule.price|format_price }}</em> บาท</span></span>
                    {{ upcoming_schedule.price }}
                </div>
                <div class="reserve-button">
                    <a href="#" class="style-primary-button button-schedule-reserve">ลงชื่อเข้าร่วม</a>
                </div>
            </div>
            <div class="workshop-social">
                <!-- TODO -->
            </div>
        </div>
    </div>

    <div class="workshop-story style-workshop-story">
        {{ workshop.description|safe }}
    </div>

    <div class="row workshop-activities-place">
        <div class="col-lg-5">
            <div class="workshop-activities">
                <div class="head"><i class="icon-th-list"></i> กิจกรรม</div>
                <ul>
                    {% for activity in workshop.activities.all %}
                        <li>{{ activity.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="workshop-place">
                <div class="head"><i class="icon-map-marker"></i> สถานที่</div>
                <div class="clearfix">
                    <div class="map"><a href="http://maps.google.com/maps?q={{ workshop.place.latlng }}"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ workshop.place.latlng }}&zoom=13&size=270x180&markers=color:red%7Clabel:S%7C{{ workshop.place.latlng }}&sensor=false" /></a></div>
                    <div class="place">
                        <div class="name">{{ workshop.place.name }}</div>
                        <div class="address">{{ workshop.place.address }}</div>
                        <div class="direction">
                            <div class="direction_head">How to get there</div>
                            {{ workshop.place.direction|linebreaks }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated and user == workshop.teacher %}
    <div class="workshop-tools">
        <a href="{% url 'edit_workshop' workshop.uid %}" class="style-button"><i class="icon-pencil"></i> Edit workshop</a>
        <a href="{% url 'manage_workshop_overview' workshop.uid %}" class="style-button"><i class="icon-book"></i> Manage workshop</a>
    </div>
    {% endif %}

    <div class="workshop-feedbacks">
        <h2>คำนิยม</h2>
        <ul class="feedbacks">
            <li class="feedback style-workshop-feedback">
                <div class="feedback-avatar"><img src="{{ STATIC_URL }}images/sample/avatars/user4.jpg" width="50" height="50" /></div>
                <div class="feedback-right">
                    <div class="feedback-from"><a href="#">Sample Review</a> was feeling <em>excited</em></div>
                    <div class="feedback-content">
                        <p>เยอร์บีร่าโพลารอยด์เลกเชอร์ฟรุตแมนชั่นรวมมิตร งั้นเจลฮอตดอกพาสปอร์ตตนเองแพ็ค กับดักวัคค์ไฮเวย์วาทกรรม ห่วยเหมยเซาท์ เพรสอุปทาน ป๊อกนิวส์ปิยมิตรเฟอร์รี่เสือโคร่ง สามแยกเยอร์บีร่าแคร็กเกอร์โรแมนติคชะโนดโซนี่ ปาสคาลแต๋วไฮกุเช็ก</p>
                    </div>
                </div>
            </li>
            <li class="feedback style-workshop-feedback">
                <div class="feedback-avatar"><img src="{{ STATIC_URL }}images/sample/avatars/user4.jpg" width="50" height="50" /></div>
                <div class="feedback-right">
                    <div class="feedback-from"><a href="#">Sample Review</a> was feeling <em>excited</em></div>
                    <div class="feedback-content">
                        <p>เยอร์บีร่าโพลารอยด์เลกเชอร์ฟรุตแมนชั่นรวมมิตร งั้นเจลฮอตดอกพาสปอร์ตตนเองแพ็ค กับดักวัคค์ไฮเวย์วาทกรรม ห่วยเหมยเซาท์ เพรสอุปทาน ป๊อกนิวส์ปิยมิตรเฟอร์รี่เสือโคร่ง สามแยกเยอร์บีร่าแคร็กเกอร์โรแมนติคชะโนดโซนี่ ปาสคาลแต๋วไฮกุเช็ก</p>
                    </div>
                </div>
            </li>
            <li class="feedback style-workshop-feedback">
                <div class="feedback-avatar"><img src="{{ STATIC_URL }}images/sample/avatars/user4.jpg" width="50" height="50" /></div>
                <div class="feedback-right">
                    <div class="feedback-from"><a href="#">Sample Review</a> was feeling <em>excited</em></div>
                    <div class="feedback-content">
                        <p>เยอร์บีร่าโพลารอยด์เลกเชอร์ฟรุตแมนชั่นรวมมิตร งั้นเจลฮอตดอกพาสปอร์ตตนเองแพ็ค กับดักวัคค์ไฮเวย์วาทกรรม ห่วยเหมยเซาท์ เพรสอุปทาน ป๊อกนิวส์ปิยมิตรเฟอร์รี่เสือโคร่ง สามแยกเยอร์บีร่าแคร็กเกอร์โรแมนติคชะโนดโซนี่ ปาสคาลแต๋วไฮกุเช็ก</p>
                    </div>
                </div>
            </li>
            <li class="feedback style-workshop-feedback">
                <div class="feedback-avatar"><img src="{{ STATIC_URL }}images/sample/avatars/user4.jpg" width="50" height="50" /></div>
                <div class="feedback-right">
                    <div class="feedback-from"><a href="#">Sample Review</a> was feeling <em>excited</em></div>
                    <div class="feedback-content">
                        <p>เยอร์บีร่าโพลารอยด์เลกเชอร์ฟรุตแมนชั่นรวมมิตร งั้นเจลฮอตดอกพาสปอร์ตตนเองแพ็ค กับดักวัคค์ไฮเวย์วาทกรรม ห่วยเหมยเซาท์ เพรสอุปทาน ป๊อกนิวส์ปิยมิตรเฟอร์รี่เสือโคร่ง สามแยกเยอร์บีร่าแคร็กเกอร์โรแมนติคชะโนดโซนี่ ปาสคาลแต๋วไฮกุเช็ก</p>
                    </div>
                </div>
            </li>
            {% for feedback in feedbacks %}
                {% include 'snippets/workshop_feedback_box.html' %}
            {% endfor %}
        </ul>
    </div>
</div>

{% comment %}
<div class="course-schedules">
    <a name="join-workshop"></a>
    <div class="container">
        <div class="clearfix">
            <div class="schedules-calendar">
                <div id="enrollment-calendar"></div>
                <div class="legend"><i class="available"></i> Has available schedule</div>
            </div>
            <div class="schedules-list">
                <ul>
                    {% for schedule in course_schedules %}
                        <li{% if forloop.counter > 3 %} class="hide"{% endif %}>
                            <div class="schedule">
                                <span class="schedule-date"><i class="icon-calendar"></i> <em>วัน{{ schedule.start_datetime|date:'l' }},</em> {{ schedule.start_datetime|date:'j F Y' }}</span>
                                <span class="schedule-time"><i class="icon-time"></i> {{ schedule.start_datetime|date:'H:i' }} น. - {{ schedule|course_schedule_end_datetime|date:'H:i' }} น.</span>
                            </div>
                            <div class="join">
                                <div class="price">
                                    <span class="number">{{ course.price|floatformat:0 }} บาท</span>
                                    <span class="availability">เหลือที่ว่าง {{ schedule.stats_seats_left }} ที่นั่ง</span>
                                </div>
                                <div class="button">
                                    <a href="#modal-enrollment-confirm" class="style-orange-button" data-schedule-id="{{ schedule.id }}" data-price="{{ course.price|floatformat:0 }}" data-seats-left="{{ schedule.stats_seats_left }}" data-schedule-text="วัน{{ schedule.start_datetime|date:'l' }}, {{ schedule.start_datetime|date:'j F Y' }} เวลา {{ schedule.start_datetime|date:'H:i' }} น."><i class="icon-signin"></i> ลงชื่อ</a>
                                </div>
                            </div>
                        </li>
                        {% if forloop.counter == 4 %}
                            <li><a href="#" class="viewall button-show-all-schedules">View all schedules</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>{% endcomment %}

{% endblock %}

{% block modals %}
{% include 'snippets/modal_enrollment_confirm.html' %}

<div class="modal fade" id="modal-schedule-picker">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">เลือกรอบ</h4>
            </div>
            <div class="modal-body">
                <ul>
                    {% for schedule in workshop_schedules %}
                    <li class="clearfix" data-schedule-id="{{ schedule.id }}">
                        <div class="input"><label><input type="radio" name="schedule"{% if not schedule.seats_left %} disabled="disabled"{% endif %}/> <span class="datetime">{{ schedule|schedule_datetime_duration }}</span></label></div>
                        <div class="right">
                            <div class="availability">{% if schedule.seats_left %}เหลือที่ว่าง <em>{% comment %}{{ schedule.seats_left }}{% endcomment %}3</em> ที่นั่ง{% else %}เต็ม{% endif %}</div>
                            <div class="price"><em>{{ schedule.price|format_price }}</em> บาท</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="style-primary-button button-schedule-choose">เลือก</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block body1 %}

<!-- Similar Workshops -->

<div class="modal fade hide" id="modal-enrollment-login"></div>

<div class="modal hide" id="modal-enrollment-payment">
{% if page_action == 'payment' and enrollment %}
{% include 'snippets/modal_enrollment_payment.html' %}
<script>$(document).ready(function($) {$('#modal-enrollment-payment').modal();});</script>
{% endif %}
</div>

{% endblock %}