
.page-homepage {
    .headline {
        padding: 70px 0px 0px;

        .image {
            float: left;
        }

        .right {
            margin-left: 420px;
        }

        .head1 {
            color: #444;
            font-size: 38px;
            font-weight: bold;
            margin-top: 15px;
        }

        .head2 {
            color: #444;
            font-size: 28px;
            margin-top: 25px;
        }

        p {
            color: #555;
            font-size: 16px;
            line-height: 26px;
            margin-top: 20px;
        }

        .action {
            margin-top: 20px;
        }
    }

    .featured-courses {
        background-color: #F7F7F2;
        border-bottom: 1px solid #edede2;
        border-top: 1px solid #edede2;
        margin-top: 60px;
        padding: 40px 0px;

        .head {
            color: #555;
            font-size: 20px;
            margin-bottom: 30px;
            text-align: center;
        }

        ul.courses {
            margin: 0;

            li.course {
                background-color: #FFF;
                border: 1px solid #E7E7E7;
                border-radius: 5px;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);
                display: inline-block;
                list-style: none;
                margin-right: 60px;
                width: 550px;

                .top {
                    padding: 14px 20px 15px;
                }

                .title {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 26px;
                    margin-bottom: 7px;

                    a {
                        .content_link;
                    }
                }

                .at_glance {
                    .topic {
                        a {
                            color: #666;
                            font-size: 13px;
                            font-weight: bold;
                        }
                    }

                    .separator {
                        color: #CCC;
                        margin: 0px 5px;
                    }

                    .duration {
                        color: #666;
                        font-size: 13px;
                    }
                }

                .cover {
                    margin-top: 10px;

                    img {
                        height: 200px;
                        width: 550px;
                    }
                }

                .teacher {
                    margin-top: 15px;

                    .avatar {
                        float: left;
                        margin-right: 10px;

                        img {
                            border-radius: 50px;
                            height: 50px;
                            width: 50px;
                        }
                    }

                    .name {
                        color: #444;
                        display: block;
                        font-size: 15px;
                        font-weight: bold;
                        padding-top: 4px;
                    }

                    .doing {
                        color: #666;
                        display: block;
                        font-size: 13px;
                    }
                }

                .next {
                    border-top: 1px dashed #DDD;
                    color: #444;
                    font-size: 13px;
                    font-weight: bold;
                    padding: 10px 20px;

                    i {
                        color: #C30;
                        margin-right: 5px;
                    }

                    a {
                        .content_link;
                        margin-left: 6px;
                        //float: right;
                    }
                }



                /*

                .bottom {
                    //border-top: 1px solid #EEE;
                    padding-top: 15px;
                }

                .cover {
                    float: left;

                    img {
                        height: 200px;
                        width: 200px;
                    }
                }

                .right {
                    margin-left: 220px;
                }*/

                /*
                .topic {

                    ul {
                        display: inline;
                        margin: 0;

                        li {
                            display: inline-block;
                            list-style: none;

                            a {
                                color: #444;
                                font-size: 15px;
                                font-weight: bold;
                            }
                        }
                    }
                }*/

                /*
                ul.statistics {
                    margin: 0;

                    li {
                        float: left;
                        list-style: none;
                        margin-right: 20px;

                        em {
                            color: #444;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: bold;
                        }

                        .text {
                            display: inline-block;
                            margin-left: 5px;
                            vertical-align: bottom;
                        }

                        .unit {
                            color: #444;
                            font-size: 16px;
                            font-weight: bold;
                            margin-left: 5px;
                        }

                        .desc {
                            color: #666;
                            font-size: 13px;
                            display: block;
                            line-height: 16px;
                        }
                    }
                }

                .teacher {
                    .avatar {
                        float: left;
                        margin-right: 10px;

                        img {
                            border-radius: 50px;
                            height: 50px;
                            width: 50px;
                        }
                    }

                    .name {
                        color: #444;
                        display: block;
                        font-size: 15px;
                        font-weight: bold;
                        padding-top: 4px;
                    }

                    .doing {
                        color: #666;
                        display: block;
                        font-size: 13px;
                    }
                }

                .footer {

                }*/
            }
        }
    }
}