#modal-error-message {
    h3 {
        color: #C30;
    }

    .modal-body p {

    }
}

#registration-modal {
    .modal-dialog {
        width: 700px;
    }

    .backend-social {
        margin-top: 15px;
        text-align: center;

        .facebook {
            .login_facebook_button;
            margin: 0 15px;
        }

        .twitter {
            .login_twitter_button;
            margin: 0 15px;
        }
    }

    .or {
        line-height: 12px;
        margin: 35px auto 5px;
        text-align: center;

        hr {
            border: none;
            border-bottom: 1px solid #DDD;
            margin: 5px 0px;
        }

        span {
            background-color: #FFF;
            color: #888;
            font-size: 12.5px;
            display: inline-block;
            padding: 0 10px;
            position: relative;
            top: -13px;
        }
    }

    .backend-email {
        margin-bottom: 20px;

        .head {
            color: #666;
            font-family: 'QuarkLight', sans-serif;
            font-size: 20px;
            margin-bottom: 8px;
            text-align: center;
        }

        form {
            margin: 0;
            text-align: center;

            input {
                font-size: 15px;
                margin: 0 auto 15px;
                width: 230px;
            }

            .actions {
                margin-top: 2px;

                .error {
                    color: #C30;
                    font-size: 13px;
                    margin-bottom: 8px;
                }

                .style-button {
                    font-size: 13px;
                    height: auto;
                    margin: 0;
                    padding: 5px 40px;
                    width: auto;
                }
            }

            .forgot {
                margin-top: 7px;

                a {
                    .grey_link;
                    font-size: 12px;
                }
            }
        }

        .email-login {
            float: left;
            vertical-align: top;
            width: 319px;
        }

        .email-register {
            float: left;
            vertical-align: top;
            width: 319px;
        }
    }
}

#modal-reserve-workshop {
    .modal-body {
        h4.title {
            font-family: 'QuarkLight', sans-serif;
            font-size: 28px;
            margin: 0;
            padding: 20px 0 10px;

            i {
                margin-right: 3px;
            }
        }
    }

    .reservation-confirm {
        .title {
            color: @colorBlue;
        }

        .workshop {
            border-top: 1px solid #DDD;
            padding-top: 13px;

            .workshop-title {
                color: #444;
                font-family: 'QuarkLight', sans-serif;
                font-size: 24px;
            }

            .schedule {
                color: #777;
                font-size: 15px;
                margin-top: 4px;
            }
        }

        .payment {
            border-bottom: 1px solid #DDD;
            border-top: 1px dashed #DDD;
            color: #999;
            margin: 15px 0 10px;
            padding: 12px 10px 8px;

            .price, .people, .total {
                color: #444;
                font-family: 'QuarkLight', sans-serif;
                font-size: 20px;
            }

            .price {
                margin-right: 6px;
            }

            .people {
                margin-left: 6px;
            }

            .total {
                float: right;
            }
        }

        .button-confirm {
            padding: 7px 40px;
        }
    }

    .reservation-payment {
        .title {
            color: @colorPositive;
        }

        .pay {
            color: #666;
            font-size: 15px;
            margin: 10px 0 15px;
        }

        ul.banks {
            margin: 0;
            padding: 0;

            li {
                border: 1px solid #DDD;
                list-style: none;
                margin-bottom: 15px;
                padding: 8px 0px 8px 80px;

                .bank {
                    color: #555;
                    font-size: 16px;
                }

                .account-owner {
                    margin-top: 5px;
                }

                .account-number {
                    color: #555;
                    font-size: 20px;
                    font-weight: bold;
                }

                .account-name {
                    color: #555;
                    font-size: 16px;
                    margin-left: 15px;
                }

                &.kbank {
                    background: url(../images/banks/kbank.png) 15px center no-repeat;
                }
            }
        }

        .note {
            color: #777;
            font-size: 13px;
            line-height: 23px;
            margin-bottom: 15px;
        }
    }

    .reservation-notify {
        .title {
            color: @colorBlue;
        }

        form {
            label {
                color: #555;
                font-family: 'QuarkLight', sans-serif;
                font-size: 20px;
                font-weight: normal;
                margin: 0;
            }

            .form-row {
                margin-bottom: 10px;

                .form-group {
                    display: inline-block;
                    margin-right: 25px;
                    vertical-align: top;
                }
            }

            input, select {
                font-size: 15px;
                display: inline;
                width: auto;
            }

            .unit {
                color: #555;
                font-family: 'QuarkLight', sans-serif;
                font-size: 20px;
                margin-left: 7px;
            }


            .bank-control select {
                width: 260px;
            }

            .amount-control input {
                width: 100px;
            }
        }
    }
}

#modal-notify-payment {
    form {
        label {
            color: #555;
            font-family: 'QuarkLight', sans-serif;
            font-size: 20px;
            font-weight: normal;
            margin: 0;
        }

        .form-row {
            margin-bottom: 10px;

            .form-group {
                display: inline-block;
                margin-right: 25px;
                vertical-align: top;
            }
        }

        input, select {
            font-size: 15px;
            display: inline;
            width: auto;
        }

        .unit {
            color: #555;
            font-family: 'QuarkLight', sans-serif;
            font-size: 20px;
            margin-left: 7px;
        }


        .bank-control select {
            width: 260px;
        }

        .amount-control input {
            width: 100px;
        }
    }
}

#modal-enrollment-login {
    margin-left: -300px;
    width: 600px;

    .modal-body {
        padding-top: 15px;
    }

    .why {
        float: left;
        width: 290px;

        .head {
            font-size: 19px;
        }

        ul {
            li {
                color: #555;
                margin-top: 15px;

                strong {
                    color: #444;
                    display: block;
                    font-size: 15px;
                    margin-bottom: 3px;
                }
            }
        }
    }

    .registration {
        margin-left: 315px;

        .backend-social {
            margin-top: 20px;

            .facebook {
                .login_facebook_button;
                margin-bottom: 15px;
            }

            .twitter {
                .login_twitter_button;
            }

            .email {
                margin-top: 15px;
                text-align: center;

                a {
                    .grey_link;
                    font-size: 13px;
                }
            }
        }

        .backend-email {
            .back {
                .grey_link;
                font-size: 13px;
                margin-bottom: 5px;
            }

            form {
                margin-top: 10px;
                text-align: center;

                input {
                    font-size: 15px;
                    height: 27px;
                    width: 233px;
                }

                button {
                    padding: 5px 30px;
                }

                .error {
                    color: #C30;
                    margin-bottom: 10px;
                }

                .success {
                    color: #1ABC9C;
                    margin-bottom: 10px;
                }
            }

            .signup {
                margin-top: 10px;
                text-align: center;

                a {
                    .content_link;
                    font-size: 13px;
                }
            }
        }
    }
}

#modal-enrollment-confirm {
    .modal-body {
        .schedule {
            .title {
                color: @primaryColor;
                font-size: 16px;
                font-weight: bold;
            }

            .datetime {
                color: #666;
                margin-top: 5px;
            }
        }

        .amount {
            border-bottom: 1px dashed #DDD;
            border-top: 1px dashed #DDD;
            margin-top: 18px;
            padding: 11px 0;

            .people {
                display: inline-block;
                vertical-align: bottom;

                select {
                    margin: 0 10px 0 0;
                    width: 90px;
                }
            }

            .price {
                color: #888;
                display: inline-block;
                vertical-align: bottom;

                em {
                    color: #555;
                    font-weight: bold;
                }
            }

            .total {
                color: #888;
                float: right;
                margin-top: 9px;

                em {
                    color: #C30;
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0 3px;
                }
            }
        }
    }
}

#modal-enrollment-payment {
    margin-left: -350px;
    width: 700px;

    .modal-body {
        padding-bottom: 35px;

        .reserved {
            background-color: @alertGreenColor;
            border-radius: 4px;
            color: #FFF;
            font-size: 16px;
            margin-bottom: 20px;
            padding: 10px 15px;

            i {
                font-size: 18px;
                margin-right: 3px;
            }
        }

        .step {
            .text {
                color: #555;
                font-weight: bold;
                margin-bottom: 12px;

                em {
                    background-color: @primaryColor;
                    border-radius: 26px;
                    color: #FFF;
                    display: inline-block;
                    height: 26px;
                    line-height: 26px;
                    margin-right: 10px;
                    text-align: center;
                    width: 26px;
                }
            }

            .step-panel {
                padding-left: 36px;
            }
        }

        ul.banks {
            margin: 0;

            li {
                list-style: none;
                margin-bottom: 20px;
                padding-left: 145px;

                .bank {
                    color: #555;
                    font-size: 14px;
                    font-weight: bold;
                }

                .account-type {
                    color: #888;
                    font-size: 13px;
                }

                .account-number {
                    color: #444;
                    font-size: 18px;
                    margin-top: 5px;
                }

                .account-name {
                    color: #444;
                    font-size: 15px;
                    margin-top: 5px;
                }

                &.kbank {
                    background: url(../images/banks/kbank.png) left 6px no-repeat;
                }
            }
        }

        .button-notify-payment {
            font-size: 14px;
            padding: 7px 35px 8px;
        }
    }
}

#modal-enrollment-details {
    .head {
        color: @primaryColor;
        font-size: 14px;
        font-weight: bold;
    }

    .details-course {
        background-color: #EEE;
        margin: 7px 0 20px;
        padding: 10px 15px;

        .title {
            color: #444;
            font-size: 15px;
            font-weight: bold;
        }

        .details {
            margin-top: 4px;

            .caption {
                color: #777;
                font-size: 12px;
            }

            em {
                color: #555;
                font-size: 14px;
            }

            .teacher {
                margin-right: 15px;
            }
        }
    }

    .details-enrollment {
        margin-top: 2px;

        .data {
            display: inline-block;
            margin-right: 25px;

            span {
                color: #444;
                font-size: 13px;
            }

            em {
                display: block;
                font-size: 15px;
                font-weight: bold;
            }
        }
    }

    .details-timestamp {
        color: #777;
        font-size: 13px;
        margin-top: 7px;
    }
}

#modal-payment-notify {
    .modal-body {
        #id_modal_notified_bank {
            font-size: 15px;
            height: 34px;
            width: 300px;

            option {
                padding: 4px 6px;
            }
        }

        #id_modal_notified_amount {
            width: 80px;
        }

        #id_modal_notified_date {
            width: 190px;
        }

        #id_modal_notified_time_hour, #id_modal_notified_time_minute {
            font-size: 15px;
            width: 60px;
        }

        #id_modal_notified_remark {
            width: 480px;
        }

        .separator {
            color: #777;
            font-size: 16px;
            margin: 0 3px;
        }

        .unit {
            color: #666;
            font-size: 13px;
            margin-left: 7px;
        }
    }
}

#modal-message-write {
    .modal-body {
        padding-bottom: 0;

        .recipient {
            border-left: 5px solid @primaryColor;
            background-color: #F7F7F7;
            margin-bottom: 15px;
            padding: 8px 12px;

            i {
                color: #BBB;
                margin-right: 5px;
            }

            em {
                font-weight: bold;
                color: #555;
            }
        }

        label {
            color: #555;
            font-size: 13px;
            font-weight: bold;
        }

        .subject {
            margin-bottom: 7px;

            input {
                font-size: 16px;
                height: 30px;
                width: 97%;
            }
        }

        .body {
            textarea {
                height: 80px;
                width: 97%;
            }
        }
    }
}

#modal-place-map {
    .modal-dialog {
        width: 700px;
    }

    .search-control {
        button {
            padding: 6px 30px;
            vertical-align: middle;
        }

        input {
            display: inline;
            margin: 0 7px 0 0;
            vertical-align: middle;
            width: 300px;
        }
    }

    .map {
        margin-top: 15px;

        #map-canvas {
            height: 300px;
            width: 638px;

            img {
                max-width: none; // FIX: Google Maps conflicts with Twitter Bootstrap
            }
        }
    }

    .modal-footer .note {
        color: #555;
        float: left;
        font-size: 13px;
        line-height: 22px;
        text-align: left;
        width: 340px;

        strong {
            color: #444;
            font-size: 14px;
            font-weight: bold;
            margin-right: 3px;
        }

        em {
            font-style: italic;
        }
    }
}

#modal-workshop-submitted {
    .modal-body p {
        color: #444;
        font-size: 16px;
        line-height: 25px;
    }
}

#modal-publish-workshop {
    .modal-body .promote-panel {
        padding-bottom: 10px;

        label {
            color: #555;
            font-weight: normal;
            margin-right: 6px;
        }

        input {
            border: 1px solid #BBB;
            color: #555;
            display: block;
            font-size: 13px;
            padding: 6px 10px;
            width: 100%;
        }
    }
}

.modal-add-schedule {
    .modal-dialog {
        width: 460px;
    }

    .modal-body {
        padding: 0px 20px 0;
    }

    .schedule-datetime {
        margin-bottom: 20px;

        .schedule-date {
            margin-bottom: 20px;

            .calendar {
                display: inline-block;
            }

            .ui-datepicker {
                border: 1px solid #EEE;
                padding: 15px 26px 20px;

                .ui-datepicker-calendar {
                    td {
                        height: 36px;
                        width: 48px;

                        a, span {
                            font-size: 14px;
                            height: 34px;
                            line-height: 34px;
                            width: 46px;
                        }
                    }
                }
            }
        }

        .schedule-time {
            padding-left: 5px;

            label {
                font-size: 15px;
                font-weight: normal;
                margin: 0 7px 0 0;
                vertical-align: middle;
            }

            .selectboxit-container {
                vertical-align: middle;
            }

            .separator {
                color: #888;
                font-size: 16px;
                margin: 0 5px;
            }
        }
    }

    .schedule-default {
        margin-bottom: 10px;

        .expand {
            i {
                color: #777;
            }

            a {
                color: #666;
                font-size: 13px;
                text-decoration: underline;

                &:hover, &:focus {
                    color: @linkColor;
                }
            }
        }

        .input {
            padding: 10px 0;
        }

        .schedule-price, .schedule-capacity {
            display: inline-block;
            margin-right: 15px;

            label {
                color: #444;
                font-weight: normal;
                margin-right: 5px;
            }

            input {
                border: 1px solid #CCC;
                font-size: 14px;
                height: 27px;
                padding: 3px 10px;
                text-align: center;
                width: 60px;

                &.error {
                    background-color: @colorNegativeLight;
                }
            }

            .unit {
                color: #444;
                margin-left: 7px;
            }
        }
    }
}

#modal-write-feedback {
    .modal-body {
        label.form-label {
            color: #555;
            font-family: 'QuarkLight', sans-serif;
            font-size: 20px;
            font-weight: normal;
        }
    }

    .input-feelings {
        margin-bottom: 20px;

        ul {
            margin: 0;
            padding: 0;

            li {
                background-color: #EEE;
                display: inline-block;
                list-style: none;
                margin: 0 1px 1px 0;

                label {
                    color: #444;
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 38px;
                    margin: 0;
                    padding: 0 10px;
                    vertical-align: middle;
                }

                input {
                    margin: 0 3px 0 0;
                    vertical-align: 1px;
                }

                &.checked {
                    background-color: @colorBlue;

                    label {
                        color: #FFF;
                    }
                }
            }
        }
    }

    .input-content {
        margin-bottom: 15px;

        textarea {
            border-radius: 0;
            display: block;
            height: 80px;
        }
    }
}

#modal-view-feedback {
    .modal-loading {
        font-size: 15px;

        img {
            margin-right: 5px;
            vertical-align: middle;
        }
    }

    .feelings {
        margin-bottom: 15px;

        i {
            font-size: 16px;
            margin-right: 3px;
        }

        em {
            color: #444;
            font-style: italic;
        }
    }

    .content {
        p {
            color: #444;
            font-size: 13.5px;
            line-height: 23px;
            margin-bottom: 15px;
        }
    }

    .button-delete-feedback {
        .danger_link;
        display: inline-block;
        float: left;
        margin: 8px 0 0;
        padding: 0;
    }

    .modal-footer .popover-content .btn {
        font-size: 12px;
        margin: 0;
        padding: 2px 10px;

        .btn-danger {
            margin-right: 10px;
        }
    }
}