.btn {
  font-size: 12px;
}
[class^="icon-"],
[class*=" icon-"] {
  vertical-align: -2px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: none;
}
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: inherit;
  border-color: #cccccc;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.dropdown-menu {
  border-radius: 2px;
}
.dropdown-menu li a {
  font-size: 0.9em;
}
.dropdown-menu li.divider {
  margin: 7px 1px;
}
.form-actions {
  background-color: transparent;
  border: none;
  padding: 0px;
}
.form-actions .btn {
  font-size: 13px;
  margin-right: 15px;
  padding: 8px 30px;
}
.style-button {
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 13.5px;
  font-weight: bold;
  padding: 7px 30px;
  background-color: #DDD;
  box-shadow: 0px 3px 0px #BBB;
  color: #444;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}
.style-button:hover {
  color: #FFF;
  text-decoration: none;
}
.style-button i {
  margin-right: 3px;
  vertical-align: middle;
}
.style-button:hover {
  background-color: #1693a5;
  box-shadow: 0px 2px 0px #137f8e;
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}
.style-orange-button {
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 13.5px;
  font-weight: bold;
  padding: 7px 30px;
  background-color: #e46217;
  box-shadow: 0px 3px 0px #cd5815;
  color: #FFF;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}
.style-orange-button:hover {
  color: #FFF;
  text-decoration: none;
}
.style-orange-button i {
  margin-right: 3px;
  vertical-align: middle;
}
.style-primary-button {
  border: none;
  border-radius: 4px;
  display: inline-block;
  font-size: 13.5px;
  font-weight: bold;
  padding: 7px 30px;
  background-color: #1693a5;
  color: #FFF;
}
.style-primary-button:hover {
  color: #FFF;
  text-decoration: none;
}
.style-primary-button i {
  margin-right: 3px;
  vertical-align: middle;
}
.style-primary-button:hover {
  background-color: #137f8e;
}
.topic-header-public-speaking {
  background-image: url(../images/topics/topic-public-speaking.png);
  background-repeat: no-repeat;
}
html,
body {
  background-color: #FFF;
}
#body-header {
  height: 65px;
}
#body-header .logo {
  float: left;
  font-size: 26px;
  font-weight: bold;
  padding: 12px 0;
}
#body-header .logo a {
  color: #1693a5;
}
#body-header .navigation {
  float: left;
  margin-left: 130px;
}
#body-header .navigation ul {
  border-right: 1px solid #E9E9E9;
  margin: 0;
}
#body-header .navigation ul li {
  float: left;
  list-style: none;
}
#body-header .navigation ul li a {
  border-left: 1px solid #E9E9E9;
  color: #555;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 65px;
  padding: 0px 20px;
}
#body-header .navigation ul li a.teach {
  border-right: 1px solid #E9E9E9;
}
#body-header .navigation ul li a i {
  color: #1693a5;
  margin-right: 5px;
  vertical-align: middle;
}
#body-header .navigation ul li a i.icon-search {
  margin-right: 3px;
  vertical-align: 1px;
}
#body-header .navigation ul li a:hover {
  background-color: #1693a5;
  color: #FFF;
  text-decoration: none;
}
#body-header .navigation ul li a:hover i {
  color: #FFF;
}
#body-header .account {
  float: right;
}
#body-header .account .registration {
  padding: 23px 0px 15px;
}
#body-header .account .registration a {
  font-size: 13.5px;
  font-weight: bold;
  margin-left: 12px;
}
#body-header .account .registration a:link,
#body-header .account .registration a:active,
#body-header .account .registration a:visited {
  color: #1693a5;
  text-decoration: underline;
}
#body-header .account .registration a:hover {
  background-color: #1693a5;
  color: #FFF;
  text-decoration: underline;
  text-shadow: none;
}
#body-header .account .user {
  padding-top: 15px;
}
#body-header .account .user .notification {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
#body-header .account .user .notification a {
  background-color: #DDD;
  border-radius: 4px;
  color: #FFF;
  display: inline-block;
  padding: 4px 10px;
  text-decoration: none;
}
#body-header .account .user .notification a i {
  vertical-align: middle;
}
#body-header .account .user .notification a .number {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}
#body-header .account .user .notification .has-alert {
  background-color: #e46217;
}
#body-header .account .user .menu {
  display: inline-block;
  vertical-align: middle;
}
#body-header .account .user .menu .dropdown-toggle {
  display: inline-block;
  padding: 5px 5px 5px 8px;
  text-decoration: none;
}
#body-header .account .user .menu .dropdown-toggle img {
  border-radius: 30px;
}
#body-header .account .user .menu .dropdown-toggle i {
  color: #797979;
  font-size: 15px;
  margin-left: 7px;
  vertical-align: middle;
}
#body-header .account .user .menu .dropdown-toggle:hover {
  background-color: #EEE;
  border-radius: 4px;
}
#body-header .account .user .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
#body-footer .website {
  font-size: 13px;
  text-align: center;
}
.page-registration #body-header {
  border-bottom: 1px solid #E9E9E9;
}
.page-registration .registration-body .registration-box {
  margin: 90px auto;
  width: 500px;
}
.page-registration .registration-body h1 {
  color: #444;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}
.page-registration .registration-body .login-social {
  border-bottom: 1px solid #EEE;
  margin: 30px 0 10px;
  padding-bottom: 30px;
}
.page-registration .registration-body .login-social .facebook {
  background: url(../images/ui/login.socials.en.png) 0px 0px no-repeat;
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  width: 230px;
}
.page-registration .registration-body .login-social .facebook:hover {
  background-position: -230px 0px;
}
.page-registration .registration-body .login-social .twitter {
  background: url(../images/ui/login.socials.en.png) 0px -40px no-repeat;
  display: inline-block;
  height: 40px;
  text-indent: -9999px;
  width: 230px;
  margin-left: 20px;
}
.page-registration .registration-body .login-social .twitter:hover {
  background-position: -230px -40px;
}
.page-registration .registration-body .login-email {
  text-align: center;
}
.page-registration .registration-body .login-email .or {
  color: #999;
  margin-bottom: 15px;
}
.page-registration .registration-body .login-email form {
  margin: 0;
}
.page-registration .registration-body .login-email form .text-input input {
  font-size: 15px;
  height: 30px;
  text-align: center;
  width: 280px;
}
.page-registration .registration-body .login-email form .style-button {
  margin-top: 7px;
  padding: 9px 50px;
}
.page-registration .registration-body .login-email form .forgot {
  margin-top: 10px;
}
.page-registration .registration-body .login-email form .forgot a {
  font-size: 13px;
}
.page-registration .registration-body .login-email form .forgot a:link,
.page-registration .registration-body .login-email form .forgot a:active,
.page-registration .registration-body .login-email form .forgot a:visited {
  color: #888;
  text-decoration: underline;
}
.page-registration .registration-body .login-email form .forgot a:hover {
  background-color: #1693a5;
  color: #FFF;
  text-decoration: underline;
  text-shadow: none;
}
.page-registration .registration-body .login-email form .button {
  margin-top: 5px;
}
.page-registration .registration-body .login-email form .button .btn {
  color: #555;
  font-size: 13px;
  height: 32px;
  vertical-align: middle;
  width: 140px;
}
.page-registration .registration-body .login-email form .button a {
  color: #666;
  font-size: 13px;
  margin-left: 15px;
  vertical-align: bottom;
}
.page-homepage .headline {
  padding: 70px 0px 0px;
}
.page-homepage .headline .image {
  float: left;
}
.page-homepage .headline .right {
  margin-left: 420px;
}
.page-homepage .headline .head1 {
  color: #444;
  font-size: 38px;
  font-weight: bold;
  margin-top: 15px;
}
.page-homepage .headline .head2 {
  color: #444;
  font-size: 28px;
  margin-top: 25px;
}
.page-homepage .headline p {
  color: #555;
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}
.page-homepage .headline .action {
  margin-top: 20px;
}
.page-homepage .featured-courses {
  background-color: #F7F7F2;
  border-bottom: 1px solid #edede2;
  border-top: 1px solid #edede2;
  margin-top: 60px;
  padding: 40px 0px;
}
.page-homepage .featured-courses .head {
  color: #555;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.page-homepage .featured-courses ul.courses {
  margin: 0;
}
.page-homepage .featured-courses ul.courses li.course {
  background-color: #FFF;
  border: 1px solid #E7E7E7;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);
  display: inline-block;
  list-style: none;
  margin-right: 60px;
  width: 550px;
}
.page-homepage .featured-courses ul.courses li.course .top {
  padding: 14px 20px 15px;
}
.page-homepage .featured-courses ul.courses li.course .title {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 7px;
}
.page-homepage .featured-courses ul.courses li.course .title a:link,
.page-homepage .featured-courses ul.courses li.course .title a:active,
.page-homepage .featured-courses ul.courses li.course .title a:visited {
  color: #1693a5;
  text-decoration: underline;
}
.page-homepage .featured-courses ul.courses li.course .title a:hover {
  background-color: #1693a5;
  color: #FFF;
  text-decoration: underline;
  text-shadow: none;
}
.page-homepage .featured-courses ul.courses li.course .at_glance .topic a {
  color: #666;
  font-size: 13px;
  font-weight: bold;
}
.page-homepage .featured-courses ul.courses li.course .at_glance .separator {
  color: #CCC;
  margin: 0px 5px;
}
.page-homepage .featured-courses ul.courses li.course .at_glance .duration {
  color: #666;
  font-size: 13px;
}
.page-homepage .featured-courses ul.courses li.course .cover {
  margin-top: 10px;
}
.page-homepage .featured-courses ul.courses li.course .cover img {
  height: 200px;
  width: 550px;
}
.page-homepage .featured-courses ul.courses li.course .teacher {
  margin-top: 15px;
}
.page-homepage .featured-courses ul.courses li.course .teacher .avatar {
  float: left;
  margin-right: 10px;
}
.page-homepage .featured-courses ul.courses li.course .teacher .avatar img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}
.page-homepage .featured-courses ul.courses li.course .teacher .name {
  color: #444;
  display: block;
  font-size: 15px;
  font-weight: bold;
  padding-top: 4px;
}
.page-homepage .featured-courses ul.courses li.course .teacher .doing {
  color: #666;
  display: block;
  font-size: 13px;
}
.page-homepage .featured-courses ul.courses li.course .next {
  border-top: 1px dashed #DDD;
  color: #444;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 20px;
}
.page-homepage .featured-courses ul.courses li.course .next i {
  color: #C30;
  margin-right: 5px;
}
.page-homepage .featured-courses ul.courses li.course .next a {
  margin-left: 6px;
}
.page-homepage .featured-courses ul.courses li.course .next a:link,
.page-homepage .featured-courses ul.courses li.course .next a:active,
.page-homepage .featured-courses ul.courses li.course .next a:visited {
  color: #1693a5;
  text-decoration: underline;
}
.page-homepage .featured-courses ul.courses li.course .next a:hover {
  background-color: #1693a5;
  color: #FFF;
  text-decoration: underline;
  text-shadow: none;
}
.page-course-outline #body-header {
  border-bottom: 1px solid #E9E9E9;
}
.page-course-outline .course-header {
  background-position: left top;
  margin-top: 40px;
  padding-left: 90px;
}
.page-course-outline .course-header .title {
  color: #444;
  font-size: 24px;
  font-weight: bold;
}
.page-course-outline .course-header .topic {
  margin-top: 10px;
}
.page-course-outline .course-header .topic a {
  color: #888;
  font-size: 14px;
  font-weight: bold;
}
.page-course-outline .course-header .teacher {
  margin-top: 7px;
}
.page-course-outline .course-header .teacher a {
  font-size: 15px;
  font-weight: bold;
}
.page-course-outline .course-header .teacher a:link,
.page-course-outline .course-header .teacher a:active,
.page-course-outline .course-header .teacher a:visited {
  color: #1693a5;
  text-decoration: underline;
}
.page-course-outline .course-header .teacher a:hover {
  background-color: #1693a5;
  color: #FFF;
  text-decoration: underline;
  text-shadow: none;
}
.page-course-outline .course-header .teacher .doing {
  color: #777;
  font-size: 15px;
  margin-left: 10px;
}
.page-course-outline .course-numbers {
  border: 1px solid #EEE;
  margin: 20px 0 30px;
}
.page-course-outline .course-numbers .item {
  border-right: 1px solid #EEE;
  float: left;
  padding: 10px 20px 10px 20px;
}
.page-course-outline .course-numbers .item .caption {
  color: #999;
  display: block;
  font-size: 13px;
  margin-bottom: 4px;
}
.page-course-outline .course-numbers .item .number {
  color: #555;
  font-size: 16px;
}
.page-course-outline .course-numbers .item .number em {
  color: #555;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  margin-right: 3px;
}
.page-course-outline .course-numbers .item .number em.nobold {
  font-weight: normal;
}
.page-course-outline .course-description {
  float: left;
  width: 800px;
}
.page-course-outline .course-description .pictures img {
  width: 800px;
}
.page-course-outline .course-description .description .head {
  color: #444;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.page-course-outline .course-description .description p {
  color: #444;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}
.page-course-outline .course-description .description img {
  max-width: 700px;
  border: 1px solid #DDD;
  padding: 4px;
}
.page-course-outline .course-description .teacher {
  background-color: #F9F9F9;
  border: 1px solid #E9E9E9;
  margin-top: 20px;
  padding: 15px 20px;
}
.page-course-outline .course-description .teacher .avatar {
  float: left;
}
.page-course-outline .course-description .teacher .avatar img {
  border-radius: 100px;
  height: 100px;
  width: 100px;
}
.page-course-outline .course-description .teacher .right {
  margin-left: 125px;
}
.page-course-outline .course-description .teacher .head {
  color: #444;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.page-course-outline .course-description .teacher .name a {
  font-size: 20px;
  font-weight: bold;
}
.page-course-outline .course-description .teacher .name a:link,
.page-course-outline .course-description .teacher .name a:active,
.page-course-outline .course-description .teacher .name a:visited {
  color: #1693a5;
  text-decoration: underline;
}
.page-course-outline .course-description .teacher .name a:hover {
  background-color: #1693a5;
  color: #FFF;
  text-decoration: underline;
  text-shadow: none;
}
.page-course-outline .course-description .teacher .doing {
  color: #444;
  font-weight: bold;
  margin-top: 7px;
}
.page-course-outline .course-description .teacher .credentials {
  color: #555;
  line-height: 22px;
  margin-top: 10px;
}
.page-course-outline .course-description .teacher .credentials p {
  margin-bottom: 15px;
}
.page-course-outline .course-sidebar {
  float: left;
  margin-left: 40px;
  width: 330px;
}
.page-course-outline .course-reviews {
  background-color: #CCC;
  border-bottom: 1px solid #BBB;
  border-top: 1px solid #BBB;
  margin-top: 60px;
  padding: 40px 0px;
}
.page-course-outline .course-reviews .head {
  color: #555;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.page-course-outline .course-reviews ul {
  margin: 0;
}
.page-course-outline .course-reviews ul li {
  list-style: none;
  width: 330px;
}
.page-course-outline .course-reviews ul li .content {
  background-color: #FFF;
  border: 1px solid #BBB;
  border-radius: 6px;
  padding: 15px;
}
.page-my-courses #body-header {
  border-bottom: 1px solid #CCC;
}
.page-my-courses .courses-container {
  background-color: #F6F6F6;
  border-bottom: 1px solid #DDD;
  border-top: 2px solid #E9E9E9;
}
.page-my-courses .courses-header {
  margin-top: 30px;
}
.page-my-courses .courses-header .avatar {
  border-radius: 70px;
  float: left;
}
.page-my-courses .courses-header .avatar img {
  border: 1px solid #DDD;
  border-radius: 70px;
  height: 70px;
  padding: 4px;
  width: 70px;
}
.page-my-courses .courses-header .right {
  margin-left: 100px;
}
.page-my-courses .courses-header .name {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
}
.page-my-courses .courses-header .doing {
  color: #777;
  font-weight: bold;
  margin-top: 6px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
}
.page-my-courses .courses-header .stats {
  margin-top: 6px;
}
.page-my-courses .courses-header .stats ul {
  margin: 0;
}
.page-my-courses .courses-header .stats ul li {
  color: #555;
  display: inline-block;
  font-size: 13px;
  list-style: none;
  margin-right: 15px;
}
.page-my-courses .courses-header .stats ul li em {
  font-style: normal;
}
.page-my-courses .courses-body {
  margin: 25px 0px 35px;
}
.page-my-courses .courses-body .courses-content .nav {
  margin-bottom: 15px;
}
.page-my-courses .courses-body .courses-content .nav-tabs {
  border: 0;
}
.page-my-courses .courses-body .courses-content .nav-tabs > li > a {
  background-color: #E9E9E9;
  border: 0;
  border-radius: 3px;
  color: #666;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  padding: 8px 20px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
}
.page-my-courses .courses-body .courses-content .nav-tabs > li > a:hover {
  background-color: #DDD;
}
.page-my-courses .courses-body .courses-content .nav-tabs > li > a i.num {
  background-color: #FFF;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  font-style: normal;
  margin-left: 3px;
  padding: 0px 5px;
  text-shadow: none;
}
.page-my-courses .courses-body .courses-content .nav-tabs > li > a:hover,
.page-my-courses .courses-body .courses-content .nav-tabs > .active > a,
.page-my-courses .courses-body .courses-content .nav-tabs > .active > a:hover,
.page-my-courses .courses-body .courses-content .nav-tabs > .active > a:focus {
  background-color: #1693a5;
  border: 0;
  color: #FFF;
  cursor: pointer;
  text-shadow: -1px -1px 0px #777777;
}
.page-my-courses .courses-body .courses-content .nav-tabs > li > a:hover i.num,
.page-my-courses .courses-body .courses-content .nav-tabs > .active > a i.num,
.page-my-courses .courses-body .courses-content .nav-tabs > .active > a:hover i.num,
.page-my-courses .courses-body .courses-content .nav-tabs > .active > a:focus i.num {
  background-color: #FFF;
  color: #555;
}
.page-my-courses .courses-body .courses-content ul.courses {
  margin: 0;
}
.page-my-courses .courses-body .courses-content ul.courses li.course {
  background-color: #FFF;
  border: 1px solid #E3E3E3;
  border-bottom: 2px solid #CCC;
  list-style: none;
  margin-bottom: 15px;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .top {
  padding: 15px;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .cover {
  background-color: #BBB;
  height: 100px;
  float: left;
  width: 100px;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .right {
  margin-left: 115px;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .title {
  margin-top: 3px;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .title a {
  font-size: 16px;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .title a:link,
.page-my-courses .courses-body .courses-content ul.courses li.course .title a:active,
.page-my-courses .courses-body .courses-content ul.courses li.course .title a:visited {
  color: #1693a5;
  text-decoration: underline;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .title a:hover {
  background-color: #1693a5;
  color: #FFF;
  text-decoration: underline;
  text-shadow: none;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .footer {
  border-top: 1px dashed #DDD;
  padding: 8px 15px 10px;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .footer a {
  font-size: 13px;
  margin-right: 15px;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .footer a:link,
.page-my-courses .courses-body .courses-content ul.courses li.course .footer a:active,
.page-my-courses .courses-body .courses-content ul.courses li.course .footer a:visited {
  color: #888;
  text-decoration: underline;
}
.page-my-courses .courses-body .courses-content ul.courses li.course .footer a:hover {
  background-color: #1693a5;
  color: #FFF;
  text-decoration: underline;
  text-shadow: none;
}
.page-my-courses .courses-body .courses-content .no-course {
  border: 1px dashed #CCC;
  color: #999;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0px;
  text-align: center;
  text-shadow: 1px 1px #FFF;
}
.page-my-courses .courses-body .courses-sidebar .head {
  color: #444;
  font-size: 12.5px;
  font-weight: bold;
  margin-bottom: 10px;
}
.page-my-courses .courses-body .courses-sidebar ul.courses {
  margin: 0;
}
.page-my-courses .courses-body .courses-sidebar ul.courses li.course {
  border: 1px solid #DDD;
  box-shadow: 2px 2px 0px #EEE;
  list-style: none;
  margin-bottom: 15px;
  padding: 5px 10px;
}
.page-my-courses .courses-body .courses-sidebar ul.courses li.course .do {
  color: #555;
  font-size: 13px;
  font-weight: bold;
}
.page-my-courses .courses-body .courses-sidebar ul.courses li.course .countdown {
  color: #777;
  float: right;
  font-size: 12px;
}
.page-my-courses .courses-body .courses-sidebar ul.courses li.course .title a {
  font-size: 13px;
}
.page-my-courses .courses-body .courses-sidebar ul.courses li.course .title a:link,
.page-my-courses .courses-body .courses-sidebar ul.courses li.course .title a:active,
.page-my-courses .courses-body .courses-sidebar ul.courses li.course .title a:visited {
  color: #1693a5;
  text-decoration: underline;
}
.page-my-courses .courses-body .courses-sidebar ul.courses li.course .title a:hover {
  background-color: #1693a5;
  color: #FFF;
  text-decoration: underline;
  text-shadow: none;
}
.page-my-courses-upcoming ul.courses li.course .do {
  color: #555;
  font-size: 13px;
  font-weight: bold;
}
.page-my-courses-upcoming ul.courses li.course .teacher {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
}
.page-my-courses-upcoming ul.courses li.course .schedule-location {
  margin-top: 13px;
}
.page-my-courses-upcoming ul.courses li.course .schedule-location div {
  background-color: #F7F7F7;
  border-bottom: 1px solid #EEE;
  border-left: 1px solid #DDD;
  border-right: 1px solid #EEE;
  border-top: 1px solid #DDD;
  color: #555;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin-right: 10px;
  padding: 3px 12px;
  text-shadow: 1px 1px 0px #FFF;
}
