
@linkColor: #1693a5;
@linkColorDarker: #137f8e;

.content_link() {
    &:link, &:active, &:visited {
        color: @linkColor;
        text-decoration: none;
    }

    &:hover {
        text-decoration: underline;
        text-shadow: none;
    }
}

@import "styles.base.less";
@import "styles.common.less";
@import "styles.page.less";