
em {
    font-style: normal;
}

// BOOTSTRAP STYLES ####################################################################################################

.btn {
    font-size: 12px;
}

[class^="icon-"], [class*=" icon-"] {
    vertical-align: 0px;
}

.form-group {
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        border-radius: 0;
        padding: 6px;
    }
}



textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow: none;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: inherit;
    border-color: #cccccc;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.dropdown-menu {
    border-radius: 2px;

    li a {
        font-size: 0.9em;
        padding: 4px 35px 4px 20px;

        .number {
            background-color: #6c9fd4;
            border-radius: 4px;
            color: #FFF;
            display: inline-block;
            position: absolute;
            right: 10px;
            font-size: 11px;
            line-height: 16px;
            margin-top: 2px;
            padding: 0px 5px;
        }
    }

    li.divider {
        margin: 7px 1px;
    }
}

.dropdown-menu {
    margin-top: 10px;
}

.dropdown-menu > li > a {
    color: @colorNavy;
    font-size: 14px;
    padding: 8px 45px 8px 25px;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    background-color: @colorYellow;
    background-image: none;
    color: #333;
}

.form-actions {
    background-color: transparent;
    border: none;
    padding: 0px;

    .btn {
        font-size: 13px;
        margin-right: 15px;
        padding: 8px 30px;
    }
}

.tooltip.top {
    .tooltip-arrow {
        border-top-color: @colorNegative;
    }

    .tooltip-inner {
        background-color: @colorNegative;
    }
}

// BOOTSTRAP MODAL #####################################################################################################

.modal .modal-dialog .modal-content {
    border-radius: 0px;

    .modal-header {
        border-bottom: none;
        padding: 15px 20px;

        .subtitle {
            color: #666;
            font-family: 'QuarkLight', sans-serif;
            font-size: 20px;
        }
    }

    .modal-success {
        background-color: @colorPositive;
        color: #FFF;
        margin-bottom: 15px;
        padding: 8px 20px;

        i {
            margin-right: 4px;
        }
    }

    .modal-error {
        background-color: @colorNegative;
        color: #FFF;
        margin-bottom: 15px;
        padding: 8px 20px;

        i {
            margin-right: 4px;
        }
    }

    .modal-title {
        color: #29ace4;
        font-family: 'QuarkLight', sans-serif;
        font-size: 26px;
    }

    .modal-body {
        padding: 0 20px;
    }

    .modal-footer {
        border-top: none;
        margin: 0;
        padding-top: 15px;

        a, button {
            margin-left: 15px;
        }
    }
}

/*
.modal-backdrop {
    background-color: #333;
}

body.modal-open {
    // Prevent background content to scroll when modal is opened
    overflow: hidden;
}

.modal {
    //border: 1px solid rgba(85, 85, 85, 0.3);
    border: none;
    border-top: 7px solid @primaryColor;
    border-radius: 0px;

    form {
        margin: 0px;
    }

    .modal-header {
        border-bottom: 0px;
        padding: 15px 20px;

        h3 {
            color: #555;
            font-size: 22px;
        }

        .close {
            font-size: 26px;
            margin: 0;
        }
    }

    .modal-error {
        background-color: #e56068;
        color: #FFF;
        margin-bottom: 15px;
        padding: 8px 20px;

        i {
            vertical-align: -2px;
        }
    }

    .modal-body {
        padding: 0px 20px 15px;
    }

    .modal-loading {
        padding: 30px 0;
        text-align: center;
    }

    .modal-footer {
        background-color: transparent;
        border-top: none;
        box-shadow: none;
        padding: 10px 20px 20px;

        a, button {
            font-size: 13px;
            margin-left: 15px;
            padding: 5px 20px;
        }

        .style-primary-button {
            padding: 5px 30px;
        }
    }
}*/

// LIBS: SLIDER ########################################################################################################

.slider {
    .slider-selection {
        background-color: #0E90D2;
        background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    }

    .slider-handle {
        background-color: #0E90D2;
        background-image: linear-gradient(to bottom, #149BDF, #0480BE);
        opacity: 1;
    }
}

// LIBS: SELECTBOXIT ###################################################################################################

.selectboxit-container {
    .selectboxit {
        background-color: #FFF;
        background-image: none;
        border: 1px solid #CCC;
        border-radius: 0;

        .selectboxit-arrow-container .selectboxit-arrow {
            top: 40%;
        }
    }

    .selectboxit-options {
        border-radius: 0;

        li {
            border-radius: 0;
        }

        .selectboxit-selected {
            background-color: @linkColor;

            a {
                color: #FFF;
            }
        }
    }

    .selectboxit-option-first, .selectboxit-optgroup-header + .selectboxit-option-first {
        border-radius: 0;
    }
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
    background-color: @linkColor;
    background-image: none;
}



// LIBS: JQUERY UI DATEPICKER ##########################################################################################

.ui-datepicker {
    padding: 0;
    width: auto;

    .ui-datepicker-header {
        margin-bottom: 6px;

        .ui-datepicker-prev, .ui-datepicker-next {
            background-repeat: no-repeat;
            cursor: pointer;
            display: block;
            height: 16px;
            margin-top: 3px;
            vertical-align: middle;
            width: 30px;

            span {
                display: block;
                height: 16px;
                width: 16px;
            }
        }

        .ui-datepicker-prev-hover {
            left: 2px;
            top: 2px;
        }

        .ui-datepicker-next-hover {
            right: 2px;
            top: 2px;
        }

        .ui-datepicker-prev span {
            background-image: url(../images/ui/calendar-left.png);
        }

        .ui-datepicker-next span {
            background-image: url(../images/ui/calendar-right.png);
        }

        .ui-datepicker-title {
            color: #444;
            font-size: 15px;
            line-height: normal;
        }
    }

    .ui-datepicker-calendar {
        margin: 0;

        th {
            color: #777;
            font-weight: normal;
            padding: 0 0 3px;
        }

        td {
            background-color: #FFF;
            border: 1px solid #DDD;
            border-radius: 0;
            height: 34px;
            padding: 1px;
            outline: 0px;
            text-align: center;
            width: 38px;

            &.ui-datepicker-other-month {
                a {
                    color: #666;
                    font-weight: normal;
                }
            }

            a, span {
                color: #444;
                font-size: 13px;
                height: 32px;
                line-height: 32px;
                padding: 0;
                text-align: center;
                width: 36px;
            }

            &.ui-datepicker-today {
                //background-color: #FFC;
            }

            &.ui-datepicker-current-day {
                a {
                    background-color: @linkColor;
                    color: #FFF;
                }
            }

            &.ui-datepicker-unselectable, &.ui-state-disabled {
                background-color: #F7F7F7;

                a, span {
                    color: #999;
                    font-weight: normal;
                }
            }
        }
    }
}



// LIBS: PNOTIFY #######################################################################################################

.ui-pnotify.custom .ui-pnotify-container {
    background-color: #404040;
    background-image: none;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
}

.ui-pnotify.custom .ui-pnotify-title {
    color: #FFF;
    font-size: 16px;
    padding-left: 28px;
    line-height: 18px;
    margin: 5px 0 7px;
    text-shadow: none;
}

.ui-pnotify.custom .ui-pnotify-text {
    color: #EEE;
    font-size: 13px;
    text-shadow: none;

    a {
        color: #EEE;
        text-decoration: underline;
        text-shadow: none;
    }
}

.ui-pnotify.custom .alert-success {
    background: url(../images/ui/alert_success.png) 17px 17px no-repeat;
    background-color: @alertGreenColor;
}

.ui-pnotify.custom .alert-info {
    background: url(../images/ui/alert_notice.png) 17px 17px no-repeat;
    background-color: #666;
}

.ui-pnotify.custom .alert-error {
    background: url(../images/ui/alert_error.png) 17px 17px no-repeat;
    background-color: #C30;
}

// FORM ################################################################################################################

.style-form {
    .control-group {
        margin-bottom: 25px;
    }

    label.control-label {
        color: #555;
        display: inline-block;
        font-size: 14px;
        margin-bottom: 8px;
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
    input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
    .uneditable-input {
        font-size: 16px;
        height: 30px;
        margin-bottom: 5px;
    }

    .help-block {
        color: #777;
        font-size: 13px;
        margin-top: 5px !important;
    }

    .form-actions {
        .style-primary-button {
            font-size: 14px;
            padding: 10px 50px;
        }
    }
}

form {
    .errorlist {
        margin: 0;

        li {
            color: #C30;
            list-style: none;
            margin-bottom: 8px;
        }
    }

    .avatar-control {
        img.avatar {
            border-radius: 50px;
            float: left;
        }

        .tools {
            margin-left: 100px;

            .help-block {
                margin-top: 5px;
            }

            .remove-avatar {
                color: #555;
                font-size: 12px;
                padding: 2px 15px;
            }
        }

        .errorlist {
            margin-left: 100px;
            margin-top: 5px;
        }
    }
}

.style-modal-form {
    .control-group-inline {
        .control-group {
            display: inline-block;
            margin-right: 40px;
        }
    }

    .control-group {
        margin-bottom: 10px;

        label {
            color: @primaryColor;
            display: inline-block;
            font-size: 13px;
            margin-bottom: 3px;
        }
    }
}

// COMMON USED STYLES ##################################################################################################

.style-loading {
    color: #666;
    font-size: 14px;

    img {
        vertical-align: -3px;
    }
}

.style-no-information {
    border: 1px dashed #DDD;
    color: #666;
    font-size: 15px;
    font-weight: bold;
    padding: 20px 0;
    text-align: center;

    i {
        margin-right: 2px;
    }
}

.style-button-base() {
    border-radius: 4px;
    display: inline-block;
    font-size: 13.5px;
    padding: 7px 30px;
    cursor: pointer;

    &:hover, &:focus {
        background-color: @colorYellow;
        border: 1px solid @colorYellow;
        color: #333;
        text-decoration: none;

        i {
            color: #333;
        }
    }

    i {
        margin-right: 3px;
        vertical-align: 0px;
    }

    &[disabled], &.disabled {
        background-color: #D9D9D9;
        border: 1px solid #D9D9D9;
        color: #AAA;
        cursor: default;

        &:hover, &:focus {
            background-color: #D9D9D9;
            border: 1px solid #D9D9D9;
            color: #AAA;
        }
    }
}

.style-button {
    .style-button-base;
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #555;

    i {
        color: #555;
    }
}

.style-primary-button {
    .style-button-base;
    background-color: @colorBlue;
    border: 1px solid @colorBlue;
    color: #FFF;
}









/*
.style-button-base() {
    border-radius: 4px;
    display: inline-block;
    font-size: 13.5px;
    padding: 7px 30px;
    cursor: pointer;

    &:hover, &:focus {
        color: #FFF;
        text-decoration: none;
    }

    i {
        margin-right: 3px;
        vertical-align: middle;
    }

    &[disabled], &.disabled {
        background-color: #D9D9D9;
        color: #AAA;
        cursor: default;

        &:hover, &:focus {
            background-color: #D9D9D9;
            color: #AAA;
        }
    }
}

.style-button {
    .style-button-base;
    background-color: #FFF;
    border: 1px solid #DDD;
    color: #555;

    &:hover, &:focus {
        background-color: @colorSky;
        border: 1px solid @colorSky;
    }
}

.style-primary-button {
    .style-button-base;
    background-color: @colorBlue;
    border: none;
    color: #FFF;

    &:hover, &:focus {
        background-color: #1ba0d8;
    }
}

.style-white-button {
    .style-button-base;
    background-color: #FFF;
    border: none;
    color: #555;

    &:hover, &:focus {
        background-color: #1ba0d8;
        color: #FFF;
    }
}

.style-outline-button {
    .style-button-base;
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #555;

    &:hover, &:focus {
        background-color: @colorBlue;
        border: 1px solid @colorBlue;

        i {
            color: #FFF !important;
        }
    }

    &[disabled], &.disabled {
        border: 1px solid #D9D9D9;
    }
}

.style-outline-danger-button {
    .style-button-base;
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #555;

    &:hover, &:focus {
        background-color: #c30;
        border: 1px solid #c30;

        i {
            color: #FFF !important;
        }
    }

    &[disabled], &.disabled {
        border: 1px solid #D9D9D9;
    }
}

.style-dark-outline-button {
    .style-button-base;
    border: 1px solid @colorBlue;
    color: @colorBlue;

    &:hover, &:focus {
        background-color: @colorSky;
        border: 1px solid @colorSky;
    }
}*/

/*
.style-button-base() {
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 13.5px;
    padding: 7px 30px;

    &:hover, &:focus {
        color: #FFF;
        text-decoration: none;
    }

    i {
        margin-right: 3px;
        vertical-align: middle;
    }

    &[disabled] {
        background-color: #D9D9D9;
        box-shadow: 0px 3px 0px #CCC;
        color: #AAA;
        cursor: default;

        &:hover, &:focus {
            background-color: #D9D9D9;
            box-shadow: 0px 3px 0px #CCC;
            color: #AAA;
        }
    }
}

.style-button {
    .style-button-base;
    background-color: #D9D9D9;
    box-shadow: 0px 3px 0px #BBB;
    color: #444;

    &:hover, &:focus {
        background-color: #E4E4E4;
        box-shadow: 0px 3px 0px #CCC;
        color: #444;
    }
}

.style-white-button {
    .style-button-base;
    background-color: #F7F7F7;
    box-shadow: 0px 3px 0px #DDD;
    color: #444;

    &:hover, &:focus {
        background-color: #FFF;
        box-shadow: 0px 3px 0px #DDD;
        color: #444;
    }
}

.style-orange-button {
    .style-button-base;
    background-color: #FF874A;
    box-shadow: 0px 3px 0px #E86D2E;
    color: #FFF;

    &:hover, &:focus {
        background-color: #ff7630;
        box-shadow: 0px 3px 0px #E86D2E;
    }
}

.style-primary-button {
    .style-button-base;
    background-color: @buttonColor;
    box-shadow: 0px 3px 0px @buttonShadowColor;
    color: #FFF;

    &:hover, &:focus {
        background-color: @buttonHoverColor;
        box-shadow: 0px 3px 0px @buttonHoverShadowColor;
    }
}*/

h1.style-page-header {
    background-position: left center;
    background-repeat: no-repeat;
    color: #555;
    font-size: 26px;
    margin: 20px 0;
    padding-left: 45px;
    text-shadow: 1px 1px #FFF;
}

.style-sidebar-nav {
    margin: 0;
    border: 1px solid #DDD;

    li {
        background-color: #EEE;
        border-left: 4px solid #DDD;
        list-style: none;

        a {
            border-bottom: 1px solid #DDD;
            border-top: 1px solid #FFF;
            color: #777;
            display: block;
            font-size: 14px;
            font-weight: bold;
            padding-left: 15px;
            line-height: 42px;
            text-decoration: none;
            text-shadow: 1px 1px #FFF;

            i {
                font-size: 12px;
                margin-right: 5px;
                text-shadow: 1px 1px #FFF;
                vertical-align: 2px;
            }

            .number {
                background-color: #999;
                border-radius: 3px;
                color: #FFF;
                display: inline-block;
                float: right;
                font-size: 11px;
                font-weight: bold;
                line-height: normal;
                margin: 12px 7px 0 0;
                padding: 1px 4px;
                text-shadow: none;
            }
        }

        &.last a {
            border-bottom: none;
        }

        &.active {
            background-color: #FFF;

            a {
                color: #444;
            }
        }

        a:hover {
            background-color: @linkColor;
            border-top: 1px solid @linkColor;
            color: #FFF;
            text-shadow: -1px -1px @linkColorDark;

            i {
                color: #FFF;
                text-decoration: none;
                text-shadow: -1px -1px @linkColorDark;
            }
        }
    }
}

.style-tab-navigation {
    background-color: @primaryColor;

    .nav {
        margin: 0;
    }

    .nav-tabs {
        border: 0;
    }

    .nav-tabs > li {
        margin: 0;
    }

    .nav-tabs > li > a {
        background-color: @linkColorLight;
        border: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: #FFF;
        font-size: 14px;
        margin-right: 10px;
        padding: 12px 30px;

        &:hover {
            background-color: #DDD;
        }

        i.num {
            background-color: @primaryColor;
            border-radius: 3px;
            color: #FFF;
            display: inline-block;
            font-size: 12px;
            font-style: normal;
            line-height: normal;
            margin-left: 3px;
            padding: 0px 5px 1px;
            text-shadow: none;
        }
    }

    .nav-tabs > li > a:hover,
    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover,
    .nav-tabs > .active > a:focus {
        background-color: #FFF;
        border: 0;
        color: #444;
        cursor: pointer;

        i.num {
            background-color: #999;
            color: #FFF;
        }
    }
}

.style-sidebar-navigation {
    margin: 0;

    li {
        list-style: none;
        margin-bottom: 3px;

        a {
            background-color: #EEE;
            color: #555;
            display: block;
            font-size: 14px;
            padding: 10px 10px 10px 15px;
            text-decoration: none;

            i {
                font-size: 12px;
                margin-right: 5px;
                vertical-align: 2px;
            }

            .number {
                background-color: #999;
                border-radius: 3px;
                color: #FFF;
                display: inline-block;
                float: right;
                font-size: 11px;
                font-weight: bold;
                line-height: normal;
                margin-top: 2px;
                padding: 1px 4px;
                text-shadow: none;
            }
        }

        &.active a, a:hover {
            background-color: @primaryColor;
            color: #FFF;

            i {
                color: #FFF;
                text-decoration: none;
            }

            .number {
                background-color: #FFF;
                color: #555;
            }
        }
    }
}

.style-container {
    border: 2px solid #EEE;

    .container-inner {
        background-color: #FFF;
        border: 1px solid #DDD;
        padding: 20px 25px;

        h2.head2 {
            border-bottom: 3px double #EEE;
            color: @primaryColor;
            font-size: 22px;
            line-height: normal;
            margin: 0 0 25px 0;
            padding-bottom: 10px;
        }
    }
}

.style-stats-bar {
    border-bottom: 1px solid #DDD;
    padding: 3px 0 7px;

    ul.stats {
        margin: 0;
        padding: 0;

        li.stat {
            border-right: 1px solid #EEE;
            display: inline-block;
            list-style: none;
            margin-left: 15px;
            padding-right: 40px;

            .caption {
                color: #777;
                font-size: 14px;
            }

            .number {
                color: #555;
                font-size: 16px;
                display: block;
                margin-top: 3px;

                .smaller {
                    font-size: 13px;
                }

                em {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}

// COMPONENT ###########################################################################################################

.style-registration-modal {

    .backend-social {
        text-align: center;

        .facebook {
            .login_facebook_button;
            margin: 0 15px;
        }

        .twitter {
            .login_twitter_button;
            margin: 0 15px;
        }
    }

    .or {
        line-height: 12px;
        margin: 35px auto 5px;
        text-align: center;

        hr {
            border: none;
            border-bottom: 1px solid #DDD;
            margin: 5px 0px;
        }

        span {
            background-color: #FFF;
            color: #888;
            font-size: 12.5px;
            display: inline-block;
            padding: 0 10px;
            position: relative;
            top: -13px;
        }
    }

    .backend-email {
        margin-bottom: 20px;

        .head {
            color: #666;
            font-family: 'QuarkLight', sans-serif;
            font-size: 20px;
            margin-bottom: 10px;
            text-align: center;
        }

        form {
            margin: 0;
            text-align: center;

            input {
                font-size: 15px;
                margin: 0 auto 15px;
                width: 230px;
            }

            .actions {
                margin-top: 2px;

                .error {
                    color: #C30;
                    font-size: 13px;
                    margin-bottom: 8px;
                }

                .style-button {
                    font-size: 13px;
                    height: auto;
                    margin: 0;
                    padding: 5px 40px;
                    width: auto;
                }
            }

            .forgot {
                margin-top: 7px;

                a {
                    .grey_link;
                    font-size: 12px;
                }
            }
        }

        .email-login {
            float: left;
            vertical-align: top;
            width: 319px;
        }

        .email-register {
            float: left;
            vertical-align: top;
            width: 319px;
        }
    }
}

.style-workshop-row {
    .workshop-pictures {
        border: 1px solid #DDD;
        float: left;
        padding: 3px;
        position: relative;

        .royalSlider {
            width: 450px;
            height: 270px;
        }
    }

    .right {
        margin-left: 480px;
    }

    .title a {
        color: @colorBlue;
        font-family: 'QuarkLight', sans-serif;
        font-size: 34px;
        line-height: 45px;
    }

    .teacher {
        margin-top: 6px;

        .avatar {
            display: inline-block;
            margin-right: 7px;
            vertical-align: middle;

            img {
                border-radius: 50px;
            }
        }

        .name {
            display: inline-block;
            vertical-align: middle;

            a {
                color: @colorNavy;
                font-family: 'QuarkLight', sans-serif;
                font-size: 19px;
                font-size: 24px;
            }
        }
    }

    .convincing {
        margin-top: 15px;

        span {
            background-color: #F7F7F7;
            color: #666;
            display: inline-block;
            font-size: 15px;
            margin-right: 10px;
            padding: 9px 15px;

            i {
                margin-right: 3px;
            }

            em {
                color: #555;
                font-weight: bold;
            }
        }
    }

    .next {
        border: 1px dashed #CCC;
        margin-top: 20px;
        padding: 14px 18px;

        .button-enroll {
            float: right;
            margin: 6px 5px 0 0;
        }

        .schedule {
            color: #666;
            font-size: 15px;

            i {
                color: #C30;
                margin-right: 4px;
            }

            .date, .time {
                color: #444;
                font-weight: bold;
            }
        }

        .available {
            color: #666;
            font-size: 13px;
            margin: 7px 0 0 23px;
        }
    }
}

.style-workshop-status {
    display: inline-block;

    span {
        display: inline-block;
        padding: 3px 10px;
        font-size: 12px;

        i {
            margin-right: 4px;
        }
    }

    .draft {
        background-color: #AAA;
        color: #FFF;
    }

    .wait_for_approval {
        background-color: @colorNavy;
        color: #FFF;
    }

    .ready_to_publish {
        background-color: @colorYellow;
        color: #333;
    }

    .published {
        background-color: @colorPositive;
        color: #FFF;
    }
}

.style-course-feedback {
    list-style: none;

    .feedback-avatar {
        float: left;
        margin-top: 5px;

        img {
            border-radius: 50px;
        }
    }

    .feedback-right {
        background: #fbeb8d;
        margin-left: 67px;
        padding: 15px 20px 5px;
        position: relative;

        &:after {
            border: solid transparent;
            border-color: rgba(251, 235, 141, 0);
            border-right-color: #fbeb8d;
            border-width: 10px;
            content: " ";
            height: 0;
            margin-top: -10px;
            position: absolute;
            pointer-events: none;
            right: 100%;
            top: 29px;
            width: 0;
        }
    }

    .feedback-from {
        color: #666;
        margin-bottom: 8px;

        a {
            color: #444;
            font-weight: bold;
            margin-right: 2px;
        }
    }

    .feedback-content {
        p {
            color: #444;
            font-size: 13.5px;
            line-height: 23px;
        }
    }
}

.style-workshop-story {
    p {
        color: #555;
        font-family: 'ChiangSaenRegular', sans-serif;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    ul, ol {
        margin-bottom: 20px;
    }

    li {
        color: #555;
        font-family: 'ChiangSaenRegular', sans-serif;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 3px;
    }

    a {
        .content_link;
    }

    strong {
        color: #333;
        font-family: 'ChiangSaenBold', sans-serif;
        font-weight: normal;
    }

    em {
        font-family: 'ChiangSaenItalic', sans-serif;
        font-style: normal;
    }
}