.style-button {
    background-color: @linkColor;
    border-radius: 4px;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;

    &:hover {
        background-color: @linkColorDarker;
        color: #FFF;
        text-decoration: none;
    }
}

.topic-header-public-speaking {
    background-image: url(../images/topics/topic-public-speaking.png);
    background-repeat:  no-repeat;
}