
.page-registration {
    #body-header {
        border-bottom: 1px solid #E9E9E9;
    }

    .registration-body {
        .registration-box {
            margin: 90px auto;
            width: 500px;
        }

        h1 {
            color: #444;
            font-size: 30px;
            font-weight: normal;
            text-align: center;
        }

        .login-social {
            border-bottom: 1px solid #EEE;
            margin: 30px 0 10px;
            padding-bottom: 30px;

            .facebook {
                .login_facebook_button;
            }

            .twitter {
                .login_twitter_button;
                margin-left: 20px;
            }
        }

        .login-email {
            text-align: center;

            .or {
                color: #999;
                margin-bottom: 15px;
            }

            form {
                margin: 0;

                .text-input {
                    input {
                        font-size: 15px;
                        height: 30px;
                        text-align: center;
                        width: 280px;
                    }
                }

                .style-button {
                    margin-top: 7px;
                    padding: 9px 50px;
                }

                .forgot {
                    margin-top: 10px;

                    a {
                        .grey_link;
                        font-size: 13px;
                    }
                }

                .button {
                    margin-top: 5px;

                    .btn {
                        color: #555;
                        font-size: 13px;
                        height: 32px;
                        vertical-align: middle;
                        width: 140px;
                    }

                    a {
                        color: #666;
                        font-size: 13px;
                        margin-left: 15px;
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}


.page-homepage {
    .headline {
        background: url(../images/ui/bg1.jpg) no-repeat center center;
        border-bottom: 2px solid #CCC;
        padding: 70px 0px 50px;

        .image {
            float: left;
        }

        .right {
            margin-left: 420px;
        }

        .head1 {
            color: #FFF;
            font-size: 38px;
            font-weight: bold;
            margin-top: 15px;
            text-shadow: -1px -1px #000;
        }

        .head2 {
            color: #FFF;
            font-size: 28px;
            margin-top: 27px;
            text-shadow: -1px -1px #000;
        }

        p {
            color: #FFF;
            font-size: 18px;
            line-height: 26px;
            margin-top: 20px;
            text-shadow: -1px -1px #000;
        }

        .action {
            margin-top: 20px;

            a {
                font-size: 15px;
                font-weight: normal;
                padding: 14px 45px;

                i {
                    margin-right: 6px;
                    vertical-align: 1px;
                }
            }
        }
    }

    .featured-courses {
        background-color: #F7F7F7;
        border-bottom: 1px solid #edede2;
        border-top: 1px solid #edede2;
        padding: 40px 0px;

        .head {
            margin-bottom: 30px;
            text-align: center;

            h2 {
                background-color: #EEE;
                border-radius: 4px;
                color: #777;
                display: inline-block;
                font-size: 16px;
                font-weight: normal;
                line-height: normal;
                margin: 0;
                padding: 12px 55px;
            }
        }

        ul.courses {
            margin: 0;

            li.style-course-box {
                float: left;
            }

            li.left-box {
                margin-right: 62px;
            }
        }
    }
}

.page-course-outline {
    #body-header {
        border-bottom: 1px solid #E9E9E9;
    }

    .course-header {
        background-position: left top;
        margin-top: 35px;

        .avatar {
            float: left;
            margin-right: 10px;

            img {
                border: 1px solid #DDD;
                border-radius: 100px;
                border-radius: 75px;
                height: 75px;
                padding: 3px;
                width: 75px;
            }
        }

        .right {
            margin-left: 100px;
        }

        .title {
            color: #444;
            font-size: 24px;
            font-weight: bold;
            padding-top: 10px;
        }

        .teacher {
            margin-top: 14px;

            a {
                .content_link;
                font-size: 15px;
                font-weight: bold;
            }

            .doing {
                color: #777;
                font-size: 15px;
                margin-left: 10px;
            }
        }
    }

    .course-numbers {
        margin: 20px 0 30px;

        .item {
            background-color: #F7F7F7;
            float: left;
            margin-right: 5px;
            padding: 5px 30px 5px 10px;

            .caption {
                color: #999;
                display: block;
                font-size: 12px;
                margin-bottom: 3px;
            }

            .number {
                color: #555;
                font-size: 16px;

                em {
                    color: #555;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: bold;
                    margin-right: 3px;

                    &.nobold {
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .course-sidebar {
        .enrollment {
            border: 1px solid #DDD;
            border-radius: 4px;
            padding: 15px;


            .datetime {
                //border-bottom: 1px dashed #DDD;
                color: #555;
                font-size: 15px;
                font-weight: bold;


                .day_date {
                    float: left;
                }

                .time {
                    float: right;
                    font-size: 24px;
                    margin-top: 10px;
                }

                .day {
                    color: #555;
                    font-size: 20px;
                    display: block;
                }

                .date {
                    color: #777;
                    display: block;
                    margin-top: 5px;
                }
            }

            .enroll {
                margin-top: 15px;
                text-align: center;

                .enroll-button {
                    font-size: 16px;
                    padding: 9px 0px;
                    text-align: center;
                    width: 240px;

                    em {
                        display: block;
                        font-size: 14px;
                        font-weight: normal;
                        margin-top: 2px;
                    }
                }
            }

            .availability {
                color: #555;
                font-size: 14px;
                font-weight: bold;
                margin-top: 10px;
                text-align: center;
            }
        }

        .venue {
            margin-top: 40px;

            .head {
                color: #555;
                font-size: 28px;
                font-weight: bold;
                text-align: center;
            }

            .name {
                margin-top: 5px;
                text-align: center;

                a {
                    color: #444;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .address {
                color: #666;
                font-size: 15px;
                line-height: 24px;
                margin-top: 5px;
                text-align: center;
            }

            .minimap {
                text-align: center;

                .map {
                    border: 1px solid #EEE;
                    margin: 7px 0 3px;
                    padding: 5px;
                }

                a {
                    .content_link;
                    font-size: 13px;

                }
            }
        }
    }

    .course-content {
        .royalSlider {
            width: 870px;
            height: 500px;
        }

        .course-nav {
            margin: 40px 0 20px;

            em {
                background-color: @linkColor;
                border-radius: 4px;
                color: #FFF;
                display: inline-block;
                font-size: 18px;
                padding: 12px 35px;
            }

            a {
                color: #555;
                display: inline-block;
                font-size: 18px;
                padding: 8px 25px;
            }
        }

        .course-story {
            p {
                color: #444;
                font-size: 15px;
                line-height: 26px;
                margin-bottom: 20px;
            }
        }

        .course-teacher {
            background-color: #F9F9F9;
            border: 1px solid #E9E9E9;
            margin-top: 20px;
            padding: 15px 20px;

            .avatar {
                float: left;

                img {
                    border-radius: 100px;
                    height: 100px;
                    width: 100px;
                }
            }

            .right {
                margin-left: 125px;
            }

            .head {
                color: #444;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .name {
                a {
                    .content_link;
                    font-size: 20px;
                    font-weight: bold;
                }
            }

            .doing {
                color: #444;
                font-weight: bold;
                margin-top: 7px;
            }

            .credentials {
                color: #555;
                line-height: 22px;
                margin-top: 10px;

                p {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .course-reviews {
        background-color: #EEE;
        border-bottom: 3px solid #F7F7F7;
        border-top: 3px solid #F7F7F7;
        margin-top: 60px;
        padding: 40px 0px;

        .head {
            color: #444;
            font-size: 28px;
            margin-bottom: 30px;
        }

        ul.reviews {
            margin: 0;

            li {
                border: 2px solid #F7F7F7;
                list-style: none;
                width: 500px;

                .review-box {
                    background-color: #FFF;
                    border: 1px solid #EEE;
                    padding: 10px 15px;
                }

                p {
                    line-height: 23px;
                }

                .avatar {
                    float: left;

                    img {
                        border: 1px solid #DDD;
                        border-radius: 50px;
                        height: 50px;
                        padding: 2px;
                        width: 50px;
                    }
                }

                .name {
                    font-weight: bold;
                    margin-left: 70px;
                    padding-top: 15px;
                }
            }
        }
    }
}

.page-course-explorer {
    h1.style-page-header {
        background-image: url(../images/ui/header/all_courses.png);
    }

    .explorer-nav {
        //margin-top: 20px;

        .head {
            color: #999;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 3px;
            text-shadow: 1px 1px #FFF;
        }

        ul.filters {
            margin: 0;

            li.filter {
                list-style: none;
                margin-bottom: 15px;

                .filter-title {
                    color: #666;
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 3px;
                }

                .filter-controls {
                    padding-left: 15px;

                }

                .school-filter-controls {
                    ul {
                        margin: 0;

                        li {
                            list-style: none;
                            margin-bottom: 4px;

                            label {
                                display: inline;
                                vertical-align: middle;
                            }

                            input {
                                margin-right: 7px;
                                vertical-align: 0px;
                            }
                        }
                    }
                }
            }
        }

        .filter-container {
            //background-color: #EEE;
            //border: 1px solid #DDD;

            ul {
                margin: 0;

                li {
                    list-style: none;
                }
            }
        }
    }

    .explorer-courses {
        //margin-top: 25px;
        border: 2px solid #EEE;
    }

    ul.courses {
        margin: 0;
        background-color: #FFF;
        border: 1px solid #DDD;
        padding: 20px;

        li.course {
            border-bottom: 1px dashed #DDD;

            margin-bottom: 20px;
            padding-bottom: 15px;

            list-style: none;

            .course-inner {

            }

            .title {
                a {
                    .content_link;
                    font-size: 15px;
                }
            }
        }
    }

}

.page-my-courses {
    .courses-header {
        margin-top: 30px;

        .avatar {
            border-radius: 70px;
            float: left;

            img {
                border: 1px solid #DDD;
                border-radius: 70px;
                height: 70px;
                padding: 4px;
                width: 70px;
            }
        }

        .right {
            margin-left: 100px;
        }

        .name {
            color: #444;
            font-size: 20px;
            font-weight: bold;
            margin-top: 8px;
            text-shadow: 1px 1px #FFF;
        }

        .doing {
            color: #777;
            font-weight: bold;
            margin-top: 6px;
            text-shadow: 1px 1px #FFF;
        }

        .stats {
            margin-top: 6px;

            ul {
                margin: 0;

                li {
                    color: #555;
                    display: inline-block;
                    font-size: 13px;
                    list-style: none;
                    margin-right: 15px;

                    em {
                        font-style: normal;
                    }
                }
            }
        }
    }

    .courses-body {
        margin: 25px 0px 35px;

        .courses-content {
            .nav {
                margin-bottom: 15px;
            }

            .nav-tabs {
                border: 0;
            }

            .nav-tabs > li > a {
                background-color: #E9E9E9;
                border: 0;
                border-radius: 3px;
                color: #666;
                font-size: 16px;
                font-weight: bold;
                margin-right: 10px;
                padding: 8px 20px;
                text-shadow: 1px 1px rgba(255, 255, 255, 0.6);

                &:hover {
                    background-color: #DDD;
                }

                i.num {
                    background-color: #FFF;
                    border-radius: 3px;
                    display: inline-block;
                    font-size: 12px;
                    font-style: normal;
                    margin-left: 3px;
                    padding: 0px 5px;
                    text-shadow: none;
                }
            }

            .nav-tabs > li > a:hover,
            .nav-tabs > .active > a,
            .nav-tabs > .active > a:hover,
            .nav-tabs > .active > a:focus {
                background-color: @primaryColor;
                border: 0;
                color: #FFF;
                cursor: pointer;
                text-shadow: -1px -1px 0px #777;

                i.num {
                    background-color: #FFF;
                    color: #555;
                }
            }

            ul.courses {
                margin: 0;

                li.course {
                    background-color: #FFF;
                    border: 1px solid #E3E3E3;
                    border-bottom: 2px solid #CCC;
                    list-style: none;
                    margin-bottom: 15px;

                    .top {
                        padding: 15px;
                    }

                    .cover {
                        background-color: #BBB;
                        height: 100px;
                        float: left;
                        width: 100px;
                    }

                    .right {
                        margin-left: 115px;
                    }

                    .title {
                        margin-top: 3px;

                        a {
                            .content_link;
                            font-size: 16px;
                        }
                    }

                    .footer {
                        border-top: 1px dashed #DDD;
                        padding: 8px 15px 10px;

                        a {
                            .grey_link;
                            font-size: 13px;
                            margin-right: 15px;
                        }
                    }
                }
            }

            .no-course {
                border: 1px dashed #CCC;
                color: #999;
                font-size: 16px;
                font-weight: bold;
                padding: 20px 0px;
                text-align: center;
                text-shadow: 1px 1px #FFF;
            }
        }

        .courses-sidebar {
            .head {
                color: #444;
                font-size: 12.5px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            ul.courses {
                margin: 0;

                li.course {
                    border: 1px solid #DDD;
                    box-shadow: 2px 2px 0px #EEE;
                    list-style: none;
                    margin-bottom: 15px;
                    padding: 5px 10px;

                    .do {
                        color: #555;
                        font-size: 13px;
                        font-weight: bold;
                    }

                    .countdown {
                        color: #777;
                        float: right;
                        font-size: 12px;
                    }

                    .title {
                        a {
                            .content_link;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

.page-my-courses-upcoming {
    ul.courses {
        li.course {
            .do {
                color: #555;
                font-size: 13px;
                font-weight: bold;
            }



            .teacher {
                color: #666;
                font-size: 14px;
                margin-top: 5px;
            }

            .schedule-location {
                margin-top: 13px;

                div {
                    background-color: #F7F7F7;
                    border-bottom: 1px solid #EEE;
                    border-left: 1px solid #DDD;
                    border-right: 1px solid #EEE;
                    border-top: 1px solid #DDD;
                    color: #555;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: bold;
                    margin-right: 10px;
                    padding: 3px 12px;
                    text-shadow: 1px 1px 0px #FFF;
                }
            }
        }
    }
}

.page-my-courses-attended {

}

.page-my-courese-teaching {

}

.page-course-form {
    .form-header {
        margin-top: 25px;

        .icon {
            border-radius: 70px;
            margin-top: 10px;
            float: left;

            img {
                border-radius: 56px;
            }
        }

        .right {
            margin-left: 48px;
        }

        .parent {
            color: #999;

            a {
                .grey_link;
                font-size: 13px;
            }
        }

        .title {
            color: #555;
            font-size: 20px;
            font-weight: bold;
            text-shadow: 1px 1px #FFF;
            line-height: 31px;
        }
    }

    .form-body {
        margin-bottom: 40px;
    }

    .form-body-header {
        margin: 15px 0 25px;

        .completeness {
            float: left;
            margin-top: 9px;

            .progress {
                background-color: #FFF;
                background-image: linear-gradient(to bottom, #F9F9F9, #FFF);
                display: inline-block;
                height: 15px;
                margin: 0px;
                vertical-align: middle;
                width: 300px;
            }

            .percentage {
                color: #555;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                margin-left: 10px;
                text-shadow: 1px 1px #FFF;
                vertical-align: middle;

                a {
                    color: #999;
                    margin-left: 6px;
                    text-shadow: 1px 1px #FFF;
                    vertical-align: 1px;

                    &:hover {
                        color: @linkColor;
                        text-decoration: none;
                    }
                }
            }
        }

        .actions {
            float: right;

            .actions-info {
                display: inline-block;
                text-align: right;
                vertical-align: middle;

                .status {
                    color: #777;
                    display: block;
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 2px;

                    em {
                        color: #444;
                        font-style: normal;
                    }
                }

                .autosave {
                    color: #777;
                    display: block;
                    font-size: 13px;
                    font-weight: bold;

                    em {
                        color: #444;
                        font-style: normal;
                    }
                }
            }

            button {
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }

    .form-nav {
        li {
            &.outline {
                i {
                    vertical-align: 0px;
                }
            }

            &.story {
                i {
                    margin-left: 2px;
                    vertical-align: 1px;
                }
            }

            &.details {
                i {
                    margin-left: 2px;
                    vertical-align: 0px;
                }
            }

            &.place {
                i {
                    margin-left: 6px;
                    vertical-align: 1px;
                }
            }
        }
    }

    .form-content {
        border: 2px solid #EEE;

        .form-content-inner {
            background-color: #FFF;
            border: 1px solid #DDD;
            padding: 20px;
        }

        h2 {
            border-bottom: 3px double #DDD;
            color: @primaryColor;
            font-size: 26px;
            line-height: normal;
            margin: 0 0 25px 0;
            padding-bottom: 6px;
        }

        .control-group {
            margin-bottom: 20px;

            .control-label {
                color: #555;
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 12px;
            }

            .controls-with-guide {
                clear: left;
                display: inline-block;
                vertical-align: top;
            }

            .control-guide {
                background-color: #EEE;
                border: 1px solid #DDD;
                color: #555;
                display: inline-block;
                font-size: 13px;
                margin-left: 50px;
                padding: 10px 15px;
                vertical-align: top;
            }

            .arrow_box {
                position: relative;
                background: #F9F9F9;
                border: 1px solid #ddd;
            }

            .arrow_box:after, .arrow_box:before {
                right: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            .arrow_box:after {
                border-color: rgba(249, 249, 249, 0);
                border-right-color: #F9F9F9;
                border-width: 10px;
                top: 18px;
                margin-top: -10px;
            }

            .arrow_box:before {
                border-color: rgba(221, 221, 221, 0);
                border-right-color: #ddd;
                border-width: 11px;
                top: 18px;
                margin-top: -11px;
            }
        }

        .title-control {
            margin-bottom: 30px;

            input {
                font-size: 16px;
                height: 30px;
                width: 95%;
            }
        }

        .outline-control {
            .controls {
                ul {
                    margin: 0;

                    li {
                        border: 1px solid #999;
                        border-left: 5px solid #999;
                        box-shadow: 2px 2px 0px #EEE;
                        list-style: none;
                        margin-bottom: 15px;

                        .remove {
                            display: block;
                            float: right;
                            line-height: normal;
                            margin: 8px 9px 0 0;

                            i {
                                color: #AAA;
                                font-size: 15px;
                            }

                            &:hover {
                                text-decoration: none;

                                i {
                                    color: #c30;
                                }
                            }
                        }

                        i.icon-reorder, i.icon-plus {
                            color: #AAA;
                            cursor: move;
                            display: inline-block;
                            line-height: 38px;
                            padding: 0 14px;
                            vertical-align: middle;
                        }

                        input {
                            border: none;
                            box-shadow: none;
                            font-size: 15px;
                            height: 26px;
                            margin: 0px;
                            padding: 5px 0px;
                            vertical-align: middle;
                            width: 90%;
                        }
                    }

                    li.add {
                        border: 1px dashed #CCC;
                        box-shadow: none;
                        list-style: none;
                        margin-bottom: 10px;
                        padding-left: 4px;

                        a {
                            color: #666;
                            font-size: 13px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .story-control {
            textarea {
                width: 95%;
            }
        }

        .topics-control {
            select {
                width: 414px;
            }

            .control-guide {
                width: 406px;
            }
        }

        .level-control {
            select {
                font-size: 15px;
                padding: 4px;

                option {
                    padding: 4px;
                }
            }

            .control-guide {
                width: 614px;
            }
        }

        .tuition-control {
            .controls {
                input {
                    font-size: 18px;
                    height: 23px;
                    text-align: center;
                    width: 70px;
                }

                span {
                    color: #555;
                    margin-left: 6px;
                }
            }

            .control-guide {
                width: 710px;
            }
        }

        .duration-control {
            .controls {
                input {
                    font-size: 18px;
                    height: 23px;
                    text-align: center;
                    width: 50px;
                }

                span {
                    color: #555;
                    margin-left: 6px;
                }
            }
        }

        .capacity-control {
            input {
                width: 400px;
            }

            .control-info {
                margin-top: 4px;
                width: 414px; // Added slider handle size

                .min {
                    color: #999;
                    float: left;
                    font-size: 13px;
                    font-weight: bold;
                }

                .max {
                    color: #999;
                    float: right;
                    font-size: 13px;
                    font-weight: bold;

                }

                .current {
                    color: #444;
                    font-size: 13px;
                    font-weight: bold;
                    text-align: center;
                }
            }

            .control-guide {
                width: 420px;
            }
        }

        #content-place {
            .choices {
                margin-bottom: 20px;
                text-align: center;

                a {
                    background-color: #EEE;
                    color: #444;
                    display: inline-block;
                    font-size: 16px;
                    margin: 0px 15px;
                    padding: 30px 0px;
                    text-shadow: 1px 1px #FFF;
                    width: 300px;

                    i {
                        color: #555;
                        display: block;
                        margin-bottom: 7px;
                        text-shadow: 1px 1px #FFF;
                    }

                    &:hover {
                        background-color: @linkColor;
                        color: #FFF;
                        text-decoration: none;
                        text-shadow: -1px -1px @linkColorDarker;

                        i {
                            color: #FFF;
                            text-shadow: -1px -1px @linkColorDarker;
                        }
                    }
                }
            }
        }
    }

    #modal-course-submitted {
        .head1 {
            color: #444;
            font-size: 16px;
            line-height: 25px;
        }
    }
}

.page-classroom {

}

.page-profile {
    .profile-header {
        margin-top: 40px;

        .container-inner {
            padding: 0;

            .box-header {
                padding: 20px 25px;
            }
        }

        .avatar {
            border-radius: 70px;
            float: left;

            img {
                border: 2px solid #DDD;
                border-radius: 100px;
                height: 100px;
                padding: 4px;
                width: 100px;
            }
        }

        .right {
            margin-left: 140px;
        }

        .follow {
            float: right;
        }

        .name {
            color: #444;
            font-size: 22px;
            font-weight: bold;
            margin-top: 10px;
        }

        .headline {
            color: #666;
            font-size: 15px;
            margin-top: 8px;
        }

        .stats {
            background-color: #FAFAFA;
            border-top: 1px solid #E7E7E7;

            .role-stats {
                float: left;

                .head {
                    color: #888;
                    font-size: 11px;
                    padding: 5px 0;
                    text-align: center;
                }
            }

            .teaching-stats {
                border-right: 1px solid #E7E7E7;
            }

            ul {
                margin: 0;

                li {
                    border-right: 1px solid #E7E7E7;
                    display: block;
                    float: left;
                    list-style: none;
                    padding-bottom: 6px;
                    width: 215px;
                    text-align: center;

                    em {
                        color: #555;
                        display: block;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: bold;
                    }

                    .unit {
                        color: #666;
                        font-size: 13px;
                    }

                    .what {
                        color: #666;
                        font-size: 13px;
                    }
                }

                li.last {
                    border-right: none;
                }
            }
        }
    }

    .profile-courses {
        margin-top: 40px;

        .profile-courses-nav {
            margin-bottom: 20px;

            em {
                background-color: @linkColor;
                border-radius: 4px;
                color: #FFF;
                display: inline-block;
                font-size: 15px;
                padding: 8px 25px;
            }

            a {
                color: #555;
                display: inline-block;
                font-size: 15px;
                padding: 8px 25px;
            }
        }

        ul.courses {
            margin: 0;

            li.course {
                list-style: none;
            }

            .style-course-box {
                float: left;
            }

            .course-reviews {
                float: right;

                ul.reviews {
                    margin: 0;

                    li.review {
                        border: 1px dashed #CCC;
                        list-style: none;
                        margin-bottom: 20px;
                        padding: 10px 15px;
                        width: 550px;

                        .body {
                            font-size: 13px;
                        }

                        .reviewer {
                            color: #777;
                            font-size: 13px;
                            margin-top: 7px;

                            a {
                                color: #444;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

        }
    }
}

.page-user-settings {
    h1.style-page-header {
        background-image: url(../images/ui/header/settings.png);
    }

    form {
        .name-control input {
            width: 300px;
        }

        .headline-control input {
            width: 500px;
        }

        .website-control input {
            width: 400px;
        }

        .phone-control input {
            width: 200px;
        }
    }


}