
.page-registration {
    #body-header {
        border-bottom: 1px solid #E9E9E9;
    }

    .registration-body {
        .registration-box {
            margin: 90px auto;
            width: 500px;
        }

        h1 {
            color: #444;
            font-size: 30px;
            font-weight: normal;
            text-align: center;
        }

        .login-social {
            border-bottom: 1px solid #EEE;
            margin: 30px 0 10px;
            padding-bottom: 30px;

            .facebook {
                .login_facebook_button;
            }

            .twitter {
                .login_twitter_button;
                margin-left: 20px;
            }
        }

        .login-email {
            text-align: center;

            .or {
                color: #999;
                margin-bottom: 15px;
            }

            form {
                margin: 0;

                .text-input {
                    input {
                        font-size: 15px;
                        height: 30px;
                        text-align: center;
                        width: 280px;
                    }
                }

                .style-button {
                    margin-top: 7px;
                    padding: 9px 50px;
                }

                .forgot {
                    margin-top: 10px;

                    a {
                        .grey_link;
                        font-size: 13px;
                    }
                }

                .button {
                    margin-top: 5px;

                    .btn {
                        color: #555;
                        font-size: 13px;
                        height: 32px;
                        vertical-align: middle;
                        width: 140px;
                    }

                    a {
                        color: #666;
                        font-size: 13px;
                        margin-left: 15px;
                        vertical-align: bottom;
                    }
                }
            }
        }
    }
}


.page-homepage {
    .headline {
        background: url(../images/ui/bg1.jpg) no-repeat center center;
        border-bottom: 2px solid #CCC;
        padding: 70px 0px 50px;

        .image {
            float: left;
        }

        .right {
            margin-left: 420px;
        }

        .head1 {
            color: #FFF;
            font-size: 38px;
            font-weight: bold;
            margin-top: 15px;
            text-shadow: -1px -1px #000;
        }

        .head2 {
            color: #FFF;
            font-size: 28px;
            margin-top: 27px;
            text-shadow: -1px -1px #000;
        }

        p {
            color: #FFF;
            font-size: 18px;
            line-height: 26px;
            margin-top: 20px;
            text-shadow: -1px -1px #000;
        }

        .action {
            margin-top: 20px;

            a {
                font-size: 15px;
                font-weight: normal;
                padding: 14px 45px;

                i {
                    margin-right: 6px;
                    vertical-align: 0px;
                }
            }
        }
    }

    .featured-courses {
        background-color: #F7F7F7;
        border-bottom: 1px solid #edede2;
        border-top: 1px solid #edede2;
        padding: 40px 0px;

        .head {
            margin-bottom: 30px;
            text-align: center;

            h2 {
                background-color: #EEE;
                border-radius: 4px;
                color: #777;
                display: inline-block;
                font-size: 16px;
                font-weight: normal;
                line-height: normal;
                margin: 0;
                padding: 12px 55px;
            }
        }

        ul.courses {
            margin: 0;

            li.style-course-box {
                float: left;
                margin-bottom: 40px;
            }

            li.left-box {
                margin-right: 62px;
            }
        }
    }
}

.page-course-outline {
    #body-header {
        border-bottom: 1px solid #E9E9E9;
    }

    .course-header {
        background-position: left top;
        margin-top: 35px;

        .avatar {
            float: left;
            margin-right: 10px;

            img {
                border: 1px solid #DDD;
                border-radius: 50px;
                padding: 3px;
            }
        }

        .right {
            margin-left: 80px;
        }

        .title {
            color: #444;
            font-size: 24px;
            font-weight: bold;
            padding-top: 5px;
        }

        .teacher {
            margin-top: 12px;

            a {
                .content_link;
                font-size: 15px;
                font-weight: bold;
            }

            .doing {
                color: #777;
                font-size: 15px;
                margin-left: 10px;
            }
        }
    }

    .course-numbers {
        margin: 20px 0 30px;

        .item {
            background-color: #F7F7F7;
            float: left;
            margin-right: 5px;
            padding: 5px 30px 5px 10px;

            .caption {
                color: #999;
                display: block;
                font-size: 12px;
                margin-bottom: 3px;
            }

            .number {
                color: #555;
                font-size: 16px;

                em {
                    color: #555;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: bold;
                    margin-right: 3px;

                    &.nobold {
                        font-weight: normal;
                    }
                }
            }
        }
    }

    .course-pictures {
        margin-bottom: 40px;

        .royalSlider {
            width: 870px;
            height: 500px;
        }
    }

    .course-content {
        ul.nav {
            margin: 0 0 20px 0;

            li {
                a {
                    border: none;
                    border-radius: 4px;
                    color: #555;
                    display: block;
                    font-size: 18px;
                    padding: 12px 35px;
                }
            }

            li.active {
                a {
                    background-color: @linkColor;
                    color: #FFF;
                }
            }
        }

        ul.nav-tabs {
            border: none;
        }

        #course_story {
            p {
                color: #444;
                font-size: 15px;
                line-height: 26px;
                margin: 0 0 20px 0;
                margin-bottom: 20px;
            }

            ul, ol {
                margin-bottom: 20px;
            }

            li {
                line-height: 26px;
            }

            em {
                font-style: italic;
            }

            .line-through {
                text-decoration: line-through;
            }

            .underline {
                text-decoration: underline;
            }

            a {
                .content_link;
            }
        }
    }

    .course-teacher {
        background-color: #F9F9F9;
        border: 1px solid #E9E9E9;
        margin-top: 20px;
        padding: 15px 20px;

        .avatar {
            float: left;

            img {
                border-radius: 100px;
                height: 100px;
                width: 100px;
            }
        }

        .right {
            margin-left: 125px;
        }

        .head {
            color: #444;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .name {
            a {
                .content_link;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .doing {
            color: #444;
            font-weight: bold;
            margin-top: 7px;
        }

        .credentials {
            color: #555;
            line-height: 22px;
            margin-top: 10px;

            p {
                margin-bottom: 15px;
            }
        }
    }

    .course-sidebar {
        .enrollment {
            border: 1px solid #DDD;
            border-radius: 4px;
            padding: 15px;


            .datetime {
                //border-bottom: 1px dashed #DDD;
                color: #555;
                font-size: 15px;
                font-weight: bold;


                .day_date {
                    float: left;
                }

                .time {
                    float: right;
                    font-size: 24px;
                    margin-top: 10px;
                }

                .day {
                    color: #555;
                    font-size: 20px;
                    display: block;
                }

                .date {
                    color: #777;
                    display: block;
                    margin-top: 5px;
                }
            }

            .enroll {
                margin-top: 15px;
                text-align: center;

                .enroll-button {
                    font-size: 16px;
                    padding: 9px 0px;
                    text-align: center;
                    width: 240px;

                    em {
                        display: block;
                        font-size: 14px;
                        font-weight: normal;
                        margin-top: 2px;
                    }
                }
            }

            .availability {
                color: #555;
                font-size: 14px;
                font-weight: bold;
                margin-top: 10px;
                text-align: center;
            }
        }

        .venue {
            margin-top: 30px;

            .head {
                color: #888;
                font-size: 13px;
                text-align: center;
            }

            .name {
                margin-top: 5px;
                text-align: center;

                a {
                    color: #444;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .address {
                color: #666;
                font-size: 15px;
                line-height: 24px;
                margin-top: 5px;
                text-align: center;
            }

            .minimap {
                text-align: center;

                .map {
                    border: 1px solid #EEE;
                    margin: 7px 0 3px;
                    padding: 5px;
                }

                a {
                    .content_link;
                    font-size: 13px;

                }
            }
        }
    }

    .course-reviews {
        background-color: #EEE;
        border-bottom: 3px solid #F7F7F7;
        border-top: 3px solid #F7F7F7;
        margin-top: 60px;
        padding: 40px 0px;

        .head {
            color: #444;
            font-size: 28px;
            margin-bottom: 30px;
        }

        ul.reviews {
            margin: 0;

            li {
                border: 2px solid #F7F7F7;
                list-style: none;
                width: 500px;

                .review-box {
                    background-color: #FFF;
                    border: 1px solid #EEE;
                    padding: 10px 15px;
                }

                p {
                    line-height: 23px;
                }

                .avatar {
                    float: left;

                    img {
                        border: 1px solid #DDD;
                        border-radius: 50px;
                        height: 50px;
                        padding: 2px;
                        width: 50px;
                    }
                }

                .name {
                    font-weight: bold;
                    margin-left: 70px;
                    padding-top: 15px;
                }
            }
        }
    }
}

.page-course-explorer {
    h1.style-page-header {
        background-image: url(../images/ui/header/all_courses.png);
    }

    .explorer-nav {
        //margin-top: 20px;

        .head {
            color: #999;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 3px;
            text-shadow: 1px 1px #FFF;
        }

        ul.filters {
            margin: 0;

            li.filter {
                list-style: none;
                margin-bottom: 15px;

                .filter-title {
                    color: #666;
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 3px;
                }

                .filter-controls {
                    padding-left: 15px;

                }

                .school-filter-controls {
                    ul {
                        margin: 0;

                        li {
                            list-style: none;
                            margin-bottom: 4px;

                            label {
                                display: inline;
                                vertical-align: middle;
                            }

                            input {
                                margin-right: 7px;
                                vertical-align: 0px;
                            }
                        }
                    }
                }
            }
        }

        .filter-container {
            //background-color: #EEE;
            //border: 1px solid #DDD;

            ul {
                margin: 0;

                li {
                    list-style: none;
                }
            }
        }
    }

    .explorer-courses {
        //margin-top: 25px;
        border: 2px solid #EEE;
    }

    ul.courses {
        margin: 0;
        background-color: #FFF;
        border: 1px solid #DDD;
        padding: 20px;

        li.course {
            border-bottom: 1px dashed #DDD;

            margin-bottom: 20px;
            padding-bottom: 15px;

            list-style: none;

            .course-inner {

            }

            .title {
                a {
                    .content_link;
                    font-size: 15px;
                }
            }
        }
    }

}

.page-my-courses {
    .backend-header {
        .stats {
            ul {
                margin: 7px 0 0;

                li {
                    color: #EEE;
                    display: inline-block;
                    font-size: 13px;
                    list-style: none;
                    margin-right: 15px;

                    em {
                        font-style: normal;
                    }
                }
            }
        }
    }

    .courses-body {
        margin: 25px 0px 35px;

        ul.courses {
            margin: 0;

            li.course {
                list-style: none;
            }
        }

        .no-course {
            border: 1px dashed #CCC;
            color: #777;
            font-size: 15px;
            padding: 20px 0px;
            text-align: center;
            text-shadow: 1px 1px #FFF;
        }

        /*
        .courses-content {
            ul.courses {
                margin: 0;

                li.course {
                    background-color: #FFF;
                    border: 1px solid #E3E3E3;
                    border-bottom: 2px solid #CCC;
                    list-style: none;
                    margin-bottom: 15px;

                    .top {
                        padding: 10px;
                    }

                    .cover {
                        float: left;
                    }

                    .right {
                        margin-left: 290px;
                    }

                    .title {
                        margin-top: 3px;

                        a {
                            .content_link;
                            font-size: 15px;
                        }
                    }

                    .footer {
                        border-top: 1px dashed #DDD;
                        padding: 8px 15px 10px;

                        a {
                            .grey_link;
                            font-size: 13px;
                            margin-right: 15px;
                        }
                    }
                }
            }

            .no-course {
                border: 1px dashed #CCC;
                color: #999;
                font-size: 16px;
                font-weight: bold;
                padding: 20px 0px;
                text-align: center;
                text-shadow: 1px 1px #FFF;
            }
        }*/

        .courses-sidebar {
            .head {
                color: #444;
                font-size: 12.5px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            ul.courses {
                margin: 0;

                li.course {
                    border: 1px solid #DDD;
                    box-shadow: 2px 2px 0px #EEE;
                    list-style: none;
                    margin-bottom: 15px;
                    padding: 5px 10px;

                    .do {
                        color: #555;
                        font-size: 13px;
                        font-weight: bold;
                    }

                    .countdown {
                        color: #777;
                        float: right;
                        font-size: 12px;
                    }

                    .title {
                        a {
                            .content_link;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

.page-my-courses-upcoming {
    ul.courses li.course {
        margin-bottom: 30px;

        .course-countdown {
            background-color: @orangeColor;
            color: #FFF;
            display: block;
            float: left;
            font-size: 11px;
            margin-right: 20px;
            padding: 10px 0px;
            position: relative;
            text-align: center;
            width: 80px;

            em {
                display: block;
                font-size: 15px;
                font-weight: bold;
                margin-top: 4px;
            }

            &:after {
                left: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(228, 98, 23, 0);
                border-left-color: #e46217;
                border-width: 10px;
                top: 50%;
                margin-top: -10px;
            }
        }

        .course-content {
            margin-left: 100px;

            .course-cover {
                float: left;

                img {
                    height: 100px;
                    width: 275px;
                }
            }

            .right {
                margin-left: 295px;
            }

            .title {
                a {
                    .content_link;
                    font-size: 16px;
                    line-height: 24px;
                }

                .yours {
                    background-color: #888;
                    border-radius: 4px;
                    color: #FFF;
                    display: inline-block;
                    font-size: 11px;
                    margin-left: 10px;
                    padding: 0px 10px;
                }
            }

            .teacher {
                color: #444;
                margin-top: 2px;

                .caption {
                    color: #777;
                    font-size: 12px;
                    margin-right: 2px;
                }

                a {
                    color: #444;
                }
            }

            .schedule-location {
                color: #444;
                font-size: 14px;
                font-weight: bold;
                margin-top: 5px;

                .schedule {
                    display: inline-block;

                    .time {
                        margin-left: 5px;
                    }
                }

                .at {
                    display: inline-block;
                    font-weight: normal;
                    margin: 0 5px;
                }

                .location {
                    display: inline-block;
                }

                a {
                    color: #444;
                }
            }

            .attendance {
                color: #666;
                font-size: 13px;
                margin-top: 5px;
            }

            .actions {
                margin-top: 5px;

                a.link {
                    .grey_link;
                    font-size: 13px;
                    margin-right: 10px;
                }

                .style-primary-button {
                    font-size: 13px;
                    margin-right: 10px;
                    padding: 4px 15px;
                }
            }

            .actions-student {
                margin-top: 9px;
            }
        }
    }
}

.page-my-courses-attended {
    .courses-topics {
        .head {
            color: #888;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 7px;
        }

        ul.topics {
            margin: 0;

            li.topic {
                clear: both;
                list-style: none;
                margin-bottom: 7px;

                a {
                    background-color: #F7F7F7;
                    border-radius: 4px;
                    color: #444;
                    display: block;
                    font-weight: bold;
                    padding: 8px 12px;

                    .counter {
                        background-color: #BBB;
                        border-radius: 3px;
                        color: #FFF;
                        display: inline-block;
                        font-size: 11.5px;
                        font-weight: normal;
                        line-height: normal;
                        margin-left: 7px;
                        padding: 1px 4px;
                        vertical-align: 1px;
                    }

                    &:hover {
                        background-color: @linkColor;
                        color: #FFF;
                        text-decoration: none;

                        .counter {
                            background-color: #FFF;
                            color: @linkColor;
                        }
                    }
                }
            }

            li.active {
                a {
                    background-color: #777;
                    color: #FFF;

                    .counter {
                        background-color: #FFF;
                        color: #777;
                    }
                }
            }
        }
    }

    ul.courses {
        margin: 15px 0 0;

        li.course {
            border-bottom: 1px solid #DDD;
            margin-top: 20px;
            padding-bottom: 15px;

            .feedback {
                float: right;
                margin-top: 5px;

                a {
                    font-size: 12px;
                    margin-left: 10px;
                    padding: 4px 25px;
                }
            }

            .title {
                a {
                    .content_link;
                    font-size: 15px;
                }
            }

            .details {
                margin-top: 4px;

                .caption {
                    color: #777;
                    font-size: 12px;
                    margin-right: 2px;
                }

                em {
                    color: #555;
                    font-weight: bold;
                }

                a {
                    color: #555;
                    font-weight: bold;
                }

                .teacher {
                    margin-right: 15px;
                }
            }

            .actions {
                margin-top: 4px;

                a {
                    .grey_link;
                    font-size: 13px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.page-my-courses-teaching {
    .teaching-stats {
        margin-bottom: 25px;

        ul.stats {
            margin: 0;

            li.stat {
                border: 1px dashed #DDD;

                display: inline-block;
                list-style: none;
                margin-right: 5px;
                padding: 5px 12px 8px 12px;

                .caption {
                    color: #888;
                    font-size: 13px;
                }

                .number {
                    color: #555;
                    font-size: 16px;
                    font-weight: bold;
                    display: block;
                    margin-top: 5px;

                    .smaller {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .teaching-courses {
        ul.courses {
            margin: 15px 0 0;

            li.course {
                border-bottom: 1px solid #DDD;
                margin-bottom: 20px;
                padding-bottom: 15px;

                .title {
                    a {
                        .content_link;
                        font-size: 16px;
                    }
                }

                .latest {
                    margin-top: 10px;

                    em {
                        display: inline-block;
                        font-size: 13px;
                        font-weight: bold;
                        line-height: normal;
                        margin-right: 10px;
                        padding: 3px 15px 4px;
                        vertical-align: middle;

                        &.draft {
                            background-color: #DDD;
                        }

                        &.wait {
                            background-color: #FFC;
                        }

                        &.public {
                            background-color: #BEC;
                        }
                    }

                    .caption {
                        color: #777;
                        font-size: 12px;
                        margin-right: 4px;
                    }

                    .datetime {
                        display: inline-block;
                        margin-right: 10px;
                        vertical-align: middle;
                    }

                    .students {
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                .actions {
                    margin-top: 8px;

                    a {
                        .grey_link;
                        font-size: 13px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }

    .teaching-create {
        margin-bottom: 20px;
    }

    .teaching-activities {
        .head {
            font-size: 13px;
            font-weight: bold;
        }
    }
}

.page-course-modify {
    .form-body {
        margin-bottom: 40px;
    }

    .form-body-header {
        margin: 25px 0 25px;

        .completeness {
            float: left;

            .head {
                color: #555;
                font-size: 16px;
                margin-bottom: 3px;

                a {
                    color: #999;
                    margin-left: 4px;
                    text-shadow: 1px 1px #FFF;
                    vertical-align: 1px;

                    &:hover {
                        color: @linkColor;
                        text-decoration: none;
                    }
                }
            }

            .progress {
                background-color: #FFF;
                background-image: linear-gradient(to bottom, #F9F9F9, #FFF);
                display: inline-block;
                height: 15px;
                margin: 0px;
                vertical-align: middle;
                width: 300px;

                .bar {
                    background-color: #666;
                    background-image: linear-gradient(to bottom, #999, #666);
                }
            }

            .percentage {
                color: #555;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                margin-left: 10px;
                text-shadow: 1px 1px #FFF;
                vertical-align: middle;


            }
        }

        .actions {
            float: right;

            .actions-info {
                display: inline-block;
                text-align: right;
                vertical-align: middle;

                .status {
                    color: #777;
                    display: block;
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 2px;

                    em {
                        color: #444;
                        font-style: normal;
                    }
                }

                .autosave {
                    color: #777;
                    display: block;
                    font-size: 13px;
                    font-weight: bold;

                    em {
                        color: #444;
                        font-style: normal;
                    }
                }
            }

            button {
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }

    .form-nav {
        li {
            &.outline {
                i {
                    vertical-align: 0px;
                }
            }

            &.story {
                i {
                    margin-left: 2px;
                    vertical-align: 1px;
                }
            }

            &.details {
                i {
                    margin-left: 2px;
                    vertical-align: 0px;
                }
            }

            &.place {
                i {
                    margin-left: 6px;
                    vertical-align: 1px;
                }
            }
        }
    }

    .form-content {
        border: 2px solid #EEE;

        .form-content-inner {
            background-color: #FFF;
            border: 1px solid #DDD;
            padding: 20px;
        }

        h2 {
            border-bottom: 3px double #DDD;
            color: @primaryColor;
            font-size: 26px;
            line-height: normal;
            margin: 0 0 25px 0;
            padding-bottom: 6px;
        }

        .control-group {
            margin-bottom: 20px;

            .control-label {
                color: #555;
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 12px;
            }

            .controls-with-guide {
                clear: left;
                display: inline-block;
                vertical-align: top;
            }

            .control-guide {
                background-color: #EEE;
                border: 1px solid #DDD;
                color: #555;
                display: inline-block;
                font-size: 13px;
                margin-left: 50px;
                padding: 10px 15px;
                vertical-align: top;
            }

            .arrow_box {
                position: relative;
                background: #F9F9F9;
                border: 1px solid #ddd;
            }

            .arrow_box:after, .arrow_box:before {
                right: 100%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            .arrow_box:after {
                border-color: rgba(249, 249, 249, 0);
                border-right-color: #F9F9F9;
                border-width: 10px;
                top: 18px;
                margin-top: -10px;
            }

            .arrow_box:before {
                border-color: rgba(221, 221, 221, 0);
                border-right-color: #ddd;
                border-width: 11px;
                top: 18px;
                margin-top: -11px;
            }
        }

        .title-control {
            margin-bottom: 30px;

            input {
                font-size: 16px;
                height: 30px;
                width: 95%;
            }
        }

        .outline-control {
            .controls {
                ul {
                    margin: 0;

                    li {
                        border: 1px solid #999;
                        border-left: 5px solid #999;
                        box-shadow: 2px 2px 0px #EEE;
                        list-style: none;
                        margin-bottom: 15px;

                        .remove {
                            display: block;
                            float: right;
                            line-height: normal;
                            margin: 8px 9px 0 0;

                            i {
                                color: #AAA;
                                font-size: 15px;
                            }

                            &:hover {
                                text-decoration: none;

                                i {
                                    color: #c30;
                                }
                            }
                        }

                        i.icon-reorder, i.icon-plus {
                            color: #AAA;
                            cursor: move;
                            display: inline-block;
                            line-height: 38px;
                            padding: 0 14px;
                            vertical-align: middle;
                        }

                        input {
                            border: none;
                            box-shadow: none;
                            font-size: 15px;
                            height: 26px;
                            margin: 0px;
                            padding: 5px 0px;
                            vertical-align: middle;
                            width: 90%;
                        }
                    }

                    li.add {
                        border: 1px dashed #CCC;
                        box-shadow: none;
                        list-style: none;
                        margin-bottom: 10px;
                        padding-left: 4px;

                        a {
                            color: #666;
                            font-size: 13px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .story-control {
            textarea {
                width: 95%;
            }
        }

        .topics-control {
            select {
                width: 414px;
            }

            .control-guide {
                width: 406px;
            }
        }

        .level-control {
            select {
                font-size: 15px;
                padding: 4px;

                option {
                    padding: 4px;
                }
            }

            .control-guide {
                width: 614px;
            }
        }

        .tuition-control {
            .controls {
                input {
                    font-size: 18px;
                    height: 23px;
                    text-align: center;
                    width: 70px;
                }

                span {
                    color: #555;
                    margin-left: 6px;
                }
            }

            .control-guide {
                width: 710px;
            }
        }

        .duration-control {
            .controls {
                input {
                    font-size: 18px;
                    height: 23px;
                    text-align: center;
                    width: 50px;
                }

                span {
                    color: #555;
                    margin-left: 6px;
                }
            }
        }

        .capacity-control {
            input {
                width: 400px;
            }

            .control-info {
                margin-top: 4px;
                width: 414px; // Added slider handle size

                .min {
                    color: #999;
                    float: left;
                    font-size: 13px;
                    font-weight: bold;
                }

                .max {
                    color: #999;
                    float: right;
                    font-size: 13px;
                    font-weight: bold;

                }

                .current {
                    color: #444;
                    font-size: 13px;
                    font-weight: bold;
                    text-align: center;
                }
            }

            .control-guide {
                width: 420px;
            }
        }

        #content-place {
            .choices {
                margin-bottom: 20px;
                text-align: center;

                a {
                    background-color: #EEE;
                    color: #444;
                    display: inline-block;
                    font-size: 16px;
                    margin: 0px 15px;
                    padding: 30px 0px;
                    text-shadow: 1px 1px #FFF;
                    width: 300px;

                    i {
                        color: #555;
                        display: block;
                        margin-bottom: 7px;
                        text-shadow: 1px 1px #FFF;
                    }

                    &:hover {
                        background-color: @linkColor;
                        color: #FFF;
                        text-decoration: none;
                        text-shadow: -1px -1px @linkColorDarker;

                        i {
                            color: #FFF;
                            text-shadow: -1px -1px @linkColorDarker;
                        }
                    }
                }
            }
        }
    }

    #modal-course-submitted {
        .head1 {
            color: #444;
            font-size: 16px;
            line-height: 25px;
        }
    }
}

.page-manage-classroom {
    .backend-header {
        h1 {
            display: inline-block;
        }

        .class {
            display: inline-block;
            margin-left: 15px;
            vertical-align: 2px;

            .datetime {
                background-color: #EEE;
                border-radius: 4px;
                color: #444;
                display: inline-block;
                font-size: 13px;
                font-weight: bold;

                padding: 3px 15px;
            }
        }
    }
}

.page-profile {
    .profile-header {
        margin-top: 40px;

        .container-inner {
            padding: 0;

            .box-header {
                padding: 20px 25px;
            }
        }

        .avatar {
            border-radius: 70px;
            float: left;

            img {
                border: 2px solid #DDD;
                border-radius: 100px;
                height: 100px;
                padding: 4px;
                width: 100px;
            }
        }

        .right {
            margin-left: 140px;
        }

        .follow {
            float: right;
        }

        .name {
            color: #444;
            font-size: 22px;
            font-weight: bold;
            margin-top: 10px;
        }

        .headline {
            color: #666;
            font-size: 15px;
            margin-top: 8px;
        }

        .stats {
            background-color: #FAFAFA;
            border-top: 1px solid #E7E7E7;

            .role-stats {
                float: left;

                .head {
                    color: #888;
                    font-size: 11px;
                    padding: 5px 0;
                    text-align: center;
                }
            }

            .teaching-stats {
                border-right: 1px solid #E7E7E7;
            }

            ul {
                margin: 0;

                li {
                    border-right: 1px solid #E7E7E7;
                    display: block;
                    float: left;
                    list-style: none;
                    padding-bottom: 6px;
                    width: 215px;
                    text-align: center;

                    em {
                        color: #555;
                        display: block;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: bold;
                    }

                    .unit {
                        color: #666;
                        font-size: 13px;
                    }

                    .what {
                        color: #666;
                        font-size: 13px;
                    }
                }

                li.last {
                    border-right: none;
                }
            }
        }
    }

    .profile-courses {
        margin-top: 40px;

        .profile-courses-nav {
            margin-bottom: 20px;

            em {
                background-color: @linkColor;
                border-radius: 4px;
                color: #FFF;
                display: inline-block;
                font-size: 15px;
                padding: 8px 25px;
            }

            a {
                color: #555;
                display: inline-block;
                font-size: 15px;
                padding: 8px 25px;
            }
        }

        ul.courses {
            margin: 0;

            li.course {
                list-style: none;
            }

            .style-course-box {
                float: left;
            }

            .course-reviews {
                float: right;

                ul.reviews {
                    margin: 0;

                    li.review {
                        border: 1px dashed #CCC;
                        list-style: none;
                        margin-bottom: 20px;
                        padding: 10px 15px;
                        width: 550px;

                        .body {
                            font-size: 13px;
                        }

                        .reviewer {
                            color: #777;
                            font-size: 13px;
                            margin-top: 7px;

                            a {
                                color: #444;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

        }
    }
}

.page-user-settings {
    h2 {
        border-bottom: 1px solid #DDD;
        margin: 20px 0 20px;
        padding-bottom: 10px;
    }

    form {
        margin-top: 25px;

        .name-control input {
            width: 300px;
        }

        .headline-control input {
            width: 500px;
        }

        .website-control input {
            width: 400px;
        }

        .phone-control input {
            width: 200px;
        }
    }
}