
em {
    font-style: normal;
}

// BOOTSTRAP STYLES ####################################################################################################

.btn {
    font-size: 12px;
}

[class^="icon-"], [class*=" icon-"] {
    vertical-align: -2px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    border-radius: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow: none;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
    color: inherit;
    border-color: #cccccc;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.dropdown-menu {
    border-radius: 2px;

    li a {
        font-size: 0.9em;
    }

    li.divider {
        margin: 7px 1px;
    }
}

.form-actions {
    background-color: transparent;
    border: none;
    padding: 0px;

    .btn {
        font-size: 13px;
        margin-right: 15px;
        padding: 8px 30px;
    }
}

// BOOTSTRAP MODAL #####################################################################################################

.modal-backdrop {
    background-color: #333;
}

body.modal-open {
    // Prevent background content to scroll when modal is opened
    overflow: hidden;
}

.modal {
    //border: 1px solid rgba(85, 85, 85, 0.3);
    border: none;
    border-radius: 0px;

    form {
        margin: 0px;
    }

    .modal-header {
        border-bottom: 0px;
        border-top: 7px solid @primaryColor;
        padding: 15px 20px;

        h3 {
            color: #555;
            font-size: 22px;
        }
    }

    .modal-error {
        background-color: #e56068;
        color: #FFF;
        margin-bottom: 15px;
        padding: 8px 20px;

        i {
            vertical-align: -2px;
        }
    }

    .modal-body {
        padding: 0px 20px 15px;
    }

    .modal-footer {
        background-color: #FCFCFC;
        border-top: 1px solid #EEE;
        padding: 14px 20px 15px;

        .btn {
            font-size: 0.95em;
        }

        .btn-cancel {
            color: #666;
            font-size: 0.9em;
        }
    }
}

// LIBS: SLIDER ########################################################################################################

.slider {
    .slider-selection {
        background-color: #0E90D2;
        background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    }

    .slider-handle {
        background-color: #0E90D2;
        background-image: linear-gradient(to bottom, #149BDF, #0480BE);
        opacity: 1;
    }
}


// FORM ################################################################################################################

.style-form {
    .control-group {
        margin-bottom: 25px;
    }

    label.control-label {
        color: #555;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"],
    input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
    .uneditable-input {
        font-size: 16px;
        height: 30px;
        margin-bottom: 5px;
    }

    .help-block {
        color: #777;
        font-size: 13px;
    }

    .form-actions {
        .style-primary-button {
            font-size: 14px;
            padding: 10px 50px;
        }
    }
}

form {
    .avatar-control {
        img.avatar {
            border-radius: 50px;
            float: left;
        }

        .tools {
            margin-left: 100px;

            .help-block {
                margin-top: 5px;
            }

            .remove-avatar {
                color: #555;
                font-size: 12px;
                padding: 2px 15px;
            }
        }

        .errorlist {
            margin-left: 100px;
            margin-top: 5px;
        }
    }
}


// COMMON USED STYLES ##################################################################################################

.style-button-base() {
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-size: 13.5px;
    padding: 7px 30px;

    &:hover, &:focus {
        color: #FFF;
        text-decoration: none;
    }

    i {
        margin-right: 3px;
        vertical-align: middle;
    }
}

.style-button {
    .style-button-base;
    background-color: #D9D9D9;
    box-shadow: 0px 5px 0px #BBB;
    color: #333;

    &:hover, &:focus {
        background-color: #E4E4E4;
        box-shadow: 0px 5px 0px #CCC;
        color: #333;
    }
}

.style-orange-button {
    .style-button-base;
    background-color: #e4671f;
    box-shadow: 0px 5px 0px #c45718;
    color: #FFF;

    &:hover, &:focus {
        background-color: #eb732d;
        box-shadow: 0px 5px 0px #d56321;
    }
}

.style-primary-button {
    .style-button-base;
    background-color: @linkColor;
    box-shadow: 0px 5px 0px @linkColorDarker;
    color: #FFF;

    &:hover, &:focus {
        background-color: #19a7bc;
        box-shadow: 0px 5px 0px @linkColor;
    }
}

h1.style-page-header {
    background-position: left center;
    background-repeat: no-repeat;
    color: #555;
    font-size: 26px;
    margin: 20px 0;
    padding-left: 45px;
    text-shadow: 1px 1px #FFF;
}

.style-sidebar-nav {
    margin: 0;
    border: 1px solid #DDD;

    li {
        background-color: #EEE;
        border-left: 4px solid #DDD;
        list-style: none;

        a {
            border-bottom: 1px solid #DDD;
            border-top: 1px solid #FFF;
            color: #777;
            display: block;
            font-size: 14px;
            font-weight: bold;
            padding-left: 15px;
            line-height: 42px;
            text-decoration: none;
            text-shadow: 1px 1px #FFF;

            i {
                font-size: 12px;
                margin-right: 5px;
                text-shadow: 1px 1px #FFF;
                vertical-align: 2px;
            }
        }

        &.last a {
            border-bottom: none;
        }

        &.active {
            background-color: #FFF;

            a {
                color: #444;
            }
        }

        a:hover {
            background-color: @linkColor;
            border-top: 1px solid @linkColor;
            color: #FFF;
            text-shadow: -1px -1px @linkColorDarker;

            i {
                color: #FFF;
                text-decoration: none;
                text-shadow: -1px -1px @linkColorDarker;
            }
        }
    }
}

.style-container {
    border: 2px solid #EEE;

    .container-inner {
        background-color: #FFF;
        border: 1px solid #DDD;
        padding: 20px 25px;

        h2.head2 {
            border-bottom: 3px double #EEE;
            color: @primaryColor;
            font-size: 22px;
            line-height: normal;
            margin: 0 0 25px 0;
            padding-bottom: 10px;
        }
    }
}

// COMPONENT ###########################################################################################################

.style-course-box {
    border: 2px solid #EEE;
    display: inline-block;
    list-style: none;
    width: 550px;

    .course-box-inner {
        background-color: #FFF;
        border: 1px solid #DDD;
    }

    .top {
        padding: 14px 20px 15px;
    }

    .title {
        font-size: 18px;
        font-weight: bold;
        line-height: 26px;
        margin-bottom: 7px;

        a {
            .content_link;
        }
    }

    .at_glance {
        .topic {
            a {
                color: #666;
                font-size: 13px;
                font-weight: bold;
            }
        }

        .separator {
            color: #CCC;
            margin: 0px 5px;
        }

        .duration {
            color: #666;
            font-size: 13px;
        }
    }

    .cover {
        margin-top: 10px;

        img {
            height: 200px;
            width: 550px;
        }
    }

    .teacher {
        margin-top: 15px;

        .avatar {
            float: left;
            margin-right: 10px;

            img {
                border-radius: 50px;
                height: 50px;
                width: 50px;
            }
        }

        .name {
            color: #444;
            display: block;
            font-size: 15px;
            font-weight: bold;
            padding-top: 4px;
        }

        .doing {
            color: #666;
            display: block;
            font-size: 13px;
        }
    }

    .next {
        border-top: 1px dashed #DDD;
        color: #444;
        font-size: 13px;
        font-weight: bold;
        padding: 10px 20px;

        i {
            color: #C30;
            margin-right: 5px;
        }

        a {
            .content_link;
            margin-left: 6px;
        }
    }
}