@font-face {
    font-family: 'QuarkLight';
    src: url('../fonts/quark/quark-light-webfont.eot');
    src: url('../fonts/quark/quark-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/quark/quark-light-webfont.woff') format('woff'),
    url('../fonts/quark/quark-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

.page-launch {
    background: url('../images/ui/noise.png') repeat #4b5c66;

    .socials {
        margin: 15px 10px;
        float: right;

        .facebook {
            background: url('../images/ui/social-icons.png') 0 0;
            display: inline-block;
            height: 32px;
            margin-right: 8px;
            text-indent: -9999px;
            vertical-align: middle;
            width: 32px;
        }

        .twitter {
            background: url('../images/ui/social-icons.png') -32px 0;
            display: inline-block;
            height: 32px;
            margin-right: 8px;
            text-indent: -9999px;
            vertical-align: middle;
            width: 32px;
        }
    }

    .headline {
        clear: both;
        padding-top: 15px;
        text-align: center;

        h1 {
            color: #29ace4;
            font-family: 'QuarkLight', sans-serif;
            font-size: 40px;
            font-weight: normal;
            margin: 15px 0 0;
        }

        .text {
            margin-top: 20px;
            width: 100%;

            p {
                color: #EEE;
                font-family: 'QuarkLight', sans-serif;
                font-size: 24px;
                line-height: 38px;
                margin: 0 auto;
                width: 740px;
            }
        }
    }

    .form {
        margin: 35px auto 0;
        text-align: center;

        h2 {
            color: #97a9b3;
            font-family: 'QuarkLight', sans-serif;
            font-size: 22px;
            font-weight: normal;
            margin: 0;
        }

        form {
            margin-top: 20px;

            input {
                border: none;
                font-size: 16px;
                padding: 8px 10px;
            }

            button {
                background-color: #f9e25c;
                border: none;
                color: #444;
                cursor: pointer;
                font-family: 'QuarkLight', sans-serif;
                font-size: 20px;
                padding: 5px 45px 2px;
            }
        }

        .subscribed {
            .thanks {
                color: #FFF;
                font-family: 'QuarkLight', sans-serif;
                font-size: 28px;
                font-weight: normal;
                margin: 60px 0 0;
            }
        }
    }
}