{% extends 'user/settings/settings_base.html' %}

{% block settings_nav %}{% include 'user/settings/settings_base_nav.html' with tab_name='account' %}{% endblock %}

{% block settings_body %}
<div class="backend-page-nav">
    <a href="{% url 'edit_my_settings_account_email' %}" class="active">เปลี่ยนอีเมล</a>
    <a href="{% url 'edit_my_settings_account_password' %}">เปลี่ยนรหัสผ่าน</a>
</div>

<form method="post" action="." role="form">
    <div class="form-group email-control">
        <label for="id_email">อีเมล</label>
        {{ form.email }}{{ form.email.errors }}
    </div>

    <div class="form-actions">
        <button type="submit" class="style-primary-button">เปลี่ยนอีเมล</button>
    </div>
</form>
{% endblock %}