{% extends 'user/settings/settings_base.html' %}

{% block settings_nav %}{% include 'user/settings/settings_base_nav.html' with tab_name='profile' %}{% endblock %}

{% block settings_body %}
<form role="form" method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-7">
            <div class="form-group name-control">
                <label for="id_name">ชื่อผู้ใช้</label>
                {{ form.name }}{{ form.name.errors }}
            </div>
            <div class="form-group about_me-control">
                <label for="id_about_me">อะไรคือตัวคุณ</label>
                {{ form.about_me }}{{ form.about_me.errors }}
                <div class="help-block">ความสามารถเฉพาะ ความสนใจ อาชีพการงาน หรือสิ่งที่คุณหลงไหล</div>
            </div>
            <div class="form-group phone-control">
                <label for="id_name">เบอร์ติดต่อ</label>
                {{ form.phone_number }}{{ form.phone_number.errors }}
                <div class="help-block">ใช้สำหรับการติดต่อระหว่างคนที่เข้าร่วมเวิร์คช็อปเท่านั้น</div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="form-group avatar-control clearfix">
                <label for="id_avatar">รูปผู้ใช้</label>
                <div class="control">
                    <img src="{{ user.normal_avatar_url }}" class="avatar" {% if not user.avatar %}title="No picture"{% endif %}/>
                    <div class="tools">
                        <div class="upload-tool">
                            {{ form.avatar }}
                            <p class="help-block">ขนาดรูปอย่างต่ำ 140x140 พิกเซล ขนาดไม่เกิน 1 เมกกะไบต์</p>
                        </div>
                        {% if user.avatar %}
                            <button class="btn btn-mini remove-avatar" type="submit" name="submit" value="remove-avatar">Remove picture</button>
                        {% endif %}
                    </div>
                    {{ form.avatar.errors }}
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="style-primary-button">บันทึกข้อมูล</button>
    </div>
</form>
{% endblock %}