{% extends 'base_backend.html' %}

{% block body_class %}{{ block.super }} page-user-settings{% endblock %}

{% block backend_header %}
<h1>Set the things</h1>
{% endblock %}

{% block backend_container %}
<div class="backend-tabs">
    <div class="container">
        {% block settings_nav %}{% endblock %}
    </div>
</div>
<div class="settings-body">
    <div class="container">
        {% if messages %}{% for message in messages %}<div class="alert alert-{% if message.tags %}{{message.tags}}{% endif %}"><p>{{message}}</p></div>{% endfor %}{% endif %}
        {% block settings_content %}{% endblock %}
    </div>
</div>
{% endblock %}