{% load common_tags %}
<div class="style-course-box">
    <div class="box-inner">
        <div class="top">
            <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title }}</a></div>
            <div class="at_glance">
                Learn <a href="#" class="school">{{ course.get_school.name }}</a>
                in <span class="duration">{{ course.duration }} hour{{ course.duration|pluralize }}</span>
                with <span class="people">{{ course.maximum_people }} other {{ course.maximum_people|pluralize:'person,people' }}</span>
            </div>
            <div class="cover"><a href="{% url 'view_course_outline' course.uid %}"><img src="{{ course.cover_url }}" /></a></div>
            {% if not hide_teacher %}
            <div class="teacher clearfix">
                <div class="avatar"><img src="{{ course.teacher.smaller_avatar_url }}" /></div>
                <a href="{% url 'view_user_profile' course.teacher.uid %}" class="name">{{ course.teacher.name }}</a> <span class="doing">{{ course.teacher.headline }}</span>
            </div>
            {% endif %}
        </div>
        {% if not hide_footnote %}
        {% with upcoming_schedule=course.get_upcoming_schedule %}
            {% if upcoming_schedule %}
                <div class="next"><i class="icon-bullhorn icon-large"></i> คลาสถัดไป {{ upcoming_schedule|schedule_datetime }}</div>
            {% endif %}
        {% endwith %}
        {% endif %}
    </div>
</div>