{% load i18n common_tags %}
<div class="style-course-box">
    <div class="box-inner">
        <div class="top">
            <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title }}</a></div>
            <div class="at_glance">
                กิจกรรมเกี่ยวกับ <a href="#" class="school">{{ course.get_school.name }}</a>
                ระยะเวลา <span class="duration">{{ course.duration }} ชั่วโมง</span>
                ร่วมกับคนอีก <span class="people">{{ course.maximum_people }} คน</span>
            </div>
            <div class="cover"><a href="{% url 'view_course_outline' course.uid %}"><img src="{{ course.cover_url }}" {% thumbnail_img_size 'course_cover_normal' %} /></a></div>
            {% if not hide_teacher %}
            <div class="teacher clearfix">
                <div class="avatar"><a href="{% url 'view_user_profile' course.teacher.uid %}"><img src="{{ course.teacher.smaller_avatar_url }}" {% thumbnail_img_size 'avatar_smaller' %} /></a></div>
                <div class="teacher_name"><a href="{% url 'view_user_profile' course.teacher.uid %}" class="name">{{ course.teacher.name }}</a> <span class="doing">{{ course.teacher.headline }}</span></div>
            </div>
            {% endif %}
            <div class="course-details">
                <span class="schedules"><i class="icon-time"></i> <em>{{ course.stats_upcoming_classes }}</em> รอบ</span>
                <span class="feedbacks"><i class="icon-comment"></i> <em>{{ course.stats_feedbacks }}</em> ผลตอบรับ</span>
                <span class="place"><i class="icon-map-marker"></i> {{ course.place.province_code|province_name }}</span>
            </div>
        </div>
        {% if not hide_footnote %}
        {% with upcoming_schedule=course.get_upcoming_schedule %}
            {% if upcoming_schedule %}
                <div class="next"><i class="icon-bullhorn icon-large"></i> คลาสถัดไป {{ upcoming_schedule|schedule_datetime }}</div>
            {% endif %}
        {% endwith %}
        {% endif %}
    </div>
</div>