{% load common_tags %}
<div class="modal fade" id="modal-view-feedback">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">คำนิยม</h4>
            </div>
            <div class="modal-body">
                <div class="modal-loading hide"><div class="style-loading"><img src="{{ STATIC_URL }}images/ui/loading.gif"> กำลังโหลด</div></div>
                <div class="modal-feedback">
                    <div class="feelings">
                        <ul></ul>
                    </div>
                    <div class="content"></div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="button-delete-feedback">ลบคำนิยม</a>
                <button class="style-primary-button" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<script>
(function() {
    var modal = $('#modal-view-feedback');

    $(document).on('click', 'a[href="#modal-view-feedback"]', function() {
        modal.modal();
        modal.find('.modal-loading').show();
        modal.find('.modal-feedback').hide();

        var code = $(this).attr('data-reservation');
        modal.data('reservation-code', code);

        var jqxhr = $.get('{% url 'ajax_view_workshop_feedback' %}', {code:code}, function(response) {
            if(response.status == 'success') {
                modal.find('.feelings ul li').remove();
                for(var i=0; i<response.data.feelings.length; i++) {
                    modal.find('.feelings ul').append('<li>' + response.data.feelings[i] + '</li>');
                }

                modal.find('.content').html(response.data.content);

                modal.find('.modal-loading').hide();
                modal.find('.modal-feedback').show();

            } else {
                if(response.message) {
                    _addModalErrorMessage('modal-view-feedback', 'ไม่สามารถเรียกดูคำนิยมได้ - ' + response.message);
                } else {
                    _addModalErrorMessage('modal-view-feedback', 'ไม่สามารถเรียกดูคำนิยมได้ - เกิดข้อผิดพลาดขึ้น');
                }
            }
        }, 'json');

        jqxhr.error(function(jqXHR, textStatus, errorThrown) {
            _addModalErrorMessage('modal-view-feedback', 'ไม่สามารถเรียกดูคำนิยมได้ - ' + errorThrown);
        });

        return false;
    });

    var delete_feedback_button = $('.button-delete-feedback');
    delete_feedback_button.popover({
        html: true,
        placement: 'right',
        trigger: 'manual',
        content: '<a href="#" class="btn btn-mini btn-danger button-feedback-delete">ยืนยัน</a> <a href="#" class="btn btn-mini button-feedback-delete-cancel">ยกเลิก</a>'
    });

    delete_feedback_button.on('click', function() {
        delete_feedback_button.popover('show');

        modal.find('.button-feedback-delete').on('click', function() {
            var code = modal.data('reservation-code');

            var jqxhr = $.post('{% url 'ajax_delete_workshop_feedback' %}', {code:code}, function(response) {
                if(response.status == 'success') {
                    _notify('success', 'ลบคำนิยมเรียบร้อย');

                    delete_feedback_button.popover('hide');
                    modal.modal('hide');
                    $(document).trigger('feedback.delete', [code]);

                } else {
                    if(response.message) {
                        _addModalErrorMessage('modal-view-feedback', 'ไม่สามารถลบคำนิยมได้ - ' + response.message);
                    } else {
                        _addModalErrorMessage('modal-view-feedback', 'ไม่สามารถลบคำนิยมได้ - เกิดข้อผิดพลาดขึ้น');
                    }
                }
            }, 'json');

            jqxhr.error(function(jqXHR, textStatus, errorThrown) {
                _addModalErrorMessage('modal-view-feedback', 'ไม่สามารถลบคำนิยมได้ - ' + errorThrown);
            });

            return false;
        });

        modal.find('.button-feedback-delete-cancel').on('click', function() {
            delete_feedback_button.popover('hide');
            return false;
        });

        return false;
    });
})();
</script>