<div class="modal hide" id="modal-enrollment-details">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Enrollment details</h3>
    </div>
    <div class="modal-body">
        <div class="modal-loading"><div class="style-loading"><img src="{{ STATIC_URL }}images/ui/loading.gif"> Loading</div></div>
        <div class="modal-content">
            <div class="head">Course</div>
            <div class="details-course">
                <div class="title"></div>
                <div class="details">
                    <span class="teacher"><span class="caption">By</span> <em></em></span>
                    <span class="datetime"><span class="caption">When</span> <em></em></span>
                </div>
            </div>
            <div class="head">Enrollment</div>
            <div class="details-enrollment">
                <div class="data price"><span>Amount</span><em></em></div>
                <div class="data status"><span>Status</span><em></em></div>
                <div class="data payment_status"><span>Payment</span><em></em></div>
            </div>
            <div class="details-timestamp">You have reserved on <em></em></div>
        </div>
    </div>
    <div class="modal-footer">
        <!--<a href="" class="style-button pull-left modal-button-print"><i class="icon-print"></i> Print enrollment</a>-->
        <a href="#" class="style-primary-button" data-dismiss="modal">Close</a>
    </div>
</div>
<script>
$(document).ready(function() {
    var modal = $('#modal-enrollment-details');
    $('a[href="#modal-enrollment-details"]').on('click', function() {
        modal.modal();
        modal.find('.modal-loading').show();
        modal.find('.modal-content').hide();
        //modal.find('.modal-button-print').hide();

        var code = $(this).attr('data-code');

        var jqxhr = $.get('{% url 'ajax_view_enrollment_details' %}', {code:code}, function(response) {
            if(response.status == 'success') {
                modal.find('.details-course .title').text(response.data.title);
                modal.find('.details-course .teacher em').text(response.data.teacher_name);
                modal.find('.details-course .datetime em').text(response.data.schedule_datetime);

                modal.find('.details-enrollment .price em').text(response.data.amount);
                modal.find('.details-enrollment .status em').text(response.data.status);
                modal.find('.details-enrollment .payment_status em').text(response.data.payment_status);

                modal.find('.details-timestamp em').text(response.data.reserved_on);

                //modal.find('.modal-footer .modal-button-print').attr('href', response.data.print_url);

                modal.find('.modal-loading').hide();
                modal.find('.modal-content').show();
                //modal.find('.modal-button-print').show();
            } else {
                _addModalErrorMessage('modal-enrollment-details', 'An error occurred while loading enrollment details');
            }
        }, 'json');

        jqxhr.error(function(jqXHR, textStatus, errorThrown) {
            _addModalErrorMessage('modal-enrollment-details', 'An error occurred while loading enrollment details');
        });

        return false;
    });
});
</script>