<div class="modal hide" id="modal-error-message">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3></h3>
    </div>
    <div class="modal-body">
        <p></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="style-primary-button" data-dismiss="modal">Close</a>
    </div>
</div>
<script>
function _modal_error_message(title, message, callback) {
    var modal = $('#modal-error-message');

    modal.find('h3').text(title);
    modal.find('.modal-body p').text(message);

    modal.modal();

    if(callback != undefined) {
        modal.on('hide', function() {
            callback();
        });
    }
}
</script>