{% load common_tags %}
<div class="modal hide" id="modal-add-class">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add new class</h3>
    </div>
    <div class="modal-body">
        <div class="class-date">
            <div class="calendar"></div>
            <div class="note">Not allow setting further than 2 months</div>
        </div>
        <div class="class-time">
            <select size="11" class="time">{% time_options %}</select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="style-button button-cancel" data-dismiss="modal">Cancel</button>
        <button class="style-primary-button button-submit">Add class</button>
    </div>
</div>

<script>
(function() {
    var modal = $('#modal-add-class');
    var datepicker_obj = modal.find('.calendar');

    datepicker_obj.datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        startDate: '0',
        endDate: '+60d',
        language: 'th'
    }).on('changeDate', function() {
        datepicker_obj.data('is_dirty', true);
        if(modal.find('.time option:selected').length) {
            modal.find('.modal-footer .button-submit').attr('disabled', false);
        }
    });

    modal.find('.time').on('change', function() {
        if(datepicker_obj.data('is_dirty')) {
            modal.find('.modal-footer .button-submit').attr('disabled', false);
        }
    });

    modal.on('show', function() {
        modal.find('.calendar .active').removeClass('active');
    });

    var trigger = '{{ trigger }}';
    $(trigger).on('click', function() {
        datepicker_obj.datepicker('setDate', new Date());
        datepicker_obj.data('is_dirty', false);
        modal.find('.time option').attr('selected', false);

        modal.find('.modal-footer .button-submit').attr('disabled', true);
        modal.find('.modal-footer .button-cancel').attr('disabled', false);

        modal.modal();
        return false;
    });

    modal.find('.button-submit:not(.disabled)').on('click', function() {
        modal.find('.modal-footer button').attr('disabled', true);

        var schedule_date = datepicker_obj.datepicker('getFormattedDate');
        var schedule_time = modal.find('.time option:selected').val();

        var jqxhr = $.post('/ajax/course/schedule/add/', {uid: modal.data('course-uid'), schedule_date:schedule_date, schedule_time:schedule_time}, function(response) {
            if(response.status == 'success') {
                $.pnotify({
                    addclass:'custom',
                    animation: 'none',
                    hide: false,
                    history: false,
                    icon:false,
                    sticker: false,
                    text:'Go to <a href="' + response.data.manage_class_url + '">Manage class</a> page',
                    title: 'Class added',
                    type:'success'
                });
                modal.modal('hide');

            } else {
                modal.find('.modal-footer button').attr('disabled', false);

                if(response.message) {
                    _addModalErrorMessage('modal-add-class', response.message);
                } else {
                    _addModalErrorMessage('modal-add-class', 'Error: unknown error occurred');
                }
            }
        }, 'json');

        jqxhr.error(function(jqXHR, textStatus, errorThrown) {
            modal.find('.modal-footer button').attr('disabled', false);
            _addModalErrorMessage('modal-add-class', 'Error: ' + errorThrown);
        });
    });
})();
</script>