{% load common_tags %}
<div class="modal fade" id="modal-write-feedback">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">เขียนคำนิยม</h4>
            </div>
            <div class="modal-body">
                <div class="input-feelings">
                    <label class="form-label">รู้สึกอย่างไร?</label>
                    <ul>{% feedback_feeling_checkboxes %}</ul>
                </div>
                <div class="input-content">
                    <label class="form-label" for="modal-write-feedback-content">บรรยายประสบการณ์ของคุณ</label>
                    <textarea name="content" class="form-control" id="modal-write-feedback-content"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="style-button" data-dismiss="modal">ยกเลิก</button>
                <button type="button" class="style-primary-button button-submit-feedback">ส่งข้อความ</button>
            </div>
        </div>
    </div>
</div>
<script>
(function() {
    var modal = $('#modal-write-feedback');

    $(document).on('click', 'a[href="#modal-write-feedback"]', function() {
        modal.data('reservation-code', $(this).attr('data-reservation'));
        modal.modal();
        return false;
    });

    modal.on('show.bs.modal', function() {
        modal.find('.input-feelings input').prop('checked', false);
        modal.find('.input-content textarea').val('');
    });

    modal.find('.input-feelings input').on('click', function() {
        if($(this).prop('checked')) {
            $(this).closest('li').addClass('checked');
        } else {
            $(this).closest('li').removeClass('checked');
        }
    });

    modal.find('.button-submit-feedback:not(.disabled)').on('click', function() {
        modal.find('.modal-footer button').prop('disabled', true);

        var reservation_code = modal.data('reservation-code');
        var content = modal.find('textarea[name="content"]').val();

        var feelings = [];
        modal.find('.input-feelings input:checked').each(function() {
            feelings.push($(this).val());
        });

        var jqxhr = $.post('{% url 'ajax_add_workshop_feedback' %}', {code:reservation_code, feelings:feelings, content:content}, function(response) {
            modal.find('.modal-footer button').prop('disabled', false);

            if(response.status == 'success') {
                _notify('success', 'บันทึกคำนิยมเรียบร้อย');

                modal.modal('hide');
                $(document).trigger('feedback.add', [reservation_code]);

            } else {
                if(response.message) {
                    _addModalErrorMessage('modal-write-feedback', 'ไม่สามารถบันทึกคำนิยมได้ - ' + response.message);
                } else {
                    _addModalErrorMessage('modal-write-feedback', 'ไม่สามารถบันทึกคำนิยมได้ - เกิดความผิดพลาดขึ้น');
                }
            }
        }, 'json');

        jqxhr.error(function(jqXHR, textStatus, errorThrown) {
            modal.find('.modal-footer button').prop('disabled', false);
            _addModalErrorMessage('modal-write-feedback', 'ไม่สามารถบันทึกคำนิยมได้ - ' + errorThrown);
        });

        return false;
    });
})();
</script>