{% load thumbnail common_tags presentation_tags %}
<div class="workshop-cover">
    <img src="{{ workshop.cover_picture.image|thumbnail_url:'workshop_picture_small' }}" {% thumbnail_img_size 'workshop_picture_small' %} />
</div>
<div class="right">
    <div class="title"><a href="{% url 'view_workshop_outline' workshop.uid %}">{{ workshop.title }}</a></div>
    <div class="summary">ติวสเต็ปคันถธุระปาร์ตี้ เทวาธิราชไคลแมกซ์ธรรมาภิบาลมายองเนส ละตินไฮเอนด์คลาสสิกแบคโฮทิปเตี๊ยม</div>
    <div class="details">
        <div class="teacher">
            <div class="avatar"><a href="{% url 'view_user_profile' workshop.teacher.uid %}"><img src="{{ workshop.teacher.tiny_avatar_url }}" {% thumbnail_img_size 'avatar_tiny' %} /></a></div>
            <div class="name"><a href="{% url 'view_user_profile' workshop.teacher.uid %}">{{ workshop.teacher.name }}</a></div>
        </div>
        <div class="stats">
            <span class="item feedback"><i class="icon-heart available"></i> <em>7</em></span>
            <span class="item schedule"><i class="icon-calendar available"></i> จัดอีก 2 รอบ</span>
        </div>
    </div>

<!--
    <div class="convincing">
        <span class="schedules"><i class="icon-calendar"></i> จัดอีก <em>{{ workshop.stats_upcoming_schedules }}</em> รอบ</span>
        {% if workshop.stats_feedbacks %}<span class="feedbacks"><i class="icon-heart"></i> ได้รับ <em>{{ workshop.stats_feedbacks }}</em> คำนิยม</span>{% endif %}
    </div>
    <div class="next">
        {% get_available_upcoming_schedule workshop as upcoming_schedule %}
        <div class="schedule"><i class="icon-bullhorn"></i> คลาสถัดไป {{ upcoming_schedule|schedule_datetime }}</div>
        <div class="available">เหลือที่นั่งว่างอีก {{ upcoming_schedule.seats_left }} ที่นั่ง</div>
    </div>-->
</div>