<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block head_title %}{{ settings.WEBSITE_NAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="{% block head_keywords %}{% endblock %}" />
    <meta name="viewport" content="width=device-width">

    {% comment %}
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" />
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" />
    {% endcomment %}



    <link rel="stylesheet" href="{{ STATIC_URL }}libs/jquery.ui/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/font-awesome/css/font-awesome.min.css">

    <!--<link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap.datepicker/css/datepicker.css">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap.progressbar/bootstrap-progressbar.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}libs/pnotify/jquery.pnotify.default.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/select2/select2.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/slider/css/slider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/redactor/redactor.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}libs/royalslider/royalslider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/royalslider/skins/default/rs-default.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">


    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.ui/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.fileupload/js/jquery.iframe-transport.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap.datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap.datepicker/js/locales/bootstrap-datepicker.th.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap.progressbar/bootstrap-progressbar.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}libs/pnotify/jquery.pnotify.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/slider/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/redactor/redactor.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}libs/royalslider/jquery.royalslider.min.js"></script>


    <!--<script src="{{ STATIC_URL }}libs/modernizr-2.6.2-respond-1.1.0.min.js"></script> Firefox Don't Remember Scroll Position-->
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="wrapper">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

<div id="body-top">
    <div class="container">
        {% spaceless %}
        <div class="social">
            <ul>
                <li><a href="#" class="facebook"><i class="icon-facebook-sign"></i> Facebook</a></li>
                <li><a href="#" class="twitter"><i class="icon-twitter-sign"></i> Twitter</a></li>
                <li><a href="#" class="blog"><i class="icon-rss-sign"></i> Blog</a></li>
            </ul>
        </div>
        <div class="account">
            {% if user.is_authenticated %}
                <div class="user">
                    <ul class="parent">
                        <li class="parent-item username"><a href="{% url 'view_my_profile' %}" class="link">Panu Tangchalermkul</a></li>
                        <li class="parent-item messages"><a href="#" class="link"><i class="icon-bell-alt"></i><span class="num">14</span></a></li>
                        <li class="parent-item my_courses">
                            <div class="dropdown">
                                <a href="#" class="link dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> My courses <i class="icon-caret-down"></i><span class="num">4</span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'view_my_courses_upcoming' %}">Upcoming course</a></li>
                                    <li><a href="{% url 'view_my_courses_attended' %}">Attended course</a></li>
                                    <li><a href="{% url 'view_all_my_courses_teaching' %}">Teaching course</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'create_course' %}"><i class="icon-plus-sign"></i> Create new course</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="parent-item settings"><a href="{% url 'edit_my_settings_profile' %}" class="link"><i class="icon-gear"></i></a></li>
                        <li class="parent-item logout"><a href="{% url 'auth_logout' %}" class="link">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="registration">
                    <ul class="parent">
                        <li class="parent-item login"><a href="{% url 'view_user_login' %}?next={{ request.path }}" class="link">เข้าสู่ระบบ / สมัครสมาชิก</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
        {% endspaceless %}
    </div>
</div>
<div id="body-header">
    <div class="container">
        <div class="logo"><a href="{% url 'view_homepage' %}"><img src="{{ STATIC_URL }}images/ui/logo.png" /></a></div>
        {% comment %}
        <div class="navigation">
            <ul>
                <li><a href="{% url 'view_courses_explore' %}" class="explore"><i class="icon-list icon-large"></i> Browse courses</a></li>
                <li><a href="{% url 'view_course_teach' %}" class="teach"><i class="icon-microphone icon-large"></i> Be a teacher</a></li>
            </ul>
            <!--<div class="search"><input type="text" /></div>-->
        </div>

        <div class="account">
            {% if user.is_authenticated %}
                <div class="user">
                    <div class="notification notify-courses">
                        <a href="#"><i class="icon-briefcase icon-light"></i></a>
                    </div>
                    <div class="notification notify-news">
                        <a href="#" class="has-alert"><i class="icon-bell-alt icon-light"></i><span class="number">10</span></a>
                    </div>
                    <div class="menu btn-group">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="{{ user.tiny_avatar_url }}" /> <i class="icon-chevron-down"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="{% url 'view_my_profile' %}">โปรไฟล์</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'view_my_courses_upcoming' %}">My Courses</a></li>
                            <li><a href="{% url 'edit_my_settings_profile' %}">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'auth_logout' %}">ออกจากระบบ</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="registration">
                    <a href="{% url 'view_user_login' %}?next={{ request.path }}">เข้าสู่ระบบ / สมัครสมาชิก</a>
                </div>
            {% endif %}
        </div>
        {% endcomment %}
    </div>
</div>

<div id="body-content">
    {% block body %}{% endblock %}
    <div class="push"></div>
</div>
</div>
<div id="body-footer">
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <div>
                    <a href="#" class="website">Learning Wolf</a>
                    <span class="page-links">
                        <a href="#">Blog</a>
                        <a href="#">About us</a>
                    </span>
                </div>
                <div class="copyright">© Copyright 2013</div>
            </div>
            <div class="pull-right">
                <div class="social-links">
                    <a href="#" class="rss">RSS Feed</a>
                    <a href="#" class="email">Email</a>
                    <a href="#" class="twitter">Twitter</a>
                    <a href="http://www.facebook.com" class="facebook">Facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal hide" id="alert-modal">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">×</button><h3></h3></div>
    <div class="modal-body"></div>
    <div class="modal-footer"><a href="#" class="style-button" data-dismiss="modal">Close</a></div>
</div>

{% if not user.is_authenticated %}
<div class="modal hide" id="registration-modal">
    <div class="modal-header clearfix">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>เข้าสู่ระบบ / สมัครสมาชิก</h3>
    </div>
    <div class="modal-body">
        <div class="backend-social hide">
            <a href="#" class="facebook">Sign up / login with Facebook</a>
            <a href="#" class="twitter">Sign up / login with Twitter</a>
            <div class="switch-to-email">
                หรือ <a href="#" class="button-switch-backend">ใช้อีเมลในการเข้าสู่ระบบหรือสมัครสมาชิก</a>
            </div>
        </div>
        <div class="backend-email">
            <div class="clearfix">
                <div class="email-login">
                    <form action="{% url 'ajax_email_login' %}" method="post">
                        {% csrf_token %}
                        <div class="input">
                            <label for="modal_login_email">อีเมล</label>
                            <input type="email" id="modal_login_email" name="email" placeholder="อีเมล" />
                        </div>
                        <div class="input">
                            <label for="modal_login_password">รหัสผ่าน</label>
                            <input type="password" id="modal_login_password" name="password" placeholder="รหัสผ่าน" />
                        </div>
                        <div class="actions">
                            <button type="button" class="style-primary-button">เข้าสู่ระบบ</button>
                            <a href="{% url 'auth_password_reset' %}">ลืมรหัสผ่าน?</a>
                        </div>
                    </form>
                </div>
                <div class="email-register">
                    <div class="head">ยังไม่มีบัญชีผู้ใช้? สมัครสมาชิกได้ด้านล่างนี้</div>
                    <form action="{% url 'ajax_email_register' %}" method="post">
                        {% csrf_token %}
                        <div class="input">
                            <label for="modal_register_email">อีเมล</label>
                            <input type="email" id="modal_register_email" name="email" placeholder="อีเมล" />
                        </div>
                        <div class="actions">
                            <button type="button" class="style-primary-button">สมัครสมาชิก</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="switch-to-social">
                หรือ <a href="#" class="button-switch-backend">ใช้บัญชี social networks ในการเข้าสู่ระบบหรือสมัครสมาชิก</a>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    var registration_modal = $('#registration-modal');
    //registration_modal.modal();

    $('#body-top').find('.registration .login').on('click', function() {
        registration_modal.find('.backend-social').show();
        registration_modal.find('.backend-email').hide();
        registration_modal.find('.email-login .actions .error').remove();
        registration_modal.find('.email-register .actions .error').remove();
        registration_modal.modal();
        return false;
    });

    registration_modal.find('.button-switch-backend').on('click', function() {
        registration_modal.find('.backend-social').toggle();
        registration_modal.find('.backend-email').toggle();
        return false;
    });

    registration_modal.find('.email-login button').on('click', function() {
        var email = registration_modal.find('.email-login input[name="email"]').val();
        var password = registration_modal.find('.email-login input[name="password"]').val();

        if(email && password) {
            registration_modal.find('.email-login button').attr('disabled', true);
            var jqxhr = $.post('/ajax/email/login/', {email:email, password:password}, function(response) {
                registration_modal.find('.email-login button').attr('disabled', false);
                if(response.status == 'success') {
                    window.location.reload();
                } else {
                    registration_modal.find('.email-login .actions .error').remove();
                    registration_modal.find('.email-login .actions').prepend('<div class="error">Login failed. ' + response.message + '</div>');
                }
            }, 'json');

            jqxhr.error(function(jqXHR, textStatus, errorThrown) {
                registration_modal.find('.email-login button').attr('disabled', false);
                registration_modal.find('.email-login .actions .error').remove();
                registration_modal.find('.email-login .actions').prepend('<div class="error">Login failed. ' + errorThrown + '</div>');
            });
        }

        return false;
    });

    registration_modal.find('.email-register button').on('click', function() {
        var email = registration_modal.find('.email-register input[name="email"]').val();

        if(email) {
            registration_modal.find('.email-register button').attr('disabled', true);
            var jqxhr = $.post('/ajax/email/register/', {email:email}, function(response) {
                registration_modal.find('.email-register button').attr('disabled', false);
                if(response.status == 'success') {
                    registration_modal.modal('hide');
                    _alertModal('success', 'Register successful', 'Please confirm your email address from an email we sent to you.');
                } else {
                    registration_modal.find('.email-register .actions .error').remove();
                    registration_modal.find('.email-register .actions').prepend('<div class="error">Register failed. ' + response.message + '</div>');
                }
            }, 'json');

            jqxhr.error(function(jqXHR, textStatus, errorThrown) {
                registration_modal.find('.email-register button').attr('disabled', false);
                registration_modal.find('.email-register .actions .error').remove();
                registration_modal.find('.email-register .actions').prepend('<div class="error">Register failed. ' + errorThrown + '</div>');
            });
        }

        return false;
    });
});
</script>
{% endif %}



<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.base.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>

{% block scripts %}{% endblock %}

{% comment %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-41092535-2', 'learningwolf.com');
ga('send', 'pageview');
</script>
{% endcomment %}
</body>
</html>
