<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block head_title %}{{ settings.WEBSITE_NAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="{% block head_keywords %}{% endblock %}" />
    <meta name="viewport" content="width=device-width">

    {% comment %}
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" />
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" />
    {% endcomment %}

    <script type="text/javascript" src="{{ STATIC_URL }}libs/jquery-1.10.1.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}libs/jquery.ui/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/font-awesome/css/font-awesome.min.css">

    <!--<link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap.datepicker/css/datepicker.css">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap.progressbar/bootstrap-progressbar.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}libs/select2/select2.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/slider/css/slider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/redactor/redactor.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/jquery.fineuploader/fineuploader-3.5.0.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}libs/royalslider/royalslider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/royalslider/skins/default/rs-default.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">

    <!--<script src="{{ STATIC_URL }}libs/modernizr-2.6.2-respond-1.1.0.min.js"></script> Firefox Don't Remember Scroll Position-->
</head>
<body class="{% block body_class %}{% endblock %}">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

<div id="body-header">
    <div class="container">
        <div class="logo"><a href="{% url 'view_homepage' %}"><img src="{{ STATIC_URL }}images/ui/logo.png" /></a></div>
        <div class="navigation">
            <ul>
                <li><a href="{% url 'view_courses_explore' %}" class="explore"><i class="icon-list icon-large"></i> Browse Courses</a></li>
                <li><a href="{% url 'view_course_teach' %}" class="teach"><i class="icon-microphone icon-large"></i> Be a Teacher</a></li>
            </ul>
            <!--<div class="search"><input type="text" /></div>-->
        </div>
        <div class="account">
            {% if user.is_authenticated %}
                <div class="user">
                    <div class="notification notify-courses">
                        <a href="#"><i class="icon-briefcase icon-light"></i></a>
                    </div>
                    <div class="notification notify-news">
                        <a href="#" class="has-alert"><i class="icon-bell-alt icon-light"></i><span class="number">10</span></a>
                    </div>
                    <div class="menu btn-group">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="{{ user.tiny_avatar_url }}" /> <i class="icon-chevron-down"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="{% url 'view_my_profile' %}">โปรไฟล์</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'view_my_courses_upcoming' %}">My Courses</a></li>
                            <li><a href="{% url 'edit_my_settings_profile' %}">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'auth_logout' %}">ออกจากระบบ</a></li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="registration">
                    <a href="{% url 'view_signup' %}">New user?</a>
                    <a href="{% url 'view_login' %}?next={{ request.path }}">Login</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div id="body-content">{% block body %}{% endblock %}</div>

<div id="body-footer">
    <!--<div class="website">Learning Wolf</div>-->
</div>

<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.ui/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap.datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap.datepicker/js/locales/bootstrap-datepicker.th.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap.progressbar/bootstrap-progressbar.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}libs/select2/select2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/slider/js/bootstrap-slider.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/redactor/redactor.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.fileupload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.fileupload/js/jquery.fileupload.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}libs/royalslider/jquery.royalslider.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.base.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>

{% block scripts %}{% endblock %}

{% comment %}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-41092535-2', 'learningwolf.com');
ga('send', 'pageview');
</script>
{% endcomment %}
</body>
</html>
