<!DOCTYPE html>
<head>
    <title>PlayPlearn - เปลี่ยนวันว่างธรรมดาๆ ให้เป็นวันที่สนุกสนานเพลิดเพลิน</title>
    <meta name="description" content="ใช้เวลาว่างให้มีค่าด้วยกิจกรรมเวิร์คช็อปสนุกๆ ที่สามารถเข้าร่วมได้ทุกคน และยังได้รู้จักกับเพื่อนใหม่ๆ หรือได้ใช้เวลากับคนใกล้ตัวให้มากขึ้น">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/favicon-152.png">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.single.css">

</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}
</body>
</html>
