{% load i18n %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block head_title %}{{ settings.WEBSITE_NAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="{% block head_keywords %}{% endblock %}" />
    <meta name="viewport" content="width=device-width">

    {% comment %}
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png" />
    <link rel="icon" href="{{ STATIC_URL }}favicon.ico" />
    {% endcomment %}

    <link rel="stylesheet" href="{{ STATIC_URL }}libs/jquery.ui/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/font-awesome/css/font-awesome.min.css">

    <!--<link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap.datepicker/css/datepicker.css">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/bootstrap.progressbar/bootstrap-progressbar.min.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}libs/pnotify/jquery.pnotify.default.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/select2/select2.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/slider/css/slider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/redactor/redactor.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}libs/royalslider/royalslider.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}libs/royalslider/skins/default/rs-default.css">

    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">

    <!--<script src="{{ STATIC_URL }}libs/modernizr-2.6.2-respond-1.1.0.min.js"></script> Firefox Don't Remember Scroll Position-->
</head>
<body class="{% block body_class %}{% endblock %}">
<div class="wrapper">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

<div id="body-top">
    <div class="container">
        {% spaceless %}
        <div class="social">
            <ul class="buttons">
                <li class="button home"><a href="/" class="top-button"><img src="{{ STATIC_URL }}images/ui/logo.top.png" width="105" height="27"/></a></li>
                <li class="button facebook"><a href="#" class="top-button"><i class="icon-facebook-sign"></i> Facebook</a></li>
                <li class="button twitter"><a href="#" class="top-button"><i class="icon-twitter-sign"></i> Twitter</a></li>
            </ul>
        </div>
        <div class="account">
            {% if user.is_authenticated %}
                <div class="user">
                    <ul class="buttons">
                        <li class="button username"><a href="{% url 'view_my_profile' %}" class="top-button" title="ไปหน้าข้อมูลผู้ใช้">{{ user.name }}</a></li>
                        {% comment %}<li class="button alerts"><a href="#" class="top-button"><i class="icon-bell-alt"></i><span class="num">14</span></a></li>{% endcomment %}
                        <li class="button messages"><a href="{% url 'postman_inbox' %}" class="top-button dropdown-toggle"><i class="icon-comments"></i>{% if postman_unread_count %} <span class="num">{{ postman_unread_count }}</span>{% endif %}</a></li>
                        <li class="button activities">
                            <div class="dropdown">
                                <a href="#" class="top-button dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100"><i class="icon-list"></i> {% trans 'Activities' %} <i class="icon-caret-down"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    {% if user.stats_waiting_for_payment_courses %}<li><a href="{% url 'view_my_courses_payment' %}">{% trans 'Waiting for payment' %} <span class="number">{{ user.stats_waiting_for_payment_courses }}</span></a></li>{% endif %}
                                    {% if user.stats_upcoming_courses %}<li><a href="{% url 'view_my_courses_upcoming' %}">{% trans 'Upcoming activities' %} <span class="number">{{ user.stats_upcoming_courses }}</span></a></li>{% endif %}
                                    <li><a href="{% url 'view_my_courses_attended' %}">{% trans 'Attended activities' %}</a></li>
                                    {% if user.stats_total_activities_organizing %}<li><a href="{% url 'view_all_my_courses_teaching' %}">{% trans 'Organizing activities' %}</a></li>{% endif %}
                                    <li class="divider"></li>
                                    <li><a href="{% url 'create_course' %}"><i class="icon-plus"></i> {% trans 'Organize new activity' %}</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="button settings">
                            <div class="dropdown">
                                <a href="#" class="top-button dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="100"><i class="icon-gear"></i> <i class="icon-caret-down"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{% url 'edit_my_settings_profile' %}">ตั้งค่าข้อมูลผู้ใช้</a>
                                    <li><a href="{% url 'edit_my_settings_notifications' %}">การแจ้งเตือน</a></li>
                                    <li><a href="{% url 'edit_my_settings_account_email' %}">ตั้งค่าบัญชีผู้ใช้</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'auth_logout' %}">ออกจากระบบ</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="registration">
                    <ul class="buttons">
                        <li class="button login"><a href="{% url 'view_user_login' %}?next={{ request.path }}" class="top-button">เข้าสู่ระบบ / สมัครสมาชิก</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
        {% endspaceless %}
    </div>
</div>

{% comment %}
{% block body_header %}
<div id="body-header">
    <div class="container">
        <div class="logo"><a href="{% url 'view_homepage' %}"><img src="{{ STATIC_URL }}images/ui/logo.small.png" /></a></div>
    </div>
</div>
{% endblock %}
{% endcomment %}

<div id="body-content">
    {% block body %}{% endblock %}
    <div class="push"></div>
</div>
</div>
<div id="body-footer">
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="logo"><a href="/"><img src="{{ STATIC_URL }}images/ui/logo.top.png" /></a></div>
                <div class="links">
                    <a href="#">About us</a>
                    <span class="separator">|</span>
                    <a href="#">Blog</a>
                    <span class="separator">|</span>
                    <a href="#">FAQ</a>
                    <span class="separator">|</span>
                    <a href="#">Privacy & Terms of service</a>
                </div>
                <div class="copyright">© 2013</div>
            </div>
            <div class="pull-right">
                <div class="social-links">
                    <a href="#" class="rss">RSS Feed</a>
                    <a href="#" class="email">Email</a>
                    <a href="#" class="twitter">Twitter</a>
                    <a href="http://www.facebook.com" class="facebook">Facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal hide" id="alert-modal">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">×</button><h3></h3></div>
    <div class="modal-body"></div>
    <div class="modal-footer"><a href="#" class="style-button" data-dismiss="modal">Close</a></div>
</div>

{% if not user.is_authenticated %}
<div class="modal hide" id="registration-modal">
    <div class="modal-body style-registration-login">
        <div class="backend-social">
            <div class="head"><b>เข้าสู่ระบบ</b> หรือ <b>สมัครสมาชิก</b></div>
            <a href="#" class="facebook">Sign up / login with Facebook</a>
            <a href="#" class="twitter">Sign up / login with Twitter</a>
        </div>
        <div class="or">
            <hr><span>หรือใช้อีเมล</span>
        </div>
        <div class="backend-email">
            <div class="clearfix">
                <div class="email-login">
                    <div class="head">เข้าสู่ระบบ</div>
                    <form action="{% url 'ajax_email_login' %}" method="post">
                        {% csrf_token %}
                        <div class="input">
                            <input type="email" id="modal_login_email" name="email" placeholder="อีเมล" />
                        </div>
                        <div class="input">
                            <input type="password" id="modal_login_password" name="password" placeholder="รหัสผ่าน" />
                        </div>
                        <div class="actions">
                            <button type="button" class="style-button">เข้าสู่ระบบ</button>
                        </div>
                        <div class="forgot"><a href="{% url 'auth_password_reset' %}">ลืมรหัสผ่าน?</a></div>
                    </form>
                </div>
                <div class="email-register">
                    <div class="head">สมัครสมาชิก</div>
                    <form action="{% url 'ajax_email_register' %}" method="post">
                        {% csrf_token %}
                        <div class="input">
                            <input type="email" id="modal_register_email" name="email" placeholder="อีเมล" />
                        </div>
                        <div class="actions">
                            <button type="button" class="style-button">สมัครสมาชิก</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script type="text/javascript" src="{{ STATIC_URL }}libs/moment.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.ui/jquery-ui-1.10.3.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.fileupload/js/jquery.fileupload.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/jquery.fileupload/js/jquery.iframe-transport.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap.datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap.datepicker/js/locales/bootstrap-datepicker.th.js"></script>-->

<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap.hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/bootstrap.progressbar/bootstrap-progressbar.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}libs/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/pnotify/jquery.pnotify.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/select2/select2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/slider/js/bootstrap-slider.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/redactor/redactor.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}libs/royalslider/jquery.royalslider.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.base.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>

{% if not user.is_authenticated %}
<script>
(function() {
    var registration_modal = $('#registration-modal');

    $('#body-top').find('.registration .login').on('click', function() {
        registration_modal.find('.email-login .actions .error').remove();
        registration_modal.find('.email-register .actions .error').remove();
        registration_modal.modal();
        return false;
    });

    registration_modal.find('.email-login button').on('click', function() {
        var email = registration_modal.find('.email-login input[name="email"]').val();
        var password = registration_modal.find('.email-login input[name="password"]').val();

        if(email && password) {
            registration_modal.find('.email-login button').prop('disabled', true);
            var jqxhr = $.post('/ajax/email/login/', {email:email, password:password}, function(response) {
                if(response.status == 'success') {
                    window.location.reload();
                } else {
                    registration_modal.find('.email-login button').prop('disabled', false);
                    registration_modal.find('.email-login .actions .error').remove();
                    registration_modal.find('.email-login .actions').prepend('<div class="error">Login failed. ' + response.message + '</div>');
                }
            }, 'json');

            jqxhr.error(function(jqXHR, textStatus, errorThrown) {
                registration_modal.find('.email-login button').prop('disabled', false);
                registration_modal.find('.email-login .actions .error').remove();
                registration_modal.find('.email-login .actions').prepend('<div class="error">Login failed. ' + errorThrown + '</div>');
            });
        }

        return false;
    });

    registration_modal.find('.email-register button').on('click', function() {
        var email = registration_modal.find('.email-register input[name="email"]').val();

        if(email) {
            registration_modal.find('.email-register button').prop('disabled', true);
            var jqxhr = $.post('/ajax/email/register/', {email:email}, function(response) {
                registration_modal.find('.email-register button').prop('disabled', false);
                if(response.status == 'success') {
                    registration_modal.modal('hide');
                    _alertModal('success', 'Register successful', 'Please confirm your email address from an email we sent to you.');
                } else {
                    registration_modal.find('.email-register .actions .error').remove();
                    registration_modal.find('.email-register .actions').prepend('<div class="error">Register failed. ' + response.message + '</div>');
                }
            }, 'json');

            jqxhr.error(function(jqXHR, textStatus, errorThrown) {
                registration_modal.find('.email-register button').prop('disabled', false);
                registration_modal.find('.email-register .actions .error').remove();
                registration_modal.find('.email-register .actions').prepend('<div class="error">Register failed. ' + errorThrown + '</div>');
            });
        }

        return false;
    });
})();
</script>
{% endif %}

{% block modals %}{% endblock %}
{% block scripts %}{% endblock %}

</body>
</html>
