{% extends 'dashboard/courses_base.html' %}

{% block courses_content_nav %}{% include 'dashboard/courses_base_nav.html' with tab_name='attended' %}{% endblock %}

{% block courses_content %}
<div class="page-my-courses-attended">
    {% if reservations %}
    <div class="row">
        <div class="span3 courses-topics">
            <div class="head">TOPICS LEARNED</div>
            <ul class="topics">
                <li class="topic{% if not course_topic %} active{% endif %}"><a href="{% url 'view_my_courses_attended' %}">All Topics <span class="counter">{{ total_num_topics }}</span></a></li>
                {% for topic_learned in topics_learned %}
                <li class="topic{% if course_topic.id == topic_learned.topic.id %} active{% endif %}"><a href="{% url 'view_my_courses_attended_in_topic' topic_learned.topic.slug %}">{{ topic_learned.topic.name }} <span class="counter">{{ topic_learned.num_topics }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="span9">
            <ul class="courses">
                {% for reservation in reservations %}
                <li class="course">
                    <div class="feedback"><!-- TODO -->{% if not reservation.has_feedback %}<a href="#" class="style-orange-button">Give Feedback</a>{% endif %}</div>
                    <div class="title"><a href="{% url 'view_course_outline' reservation.schedule.course.uid %}">{{ reservation.schedule.course.title }}</a></div>
                    <div class="details">
                        <span class="teacher"><span class="caption">By</span> <a href="{% url 'view_user_profile' reservation.schedule.course.teacher.uid %}">{{ reservation.schedule.course.teacher.name }}</a></span>
                        <span class="datetime"><span class="caption">When</span> <em>{{ reservation.schedule.start_datetime|date:'l, j M Y H:i' }}</em></span>
                    </div>
                    <div class="actions">
                        <a href="#modal-reservation-details" class="link" data-code="{{ reservation.code }}">Reservation details</a>
                        <!-- TODO -->{% if reservation.has_feedback %}<a href="#">My feedback</a>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <div class="no-course">No attended course</div>
    {% endif %}
</div>

{% include 'snippets/modal_reservation_details.html' %}
{% endblock %}