{% extends 'dashboard/courses_base.html' %}
{% load humanize common_tags %}

{% block head_title %}My teaching course - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block courses_content_nav %}{% include 'dashboard/courses_base_nav.html' with tab_name='teaching' %}{% endblock %}

{% block scripts %}
<script>
(function() {
    var publish_modal = $('#modal-publish-course');
    var publish_date_datepicker = $('#id_publish_schedule_date').find('.calendar');

    publish_date_datepicker.datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        startDate: '0',
        endDate: '+60d',
        language: 'th'
    }).on('changeDate', function() {
        publish_date_datepicker.data('is_dirty', true);
        if($('#id_publish_schedule_time').find('option:selected').length) {
            publish_modal.find('.modal-footer .button-submit').prop('disabled', false);
        }
    });

    $('#id_publish_schedule_time').find('select').on('change', function() {
        if(publish_date_datepicker.data('is_dirty')) {
            publish_modal.find('.modal-footer .button-submit').prop('disabled', false);
        }
    });

    $('.open-modal-publish-course').on('click', function() {
        publish_modal.data('course-uid', $(this).closest('li.course').attr('data-course-uid'));

        publish_date_datepicker.datepicker('setDate', new Date());
        publish_date_datepicker.data('is_dirty', false);
        $('#id_publish_schedule_time').find('option').prop('selected', false);

        publish_modal.find('.modal-footer .button-submit').prop('disabled', true);
        publish_modal.find('.modal-footer .button-cancel').prop('disabled', false);
    });

    publish_modal.find('.button-submit:not(.disabled)').on('click', function() {
        publish_modal.find('.modal-footer button').prop('disabled', true);

        var schedule_date = publish_date_datepicker.datepicker('getFormattedDate');
        var schedule_time = $('#id_publish_schedule_time').find('option:selected').val();

        var jqxhr = $.post('/ajax/course/publish/', {uid: publish_modal.data('course-uid'), schedule_date:schedule_date, schedule_time:schedule_time}, function(response) {
            if(response.status == 'success') {
                //window.location = response.data.redirect_url;

                // TODO Show modal to choose between redirect to promote or stay here

            } else {
                if(response.message) {
                    _addModalErrorMessage('modal-publish-course', response.message);
                } else {
                    _addModalErrorMessage('modal-publish-course', 'Cannot publish: unknown error occurred');
                }
            }
        }, 'json');

        jqxhr.error(function(jqXHR, textStatus, errorThrown) {
            _addModalErrorMessage('modal-publish-course', 'Cannot publish: ' + errorThrown);
        });
    });

    $('.open-modal-add-class').on('click', function() {
        var modal = $('#modal-add-class');
        modal.data('course-uid', $(this).closest('li.course').attr('data-course-uid'));
    });
})();
</script>
{% endblock %}

{% block courses_content %}
<div class="page-my-courses-teaching">
    {% if num_of_courses.all %}
        <div class="style-stats-bar">
            <div class="create-course">
                <a href="{% url 'create_course' %}" class="style-orange-button"><i class="icon-plus"></i> Create a new course</a>
            </div>
            <ul class="stats">
                <li class="stat">
                    <span class="caption">Total earning</span>
                    <span class="number"><em>{{ request.user.stats_total_earning|floatformat:-2|intcomma }}</em> baht</span>
                </li>
                <li class="stat">
                    <span class="caption">Courses teaching</span>
                    <span class="number"><em>{{ request.user.stats_courses_teaching }}</em> course{{ request.user.stats_courses_teaching|pluralize }} <span class="smaller">/ {{ request.user.stats_classes_teaching }} Class{{ request.user.stats_classes_teaching|pluralize:'es' }}</span></span>
                </li>
                <li class="stat">
                    <span class="caption">Total students</span>
                    <span class="number"><em>{{ request.user.stats_students_teaching }}</em> student{{ request.user.stats_students_teaching|pluralize }}</span>
                </li>
                <li class="stat">
                    <span class="caption">Total feedback</span>
                    <span class="number"><em>{{ request.user.stats_feedbacks_received }}</em> feedback{{ request.user.stats_feedbacks_received|pluralize }}</span>
                </li>
            </ul>
        </div>
        <div class="teaching-courses">
            <div class="row">
                <div class="span2">
                    <div class="feedback-navigation">
                        <ul class="style-sidebar-navigation">
                            <li{% if active_category == 'all' %} class="active"{% endif %}><a href="{% url 'view_all_my_courses_teaching' %}">All courses <span class="number">{{ num_of_courses.all }}</span></a></li>
                            <li{% if active_category == 'draft' %} class="active"{% endif %}><a href="{% url 'view_my_courses_teaching' 'draft' %}">Draft <span class="number">{{ num_of_courses.draft }}</span></a></li>
                            <li{% if active_category == 'approving' %} class="active"{% endif %}><a href="{% url 'view_my_courses_teaching' 'approving' %}">Wait for approval <span class="number">{{ num_of_courses.approving }}</span></a></li>
                            <li{% if active_category == 'publishing' %} class="active"{% endif %}><a href="{% url 'view_my_courses_teaching' 'publishing' %}">Ready to publish <span class="number">{{ num_of_courses.publishing }}</span></a></li>
                            <li{% if active_category == 'published' %} class="active"{% endif %}><a href="{% url 'view_my_courses_teaching' 'published' %}">Published <span class="number">{{ num_of_courses.published }}</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="span10">
                    {% if teaching_courses %}
                    <ul class="courses">
                        {% for course in teaching_courses %}
                            <li class="course clearfix" data-course-uid="{{ course.uid }}">
                                <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title|default:'(No title)' }}</a></div>
                                <div class="status">
                                    {% if course.status == 'DRAFT' %}<span class="name draft"><i class="icon-edit-sign"></i> Drafting</span>
                                    {% elif course.status == 'WAIT_FOR_APPROVAL' %}<span class="name wait_for_approval"><i class="icon-check-sign"></i>  Waiting for approval</span>
                                    {% elif course.status == 'READY_TO_PUBLISH' %}<span class="name ready_to_publish"><i class="icon-check-sign"></i>  Ready to be published</span>
                                    {% elif course.status == 'PUBLISHED' %}<span class="name published"><i class="icon-check-sign"></i> Published</span>{% endif %}
                                </div>
                                <div class="actions">
                                    {% if course.status == 'DRAFT' %}
                                        <a href="{% url 'edit_course' course.uid %}" class="btn btn-small">Edit course</a>
                                        <span class="completeness"><em>{{ course.completeness }}%</em> completeness</span>
                                    {% elif course.status == 'WAIT_FOR_APPROVAL' %}
                                        <a href="{% url 'edit_course' course.uid %}" class="btn btn-small">Edit course</a>
                                    {% elif course.status == 'READY_TO_PUBLISH' %}
                                        <a href="#" class="btn btn-small open-modal-publish-course" data-toggle="modal" data-target="#modal-publish-course"><strong>Publish this course</strong></a>
                                        <a href="{% url 'edit_course' course.uid %}" class="btn btn-small">Edit course</a>
                                    {% elif course.status == 'PUBLISHED' %}
                                        <a href="{% url 'manage_course_overview' course.uid %}" class="btn btn-small">Manage course</a>
                                        <a href="{% url 'edit_course' course.uid %}" class="link">Edit course</a>
                                        <a href="#" class="link open-modal-add-class">Add new class</a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <div class="style-no-information">No courses</div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="modal fade hide schedule-modal" id="modal-publish-course">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Set your class date and time</h3>
            </div>
            <div class="modal-body">
                <div id="id_publish_schedule_date" class="schedule-date">
                    <div class="calendar"></div>
                    <div class="note">Not allow setting further than 2 months</div>
                </div>
                <div id="id_publish_schedule_time" class="schedule-time">
                    <select size="11">{% time_options %}</select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="style-button button-cancel" data-dismiss="modal">Cancel</button>
                <button class="style-primary-button button-submit">Publish</button>
            </div>
        </div>

    {% else %}
        <div class="no-teaching-course">
            <div class="head1">Do you have a passion on something?</div>
            <div class="head2">Why don't you share that passion with others by giving a course to learn from you</div>
            <div class="call_to_action"><a href="{% url 'create_course' %}" class="style-orange-button"><i class="icon-plus"></i> Create a new course</a></div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block modals %}
    {% if num_of_courses.all %}
        {% include 'snippets/modal_add_class.html' with trigger='.open-modal-add-class' %}
    {% endif %}
{% endblock %}