{% extends 'base_backend.html' %}

{% block body_class %}{{ block.super }} page-my-courses{% endblock %}

{% block backend_header %}
<h1>Workshops <span>- {% block workshops_title %}{% endblock %}</span></h1>
<!--<div class="stats">
    <ul>
        <li>{{ request.user.stats_courses_attended }} workshops attended</li>
        <li>{{ request.user.stats_feedbacks_given }} Feedbacks given</li>
        <li>{{ request.user.stats_courses_teaching }} workshops teaching</li>
        <li>{{ request.user.stats_feedbacks_received }} Feedbacks received</li>
    </ul>
</div>-->
{% endblock %}

{% block backend_container %}
<div class="backend-tabs">
    <div class="container">
        {% block courses_content_nav %}{% endblock %}
    </div>
</div>
<div class="courses-body">
    <div class="container">
        {% block courses_content %}{% endblock %}
    </div>
</div>
{% endblock %}