{% extends 'dashboard/courses_base.html' %}
{% load common_tags presentation_tags %}

{% block head_title %}Waiting for payment - Workshops - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block workshops_title %}Waiting for payment{% endblock %}
{% block courses_content_nav %}{% include 'dashboard/courses_base_nav.html' with tab_name='payment' %}{% endblock %}

{% block scripts %}
<script>
(function() {
    var notify_modal = $('#modal-payment-notify');
    notify_modal.on('success', function(e, enrollment_code) {
        $('a[data-enrollment-code="' + enrollment_code + '"]').closest('li.enrollment').fadeOut(function() {
            $(this).remove();
        });
    });
})();
</script>
{% endblock %}

{% block courses_content %}
<div class="page-my-courses-payments">
    {% if waiting_enrollments %}
        <ul class="enrollments">
            {% for enrollment in waiting_enrollments %}
                {% with course=enrollment.schedule.course %}
                    <li class="enrollment clearfix">
                        <div class="cover"><a href="{% url 'view_course_outline' course.uid %}"><img src="{{ course.small_cover_url }}" /></a></div>
                        <div class="right">
                            <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title }}</a></div>
                            <div class="teacher">โดย <a href="{% url 'view_user_profile' course.teacher.uid %}" class="name">{{ course.teacher.name }}</a></div>
                            <div class="schedule">{{ enrollment.schedule|schedule_datetime }}</div>
                            <div class="actions">
                                <span class="price">{{ enrollment.total|floatformat:-2 }} บาท</span>
                                <a href="#modal-payment-notify" class="btn btn-orange btn-small" data-enrollment-code="{{ enrollment.code }}" data-amount="{{ enrollment.total|floatformat:-2 }}">แจ้งชำระเงิน</a>
                                <a href="{% url 'view_enrollment_details' enrollment.code %}" class="btn btn-small">View enrollment</a>
                            </div>
                        </div>
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    {% else %}
        <div class="style-no-information">No workshops waiting for payment</div>
    {% endif %}
</div>
{% endblock %}

{% block modals %}
{% include 'snippets/modal_payment_notify.html' %}
{% endblock %}