{% extends 'dashboard/courses_base.html' %}
{% load common_tags presentation_tags %}

{% block head_title %}Upcoming - Workshops - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block workshops_title %}Upcoming{% endblock %}
{% block courses_content_nav %}{% include 'dashboard/courses_base_nav.html' with tab_name='upcoming' %}{% endblock %}

{% block courses_content %}
<div class="page-my-courses-upcoming">
    {% if upcoming_schedules %}
    <ul class="courses">
        {% for schedule in upcoming_schedules %}
        {% with course=schedule.course %}
        <li class="course clearfix">
            <div class="course-countdown"><em><i>{{ schedule.start_datetime|daysuntil }}</i> วัน</em>เริ่ม{% if course.teacher == request.user %}สอน{% else %}เรียน{% endif %}</div>
            <div class="course-content clearfix">
                <div class="course-cover"><a href="{% url 'view_course_outline' course.uid %}"><img src="{{ course.small_cover_url }}" /></a></div>
                <div class="right">
                    <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title }}</a></div>
                    {% if course.teacher != request.user %}<div class="teacher">{{ course.teacher.name }}</div>{% endif %}
                    <div class="schedule-location">
                        <span class="schedule">{{ schedule|schedule_datetime }}</span>
                        <span class="at">สถานที่</span>
                        <!-- TODO Open place popup --><span class="location"><a href="{{ course.place.place_url }}">{{ course.place.name }}</a></span>
                    </div>
                    {% if course.teacher == request.user %}<div class="students"><em>นักเรียน {{ schedule.stats_seats_reserved }} คน</em> (จำกัด {{ course.maximum_people }} คน)</div>{% endif %}
                    <div class="actions">
                        {% if course.teacher == request.user %}
                            <a href="{% url 'manage_course_overview' course.uid %}" class="btn btn-small"><i class="icon-book"></i> Manage workshop</a>
                        {% else %}
                            <!-- TODO --><a href="#" class="btn btn-small" data-toggle="message-modal" data-message-recipient="3" data-message-recipient-name="Panu Tangchalermkul"><i class="icon-comments"></i> Talk to teacher</a>
                            {% return_matching_enrollment user schedule as enrollment %}
                            <a href="#modal-enrollment-details" class="link" data-code="{{ enrollment.code }}">Enrollment details</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
        {% endwith %}
        {% endfor %}
    </ul>
    {% else %}
    <div class="style-no-information">No upcoming workshops</div>
    {% endif %}
</div>
{% endblock %}

{% block modals %}
    {% include 'snippets/modal_enrollment_details.html' %}
    {% include 'snippets/modal_message_write.html' %}
{% endblock %}