{% extends 'dashboard/courses_base.html' %}
{% load i18n common_tags presentation_tags %}

{% block head_title %}{% trans 'Upcoming activities' %} - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block workshops_title %}{% trans 'Upcoming activities' %}{% endblock %}
{% block courses_content_nav %}{% include 'dashboard/courses_base_nav.html' with tab_name='upcoming' %}{% endblock %}

{% block courses_content %}
<div class="page-my-courses-upcoming">
    {% if upcoming_schedules %}
    <ul class="courses">
        {% for schedule_data in upcoming_schedules %}
        {% with course=schedule_data.schedule.course %}
        <li class="course clearfix">
            <div class="course-countdown"><em><i>{{ schedule_data.schedule_datetime|daysuntil }}</i> วัน</em>เริ่ม{% if schedule_data.type == 'teacher' %}สอน{% else %}เรียน{% endif %}</div>
            <div class="course-content clearfix">
                <div class="course-cover"><a href="{% url 'view_course_outline' course.uid %}"><img src="{{ course.small_cover_url }}" /></a></div>
                <div class="right">
                    <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title }}</a></div>
                    {% if course.teacher != request.user %}<div class="organizer">จัดโดย <a href="#">{{ course.teacher.name }}</a></div>{% endif %}
                    <div class="schedule-location">
                        <span class="schedule">{{ schedule_data.schedule|schedule_datetime }}</span>
                        <span class="at">สถานที่</span>
                        <!-- TODO Open place popup --><span class="location"><a href="{{ course.place.place_url }}">{{ course.place.name }}</a></span>
                    </div>
                    {% if course.teacher == request.user %}<div class="students"><em>นักเรียน {{ schedule_data.schedule.stats_seats_reserved }} คน</em> (จำกัด {{ course.maximum_people }} คน)</div>{% endif %}
                    <div class="actions">
                        {% if schedule_data.type == 'teacher' %}
                            <a href="{% url 'manage_course_overview' course.uid %}" class="btn btn-small"><i class="icon-book"></i> Manage workshop</a>
                        {% else %}
                            <a href="#" class="btn btn-small" data-toggle="message-modal" data-message-recipient="{{ course.teacher.id }}" data-message-recipient-name="{{ course.teacher.name }}"><i class="icon-comments"></i> ส่งข้อความถึง {{ course.teacher.name }}</a>
                            <a href="#modal-enrollment-details" class="btn btn-small" data-code="{{ schedule_data.enrollment.code }}">ดูข้อมูลการจอง</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </li>
        {% endwith %}
        {% endfor %}
    </ul>
    {% else %}
    <div class="style-no-information">No upcoming activities</div>
    {% endif %}
</div>
{% endblock %}

{% block modals %}
    {% include 'snippets/modal_enrollment_details.html' %}
    {% include 'snippets/modal_message_write.html' %}
{% endblock %}