{% extends 'base_backend.html' %}
{% load i18n %}

{% block body_class %}{{ block.super }} page-my-courses{% endblock %}

{% block backend_header %}
<h1>{% block workshops_title %}{% endblock %}</h1>
{% endblock %}

{% block backend_container %}
<div class="backend-tabs">
    <div class="container">
        {% block courses_content_nav %}{% endblock %}
    </div>
</div>
<div class="courses-body">
    <div class="container">
        {% block courses_content %}{% endblock %}
    </div>
</div>
{% endblock %}