<ul class="nav nav-tabs">
    <li {% if tab_name == 'upcoming' %} class="active"{% endif %}><a href="{% url 'view_my_courses_upcoming' %}">Upcoming events{% if user.stats_upcoming_courses %} <i class="num">{{ user.stats_upcoming_courses }}</i>{% endif %}</a></li>
    <li {% if tab_name == 'attended' %} class="active"{% endif %}><a href="{% url 'view_my_courses_attended' %}">Attended workshops</a></li>
    <li {% if tab_name == 'teaching' %} class="active"{% endif %}><a href="{% url 'view_all_my_courses_teaching' %}">Teaching</a></li>
</ul>