{% extends 'base_backend.html' %}
{% load i18n common_tags presentation_tags thumbnail %}

{% block body_class %}{{ block.super }} page-course-modify{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrt6cxEWjNaPrR30RYFJOcFgC8AmR20ZQ&sensor=true"></script>
<script>
var _course_uid = '{% if not course %}{{ course_uid }}{% else %}{{ course.uid }}{% endif %}';
(function() {
    {% if course.status == 'PUBLISHED' %}
        initCourseModifyPage(false);
    {% else %}
        initCourseModifyPage(true);
    {% endif %}

    {% if not course %}
    $('#id_title').focus().select();
    {% endif %}

    $(window).scroll(function(){
        var footer = $('#form-footer-container');

        var docViewTop = $(window).scrollTop();
        var docViewBottom = docViewTop + $(window).height();

        var elemTop = footer.offset().top;
        var elemBottom = elemTop + footer.height();

        if(docViewBottom >= elemBottom) {
            footer.find('.form-footer').removeClass('form-footer-floating');
        } else {
            footer.find('.form-footer').addClass('form-footer-floating');
        }
    });
})();
</script>
{% endblock %}

{% block backend_header %}
    <div class="parent"><a href="{% url 'view_all_my_courses_teaching' %}">← Teaching workshops</a></div>
    <h1>{% if not course %}{% trans 'Organize new activity' %}{% else %}Edit workshop - <span class="title">{{ course.title|default:'(No title)' }}</span>{% endif %}</h1>
{% endblock %}

{% block backend_container %}
<div class="container">
    {% if course and course.status == 'WAIT_FOR_APPROVAL' %}
    <div class="approving-message">
        <p class="head1">Our staff is reviewing this course</p>
        <p>Any changes you are going to make might not be seen by our staff. Usually our review process will not take more than 48 hours.</p>
        <div><a href="#">Cancel approval request (Revert status back to Draft)</a></div>
    </div>
    {% endif %}

    <div class="form-content">
        <!-- Title -->
        <div class="control-group title-control">
            <label class="control-label" for="id_title">Workshop title</label>
            <div class="controls">
                <input type="text" id="id_title" placeholder="Title" value="{{ course.title }}">
                <div class="help-block">Good title should be concise and convincing</div>
            </div>
        </div>

        <!-- Activities -->
        <div class="control-group activities-control">
            <label class="control-label">Workshop activities</label>
            <div class="controls">
                <ul id="control_activity_list">
                    {% for activity in course.activities.all %}
                        <li class="activity"><i class="icon-remove"></i><i class="icon-reorder"></i><input type="text" value="{{ activity.title }}"/></li>
                    {% endfor %}
                    <li class="add"><i class="icon-plus"></i><a href="#" id="control_add_activity">Add workshop activity</a></li>
                </ul>
            </div>
        </div>

        <!-- Story -->
        <div class="control-group story-control">
            <label class="control-label">Story</label>
            <div class="controls">
                <textarea id="id_story">{{ course.description }}</textarea>
            </div>
        </div>

        <h3><i class="icon-picture"></i> Cover image and Pictures</h3>

        <div class="row row-for-cover-pictures">
            <div class="span4">
                <!-- Cover -->
                <div class="control-group cover-control">
                    <label class="control-label" for="id_cover">Cover image</label>
                    <div class="controls">
                        <div class="cover{% if not course.cover %} hide{% endif %}" id="upload-cover">{% if course.cover %}<img src="{{ course.cover|thumbnail_url:'course_cover_small' }}" {% thumbnail_img_size 'course_cover_small' %} />{% endif %}</div>
                        <span class="btn btn-small fileinput-button">
                            <span>Upload cover image...</span>
                            <input id="id_cover" type="file" name="cover">
                        </span>
                        <div class="help-block">Cover image will automatically be resize to <strong>510x260</strong> and <strong>255x130</strong> pixels</div>
                        <input type="hidden" id="id_cover_filename" value="{% if course.cover %}{{ course.cover.name }}{% endif %}" />
                    </div>
                </div>
            </div>
            <div class="span6">
                <!-- Pictures -->
                <div class="control-group pictures-control">
                    <label class="control-label" for="id_pictures">Pictures</label>
                    <div class="controls pictures-control">
                        <span class="btn btn-small fileinput-button">
                            <span>Upload pictures...</span>
                            <input id="id_pictures" type="file" name="pictures[]" multiple>
                        </span>
                        <ul class="pictures" id="upload-pictures">
                            {% for picture in course_pictures %}
                                <li class="picture" picture-uid="{{ picture.uid }}">
                                    <div class="image"><i class="icon-reorder"></i><img src="{{ picture.image|thumbnail_url:'course_picture_small' }}" /></div>
                                    <div class="description">
                                        <label>Describe this picture <input type="text" value="{{ picture.description }}" /></label>
                                        <a href="#" class="delete">Delete picture</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <input type="hidden" id="id_pictures_ordering" value="{% if course %}{% course_picture_ordering_as_comma_separated course %}{% endif %}" />
                    </div>
                </div>
            </div>
        </div>

        <h3><i class="icon-info-sign"></i> Details</h3>

        <div class="control-row">
            <!-- Topic -->
            <div class="control-group school-control">
                <label class="control-label" for="id_school">Topic</label>
                <div class="controls">
                    <select id="id_school">
                        <option></option>
                        {% course_school_as_option course %}
                    </select>
                </div>
            </div>

            <!-- Duration -->
            <div class="control-group duration-control">
                <label class="control-label" for="id_duration">Duration</label>
                <div class="controls controls-text">
                    <input type="number" id="id_duration" value="{{ course.duration|default:'' }}" />
                    <span class="unit">Hours</span>
                </div>
            </div>

            <!-- Capacity -->
            <div class="control-group capacity-control">
                <label class="control-label" for="id_capacity">Class limit</label>
                <div class="controls controls-text">
                    <input type="number" id="id_capacity" value="{{ course.maximum_people|default:'' }}" />
                    <span class="unit">People</span>
                </div>
            </div>
        </div>

        <!-- Tuition Fee -->
        <div class="control-group tuition-control">
            <div><label class="control-label" for="id_price">Tuition Fee</label></div>
            <div class="controls controls-text controls-with-guide">
                <input type="number" id="id_price" value="{{ course.price|floatformat:0 }}" />
                <span class="unit">Baht</span>
            </div>
            <div class="control-guide">
                Curabitur orci nulla, luctus eu accumsan vitae, mattis sit amet eros. Phasellus semper lacus et massa pretium pellentesque lobortis velit vulputate. Donec condimentum elit sit amet sem placerat vitae dictum diam scelerisque. Donec id lectus at velit sagittis molestie commodo sit amet eros.
            </div>
        </div>

        <h3><i class="icon-map-marker"></i> Location</h3>

        <!-- Place -->
        <div class="row row-for-place" id="id_place">
            <div class="span4">
                <div class="place-control">
                    <label class="place-label"><input type="radio" name="place" value="system-place" {% if course and course.place and not course.place.is_userdefined %}checked="checked"{% endif %} /> Popular location</label>
                    <select class="places" id="id_place_system">
                        <option></option>
                        {% course_place_as_option 'system' user course %}
                    </select>
                </div>
            </div>
            <div class="span6">
                <div class="place-control">
                    <label class="place-label"><input type="radio" name="place" value="userdefined-place" {% if course and course.place and course.place.is_userdefined %}checked="checked"{% endif %} /> Your defined location</label>

                    {% has_user_defined_place user as user_defined_place %}

                    {% if course or user_defined_place %}
                    <div class="place-input">
                        {% if user_defined_place %}
                        <select class="places" id="id_place_userdefined">
                            <option></option>
                            {% course_place_as_option 'userdefined' user course %}
                        </select>
                        <span class="or">or</span>
                        {% endif %}
                        {% if course or user_defined_place %}<a href="#" class="btn btn-small button-new-location">Add new location</a>{% endif %}
                    </div>
                    {% endif %}

                    <div class="place-form-loading hide"><img src="{{ STATIC_URL }}images/ui/loading.gif" /> Loading place information</div>

                    {% get_user_defined_place user course as user_defined_place %}

                    <div class="place-form{% if not user_defined_place %} hide{% endif %}">
                        <div class="head">{% if user_defined_place.pk %}Edit location{% else %}New location{% endif %}</div>
                        <div class="place-input">
                            <label for="id_place_name">Location name</label>
                            <div><input type="text" id="id_place_name" value="{{ user_defined_place.name }}" /></div>
                        </div>
                        <div class="place-row">
                            <div class="place-input">
                                <label for="id_place_address">Address</label>
                                <div><textarea id="id_place_address">{{ user_defined_place.address }}</textarea></div>
                            </div>
                            <div class="place-input">
                                <label for="id_place_province">Province</label>
                                <div>
                                    <select id="id_place_province">
                                        <option></option>
                                        {% province_options user_defined_place.province_code %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="place-row">
                            <div class="place-input">
                                <label for="id_place_direction">How to get there</label>
                                <div>
                                    <textarea id="id_place_direction">{{ user_defined_place.direction }}</textarea>
                                </div>
                            </div>
                            <div class="place-input place-input-location">
                                <label>Location on map</label>
                                <div>
                                    <input type="hidden" id="id_place_location" value="{{ user_defined_place.latlng }}" />
                                    {% if user_defined_place.latlng %}
                                        <div class="minimap"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ user_defined_place.latlng }}&zoom=13&size=270x180&markers=color:red%7Clabel:S%7C{{ user_defined_place.latlng }}&sensor=false" /></div>
                                    {% else %}
                                        <div class="minimap hide"></div>
                                    {% endif %}
                                    <a href="#modal-place-map" class="btn btn-mini button-input-latlng" data-toggle="modal"><i class="icon-screenshot"></i> Mark location from map</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="form-footer-container">
            <div class="form-footer form-footer-floating">
                <div class="container">
                    {% if course.status == 'WAIT_FOR_APPROVAL' or course.status == 'READY_TO_PUBLISH' or course.status == 'PUBLISHED' %}
                        <button class="style-orange-button button-submit button-save-changes" {% if not editing_course.is_dirty %}disabled="disabled"{% endif %} type="button">Save changes</button>
                    {% else %}
                        <button class="style-orange-button button-submit button-submit-approval" {% if completeness != 100 %}disabled="disabled"{% endif %} type="button">Submit for Approval</button>
                        <button class="style-button button-draft" disabled="disabled" type="button">Save draft</button>
                    {% endif %}

                    <span class="loading hide"><img src="{{ STATIC_URL }}images/ui/loading.gif" /></span>
                    <span class="link preview {% if not course %}hide{% endif %}"><i class="icon-external-link-sign"></i> <a {% if course %}href="{% url 'view_course_outline' course.uid %}" target="course-{{ course.uid }}"{% else %}href="#"{% endif %}>See workshop page</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade hide" id="modal-place-map">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Mark location from map</h3>
        </div>
        <div class="modal-body">
            <div class="search">
                <input type="text" placeholder="Search to nearest location" /> <button class="btn btn-small">Search</button>
                <input type="hidden" id="id_place_location_temp" />
            </div>
            <div class="map"><div id="map-canvas"></div></div>
        </div>
        <div class="modal-footer">
            <div class="note"><strong>How-to</strong> Search to nearest location, zoom in and drag the marker to a precise location</div>
            <button class="style-button" data-dismiss="modal">Cancel</button>
            <button class="style-primary-button button-set-location">Set location</button>
        </div>
    </div>

    <div class="modal fade hide" id="modal-course-submitted">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Your course is submitted</h3>
        </div>
        <div class="modal-body">
            <p class="head1">Please wait for our staff to review your course information. Usually this will take no longer than 48 hours. You will be notified once the review process is finished.</p>
        </div>
        <div class="modal-footer">
            <a href="{% url 'view_all_my_courses_teaching' %}" class="style-primary-button">Aye aye!</a>
        </div>
    </div>
</div>
{% endblock %}