{% extends 'dashboard/courses_base.html' %}
{% load i18n humanize common_tags presentation_tags %}

{% block head_title %}{% trans 'Organizing activities' %} - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block workshops_title %}{% trans 'Organizing activities' %}{% endblock %}
{% block courses_content_nav %}{% include 'dashboard/courses_base_nav.html' with tab_name='teaching' %}{% endblock %}

{% block scripts %}
<script>
(function() {
    var publish_modal = $('#modal-publish-course');
    var publish_date_datepicker = $('#id_publish_schedule_date').find('.calendar');

    publish_date_datepicker.datepicker({
        format: 'yyyy-mm-dd',
        todayHighlight: true,
        startDate: '0',
        endDate: '+60d',
        language: 'th'
    }).on('changeDate', function() {
        publish_date_datepicker.data('is_dirty', true);
        if($('#id_publish_schedule_time').find('option:selected').length) {
            publish_modal.find('.modal-footer .button-submit').prop('disabled', false);
        }
    });

    $('#id_publish_schedule_time').find('select').on('change', function() {
        if(publish_date_datepicker.data('is_dirty')) {
            publish_modal.find('.modal-footer .button-submit').prop('disabled', false);
        }
    });

    $('.open-modal-publish-course').on('click', function() {
        publish_modal.data('course-uid', $(this).closest('li.course').attr('data-course-uid'));

        publish_date_datepicker.datepicker('setDate', new Date());
        publish_date_datepicker.data('is_dirty', false);
        $('#id_publish_schedule_time').find('option').prop('selected', false);

        publish_modal.find('.modal-footer .button-submit').prop('disabled', true);
        publish_modal.find('.modal-footer .button-cancel').prop('disabled', false);
    });

    publish_modal.find('.button-submit:not(.disabled)').on('click', function() {
        publish_modal.find('.modal-footer button').prop('disabled', true);

        var schedule_date = publish_date_datepicker.datepicker('getFormattedDate');
        var schedule_time = $('#id_publish_schedule_time').find('option:selected').val();

        var jqxhr = $.post('/ajax/course/publish/', {uid: publish_modal.data('course-uid'), schedule_date:schedule_date, schedule_time:schedule_time}, function(response) {
            if(response.status == 'success') {
                //window.location = response.data.redirect_url;

                // TODO Show modal to choose between redirect to promote or stay here

            } else {
                if(response.message) {
                    _addModalErrorMessage('modal-publish-course', response.message);
                } else {
                    _addModalErrorMessage('modal-publish-course', 'Cannot publish: unknown error occurred');
                }
            }
        }, 'json');

        jqxhr.error(function(jqXHR, textStatus, errorThrown) {
            _addModalErrorMessage('modal-publish-course', 'Cannot publish: ' + errorThrown);
        });
    });

    $('.open-modal-add-class').on('click', function() {
        var modal = $('#modal-add-class');
        modal.data('course-uid', $(this).closest('li.course').attr('data-course-uid'));
    });
})();
</script>
{% endblock %}

{% block courses_content %}
<div class="page-my-courses-teaching">
    {% if num_of_courses.all %}
        <div class="style-stats-bar">
            <div class="create-course">
                <a href="{% url 'create_course' %}" class="style-orange-button"><i class="icon-plus"></i> จัดเวิร์คช็อปใหม่</a>
            </div>
            <ul class="stats">
                <li class="stat">
                    <span class="caption">รายได้รวม</span>
                    <span class="number"><em>{{ request.user.stats_total_earning|floatformat:-2|intcomma }}</em> บาท</span>
                </li>
                <li class="stat">
                    <span class="caption">จำนวนเวิร์คช็อป</span>
                    <span class="number"><em>{{ request.user.stats_courses_teaching }}</em> เวิร์คช็อป <span class="smaller">/ {{ request.user.stats_classes_teaching }} ครั้ง</span></span>
                </li>
                <li class="stat">
                    <span class="caption">จำนวนนักเรียน</span>
                    <span class="number"><em>{{ request.user.stats_students_teaching }}</em> คน</span>
                </li>
                <li class="stat">
                    <span class="caption">จำนวนผลตอบรับ</span>
                    <span class="number"><em>{{ request.user.stats_feedbacks_received }}</em> ข้อความ</span>
                </li>
            </ul>
        </div>
        <div class="teaching-courses">

                    {% comment %}
                    {% if teaching_courses %}
                    <ul class="courses">
                        {% for course in teaching_courses %}
                            <li class="course clearfix" data-course-uid="{{ course.uid }}">
                                <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title|default:'(No title)' }}</a></div>
                                <div class="details">
                                    <span class="details-item status">
                                        <span class="caption">สถานะ</span>
                                        <span class="value">{{ course.status_name }}</span>
                                    </span>
                                </div>
                                <!--<div class="status">
                                    {{ course|course_status_as_span_with_sign }}
                                </div>-->
                                <div class="actions">
                                    <a href="{% url 'edit_course' course.uid %}" class="btn btn-small{% if course.status == 'WAIT_FOR_APPROVAL' %} disabled{% endif %}">แก้ไขข้อมูล</a>

                                    {% if course.status == 'DRAFT' %}
                                    {% elif course.status == 'WAIT_FOR_APPROVAL' %}
                                    {% elif course.status == 'READY_TO_PUBLISH' %}
                                        <a href="#" class="btn btn-small open-modal-publish-course" data-toggle="modal" data-target="#modal-publish-course"><i class="icon-check-sign"></i> เปิดตัวเวิร์คช็อป</a>

                                    {% elif course.status == 'PUBLISHED' %}
                                        <a href="{% url 'manage_course_overview' course.uid %}" class="btn btn-small"><i class="icon-book"></i> หน้าการจัดการ</a>
                                        <a href="#" class="link open-modal-add-class">Add new class</a>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <div class="style-no-information">No workshops</div>
                    {% endif %}
                    {% endcomment %}

                    <table class="courses table">
                        <thead>
                        <tr>
                            <th class="status">สถานะ</th>
                            <th class="title">ชื่อเวิร์คช็อป</th>
                            <th class="actions"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in teaching_courses %}
                        <tr>
                            <td class="status">{{ course|course_status_as_span }}</td>
                            <td class="title">
                                <a href="#">{{ course.title }}</a>
                                {% if course.status == 'PUBLISHED' %}
                                <div class="stats">
                                    <span>จัดครั้งต่อไปวันจันทร์ที่ 15 ก.ย. 2556 เวลา 14:00 น.</span>
                                    <span>จำนวนคนเข้าร่วม 10/20</span>
                                </div>
                                {% endif %}
                            </td>
                            <td class="actions">
                                {% if course.status == 'READY_TO_PUBLISH' %}
                                    <a href="#" class="btn btn-small open-modal-publish-course" data-toggle="modal" data-target="#modal-publish-course"><i class="icon-check-sign"></i> เปิดตัวเวิร์คช็อป</a>
                                {% elif course.status == 'PUBLISHED' %}
                                    <a href="{% url 'manage_course_overview' course.uid %}" class="btn btn-small"><i class="icon-book"></i> การจัดการ</a>
                                {% endif %}
                                <a href="{% url 'edit_course' course.uid %}" class="btn btn-small{% if course.status == 'WAIT_FOR_APPROVAL' %} disabled{% endif %}">แก้ไขข้อมูล</a>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>


        </div>

        <div class="modal fade hide modal-add-schedule" id="modal-publish-course">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>เลือกวันที่และเวลาที่จะจัดเวิร์คช็อป</h3>
            </div>
            <div class="modal-body">
                <div id="id_publish_schedule_date" class="schedule-date">
                    <div class="head"><i class="icon-calendar"></i> วันที่</div>
                    <div class="control">
                        <div class="calendar"></div>
                    </div>
                </div>
                <div id="id_publish_schedule_time" class="schedule-time">
                    <div class="head"><i class="icon-time"></i> เวลา</div>
                    <select size="12">{% time_options %}</select>
                </div>
            </div>
            <div class="modal-footer">
                <button class="style-button button-cancel" data-dismiss="modal">Cancel</button>
                <button class="style-primary-button button-submit">Publish</button>
            </div>
        </div>

    {% else %}
        <div class="no-teaching-course">
            <div class="head1">Do you have a passion on something?</div>
            <div class="head2">Why don't you share that passion with others by giving a workshop to learn from you</div>
            <div class="call_to_action"><a href="{% url 'create_course' %}" class="style-orange-button"><i class="icon-plus"></i> Create new workshop</a></div>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block modals %}
    {% if num_of_courses.all %}
        {% include 'snippets/modal_add_class.html' with trigger='.open-modal-add-class' %}
    {% endif %}
{% endblock %}