{% extends 'base_backend.html' %}

{% block body_class %}{{ block.super }} page-my-courses{% endblock %}

{% block backend_header %}
<h1>My Courses</h1>
<div class="stats">
    <ul>
        <li>{{ request.user.stats_courses_attended }} Courses Attended</li>
        <li>{{ request.user.stats_courses_teaching }} Courses Teaching</li>
        <li>{{ request.user.stats_reviews_written }} Reviews Given</li>
        <li>{{ request.user.stats_reviews_received }} Reviews Received</li>
    </ul>
</div>
{% endblock %}

{% block backend_container %}
<div class="backend-tabs">
    <div class="container">
        {% block courses_content_nav %}{% endblock %}
    </div>
</div>

<div class="courses-body">
    <div class="container">
        {% block courses_content %}{% endblock %}

        {% comment %}
        <div class="row">
            <div class="span9 courses-content">
                {% block courses_content %}{% endblock %}
            </div>
            <div class="span3 courses-sidebar">
                <div class="head">RECENT ACTIVITIES</div>
                <!--  -->
            </div>
        </div>
        {% endcomment %}
    </div>
</div>
{% endblock %}