{% extends 'base_backend.html' %}
{% load common_tags presentation_tags thumbnail %}

{% block body_class %}{{ block.super }} page-enrollment-details{% endblock %}

{% block scripts %}
<script>
(function() {
    var notify_modal = $('#modal-payment-notify');
    notify_modal.on('success', function(e, enrollment_code) {
        $('a[href="#modal-payment-notify"]').remove();
    });
})();
</script>
{% endblock %}

{% block backend_header %}
    {% if enrollment.payment_status == 'WAIT_FOR_PAYMENT' %}
        <div class="parent"><a href="{% url 'view_my_courses_payment' %}">← Return to waiting for payment workshops</a></div>
    {% elif enrollment.start_datetime|timepast %}
        <div class="parent"><a href="{% url 'view_my_courses_attended' %}">← Return to attended workshops</a></div>
    {% else %}
        <div class="parent"><a href="{% url 'view_my_courses_upcoming' %}">← Return to upcoming</a></div>
    {% endif %}
    <h1>Enrollment details <span>- #{{ enrollment.code }}</span></h1>
{% endblock %}

{% block backend_container %}
<div class="container">
    <div class="enrollment-actions">
        {% if enrollment.payment_status == 'WAIT_FOR_PAYMENT' and not enrollment.is_payment_notified %}<a href="#modal-payment-notify" class="btn btn-orange" data-enrollment-code="{{ enrollment.code }}" data-amount="{{ enrollment.total|format_price }}">แจ้งชำระเงิน</a>{% endif %}
        <a href="#" class="btn"><i class="icon-print"></i> พิมพ์ใบจอง</a>
    </div>
    <div class="enrollment-course">
        <div class="course clearfix">
            <div class="cover"><a href="{% url 'view_course_outline' enrollment.schedule.course.uid %}"><img src="{{ enrollment.schedule.course.small_cover_url }}" /></a></div>
            <div class="right">
                <div class="title"><a href="{% url 'view_course_outline' enrollment.schedule.course.uid %}">{{ enrollment.schedule.course.title }}</a></div>
                <div class="teacher">โดย <a href="{% url 'view_user_profile' enrollment.schedule.course.teacher.uid %}" class="name">{{ enrollment.schedule.course.teacher.name }}</a></div>
                <div class="schedule">{{ enrollment.schedule|schedule_datetime }}</div>
            </div>
        </div>
        <div class="enrollment">
            <ul>
                <li class="status">
                    <div class="caption">สถานะ</div>
                    <div class="value">{{ enrollment|enrollment_status_for_student }}</div>
                </li>
                <li class="total">
                    <div class="caption">ราคารวม</div>
                    <div class="value">{{ enrollment.total|format_price }} บาท</div>
                </li>
                <li class="people">
                    <div class="caption">จำนวนคน</div>
                    <div class="value">{{ enrollment.people }} คน</div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
{% if with_payment %}{% include 'snippets/modal_enrollment_payment.html' %}{% endif %}
    {% include 'snippets/modal_payment_notify.html' %}
{% endblock %}