{% extends 'base_backend.html' %}

{% block body_class %}{{ block.super }} page-manage-workshop{% endblock %}

{% block scripts %}
<script>
$('.button-add-new-class').on('click', function() {
    var modal = $('#modal-add-class');
    modal.data('course-uid', '{{ course.uid }}');
    return false;
});
</script>
{% endblock %}

{% block backend_header %}
    <div class="parent"><a href="{% url 'view_all_my_courses_teaching' %}">← Teaching workshops</a></div>
    <div class="actions">
        <a href="#" class="button-add-new-class"><i class="icon-plus"></i> Add new class</a>
        <a href="{% url 'edit_course' course.uid %}"><i class="icon-pencil"></i> Edit workshop</a>
    </div>
    <h1>Manage <span>- {{ course.title }}</span></h1>
{% endblock %}

{% block backend_container %}
<div class="backend-tabs">
    <div class="container">
        {% block manage_workshop_nav %}{% endblock %}
    </div>
</div>
<div class="container">
    {% if messages %}{% for message in messages %}<div class="alert alert-{% if message.tags %}{{message.tags}}{% endif %}"><p>{{message}}</p></div>{% endfor %}{% endif %}
    <div class="manage-workshop-content">{% block manage_workshop_content %}{% endblock %}</div>
</div>
{% endblock %}

{% block modals %}
    {% include 'snippets/modal_add_class.html' with trigger='.button-add-new-class' %}
{% endblock %}