{% extends 'base_backend.html' %}
{% load i18n thumbnail common_tags presentation_tags %}

{% block head_title %}จัดเวิร์คช็อป - {{ settings.WEBSITE_NAME }}{% endblock %}
{% block body_class %}{{ block.super }} page-my-workshops-organize{% endblock %}

{% block backend_header %}
    <h1>จัดเวิร์คช็อป</h1>
{% endblock %}

{% block backend_container %}
<div class="workshops-body">
    <div class="container">
        {% if workshops %}
            <div class="style-stats-bar">
                <div class="add-workshop">
                    <a href="{% url 'create_workshop' %}" class="style-primary-button"><i class="icon-plus"></i> จัดเวิร์คช็อปใหม่</a>
                </div>
                <ul class="stats">
                    <li class="stat">
                        <span class="caption">ยอดเงินในบัญชี</span>
                        <span class="number"><em class="{% if user.money_balance.amount > 0 %}positive{% elif user.money_balance.amount < 0 %}negative{% endif %}">{{ user.money_balance.amount|format_price }}</em> บาท</span>
                    </li>
                    <li class="stat">
                        <span class="caption">เวิร์คช็อปที่เปิดตัว</span>
                        <span class="number"><em>{{ user.stats_workshops_organizing }}</em> เวิร์คช็อป</span>
                    </li>
                </ul>
            </div>

            <ul class="workshops">
                {% for workshop in workshops %}
                <li class="workshop clearfix">
                    <div class="cover"><a href="{% url 'view_workshop_outline' workshop.uid %}"><img src="{% workshop_cover_picture_url workshop 'workshop_picture_smaller' %}" {% thumbnail_img_size 'workshop_picture_smaller' %} /></a></div>
                    <div class="right">
                        <div class="title"><a href="{% url 'view_workshop_outline' workshop.uid %}">{{ workshop.title|default:'ไม่มีชื่อเวิร์คช็อป' }}</a></div>
                        <div class="subtitle">
                            <div class="style-workshop-status">{{ workshop.status|workshop_status }}</div>
                            <div class="workshop-stats">
                                <span>จัดอีก <em>{{ workshop.stats_upcoming_classes }} รอบ</em></span>
                                <span>คำนิยม <em>{{ workshop.stats_feedbacks }} ข้อความ</em></span>
                            </div>
                        </div>
                        {% get_upcoming_schedule workshop as upcoming_schedule %}
                        {% if upcoming_schedule %}
                        <div class="next">
                            <i class="icon-calendar"></i> จัดครั้งต่อไป {{ upcoming_schedule|schedule_datetime }}
                            <span class="participant">จำนวนคนเข้าร่วม <em>{{ upcoming_schedule.seats_reserved }} คน</em> (เต็ม {{ upcoming_schedule.capacity }} คน)</span>
                        </div>
                        {% endif %}
                        <div class="actions">
                            {% if workshop.is_status_ready_to_publish %}
                                <a href="#" class="style-outline-button open-modal-publish-workshop" data-toggle="modal" data-target="#modal-publish-workshop"><i class="icon-check-sign"></i> เปิดตัวเวิร์คช็อป</a>
                            {% elif workshop.is_status_published %}
                                <a href="{% url 'manage_workshop_overview' workshop.uid %}" class="style-outline-button"><i class="icon-book"></i> การจัดการ</a>
                            {% endif %}
                            <a href="{% url 'edit_workshop' workshop.uid %}" class="style-outline-button{% if workshop.is_status_wait_for_approval %} disabled{% endif %}">แก้ไขข้อมูล</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

            <div class="modal fade hide modal-add-schedule" id="modal-publish-workshop">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>เลือกวันที่และเวลาที่จะจัดเวิร์คช็อป</h3>
                </div>
                <div class="modal-body">
                    <div id="id_publish_schedule_date" class="schedule-date">
                        <div class="head"><i class="icon-calendar"></i> วันที่</div>
                        <div class="control">
                            <div class="calendar"></div>
                        </div>
                    </div>
                    <div id="id_publish_schedule_time" class="schedule-time">
                        <div class="head"><i class="icon-time"></i> เวลา</div>
                        <select size="12">{% time_options %}</select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="style-button button-cancel" data-dismiss="modal">Cancel</button>
                    <button class="style-primary-button button-submit">Publish</button>
                </div>
            </div>

        {% else %}
            <div class="no-teaching-workshop">
                <!-- TODO -->
                <div class="head1">Do you have a passion on something?</div>
                <div class="head2">Why don't you share that passion with others by giving a workshop to learn from you</div>
                <div class="call_to_action"><a href="{% url 'create_workshop' %}" class="style-primary-button"><i class="icon-plus"></i> จัดเวิร์คช็อปใหม่</a></div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}