{% extends 'user/profile_base.html' %}
{% load common_tags %}

{% block profile_content %}
<div class="profile-attending-courses">
    {% if attending_courses or attended_courses %}
        {% if attending_courses %}
            <h2>Attending</h2>
            <ul class="attending">
                {% for tuple in attending_courses %}
                    <li class="course clearfix">
                        <div class="course-cover"><a href="{% url 'view_course_outline' tuple.0.uid %}"><img src="{{ tuple.0.small_cover_url }}" /></a></div>
                        <div class="right">
                            <div class="title"><a href="{% url 'view_course_outline' tuple.0.uid %}">{{ tuple.0.title }}</a></div>
                            <div class="details">
                                <span class="teacher">สอนโดย <a href="#">{{ tuple.0.teacher.name }}</a></span>
                                <span class="schedule">วันที่ <em>{{ tuple.2.0.schedule|schedule_datetime }}</em></span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if attending_courses %}
            <h2>Previous courses</h2>
            <ul class="attended">
                {% for tuple in attended_courses %}
                    <li class="course clearfix">
                        <div class="course-cover"><a href="{% url 'view_course_outline' tuple.0.uid %}"><img src="{{ tuple.0.small_cover_url }}" /></a></div>
                        <div class="right">
                            <div class="title"><a href="{% url 'view_course_outline' tuple.0.uid %}">{{ tuple.0.title }}</a></div>
                            <div class="details">
                                <span class="teacher">สอนโดย <a href="#">{{ tuple.0.teacher.name }}</a></span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <div class="style-no-information">No courses attended</div>
    {% endif %}
</div>
{% endblock %}