{% extends 'base.html' %}
{% load thumbnail common_tags presentation_tags %}

{% block head_title %}{{ context_user.name }} @ {{ settings.WEBSITE_NAME }}{% endblock %}
{% block body_class %}page-profile{% endblock %}

{% block body %}
<div class="profile-header">
    <div class="container">
        <div class="avatar"><img src="{{ context_user.normal_avatar_url }}" {% thumbnail_img_size 'avatar_normal' %} /></div>
        <div class="right">
            <div class="name">{{ context_user.name }}</div>
            <div class="aboutme">{{ context_user.headline }}</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="profile-stats clearfix">
        <ul>
            <li>เปิดสอน <em>{{ context_user.stats_workshops_organizing }}</em> เวิร์คช็อป</li>
            <li>ได้รับคำนิยม <em>{{ context_user.stats_feedbacks_received }}</em> ข้อความ</li>
            <li>เข้าร่วม <em>{{ context_user.stats_courses_attended }}</em> เวิร์คช็อป</li>
            <li>เขียนคำนิยม <em>{{ context_user.stats_feedbacks_given }}</em> ข้อความ</li>
        </ul>
    </div>

    {% if organizing_workshops or feedbacks %}
    {% if organizing_workshops %}
    <div class="profile-organizing">
        <h2>จัดเวิร์คช็อป</h2>
        <ul class="workshops">
            {% for workshop in organizing_workshops %}
                <li class="workshop clearfix">
                    <div class="cover"><img src="{{ workshop.cover_picture.image|thumbnail_url:'workshop_picture_smaller' }}" {% thumbnail_img_size 'workshop_picture_smaller' %} /></div>
                    <div class="right">
                        <div class="title"><a href="{% url 'view_workshop_outline' workshop.uid %}">{{ workshop.title }}</a></div>
                        <div class="summary">{{ workshop.summary }}</div>
                        <div class="stats">
                            <span class="item feedback"><i class="icon-heart{% if workshop.stats_feedbacks %} available{% endif %}"></i> <em>{{ workshop.stats_feedbacks }}</em></span>
                            <span class="item schedule"><i class="icon-calendar{% if workshop.stats_upcoming_schedules %} available{% endif %}"></i> จัดอีก {{ workshop.stats_upcoming_schedules }} รอบ</span>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if feedbacks %}
    <div class="profile-feedbacks">
        <h2>คำนิยม</h2>
        <ul class="feedbacks">
            {% for feedback in feedbacks %}
            <li class="feedback">
                <div class="cover"><img src="{{ feedback.reservation.schedule.workshop.cover_picture.image|thumbnail_url:'workshop_picture_smaller' }}" {% thumbnail_img_size 'workshop_picture_smaller' %} /></div>
                <div class="right">
                    <div class="title"><a href="{% url 'view_workshop_outline' workshop.uid %}">{{ workshop.title }}</a></div>
                    <div class="feedback-box">
                        <div class="content">{{ feedback.content|linebreaks }}</div>
                        {% if feedback.feelings %}<div class="feelings"><i class="icon-smile"></i> {% feedback_feelings_as_em feedback %}</div>{% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% else %}
        <div class="style-no-information">ยังไม่มีความเคลื่อนไหว <i class="sleep"></i></div>
    {% endif %}
</div>
{% endblock %}