{% extends 'base.html' %}
{% load common_tags %}

{% block head_title %}{{ context_user.name }} @ {{ settings.WEBSITE_NAME }}{% endblock %}
{% block body_class %}page-profile{% endblock %}

{% block body %}
<div class="profile-header">
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="profile-header-box">
                    <div class="box-header clearfix">
                        <div class="avatar"><img src="{{ context_user.small_avatar_url }}" {% thumbnail_img_size 'avatar_small' %} /></div>
                        <div class="right">
                            {% comment %}<div class="follow"><a href="#" class="style-orange-button">Follow</a></div>{% endcomment %}
                            <div class="name">{{ context_user.name }}</div>
                            <div class="headline">{{ context_user.headline }}</div>
                        </div>
                    </div>
                    <div class="stats clearfix">
                        <ul>
                            <li><div class="title">Teaching</div><div class="number"><em>{{ context_user.stats_courses_teaching }}</em> workshop{{ context_user.stats_courses_teaching|pluralize }}</div></li>
                            <li><div class="title">Feedback received</div><div class="number"><em>{{ context_user.stats_feedbacks_received }}</em> feedback{{ context_user.stats_feedbacks_received|pluralize }}</div></li>
                            <li><div class="title">Attended</div><div class="number"><em>{{ context_user.stats_courses_attended }}</em> workshop{{ context_user.stats_courses_attended|pluralize }}</div></li>
                            <li class="last"><div class="title">Feedback given</div><div class="number"><em>{{ context_user.stats_feedbacks_given }}</em> feedback{{ context_user.stats_feedbacks_given|pluralize }}</div></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="reputations">
                    <div class="head">Reputations & Trustworthiness</div>
                    <ul>
                        {% if user.stats_feedbacks_received %}<li><div class="caption"><i class="icon-star"></i> {{ user.stats_feedbacks_received }} feedback{{ user.stats_feedbacks_received|pluralize }} received</div></li>{% endif %}
                        <li><div class="caption"><i class="icon-facebook"></i> 321 Facebook friends</div></li>
                        <li><div class="caption"><i class="icon-twitter"></i> 14 Twitter followers</div></li>
                        <li><div class="caption"><i class="icon-phone"></i> Phone number is verified</div></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profile-workshops">
    <div class="container">
        {% if teaching_workshops or attending_workshops or attended_workshops %}
            {% if teaching_workshops %}
            <h2>Teaching workshops</h2>
            <ul class="workshops">
                {% for course in teaching_workshops %}
                <li class="workshop clearfix">
                    <div class="cover"><a href="{% url 'view_course_outline' course.uid %}"><img src="{{ course.small_cover_url }}" {% thumbnail_img_size 'course_cover_small' %} /></a></div>
                    <div class="right">
                        <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title }}</a></div>
                        <div class="at_glance">
                            <a href="#" class="school">{{ course.get_school.name }}</a> workshop
                            in <span class="duration">{{ course.duration }} hour{{ course.duration|pluralize }}</span>
                            with <span class="people">{{ course.maximum_people }} other {{ course.maximum_people|pluralize:'person,people' }}</span>
                        </div>
                        <div class="details">
                            <span class="schedules"><i class="icon-time"></i> <em>{{ course.stats_upcoming_classes }}</em></span><span class="feedbacks"><i class="icon-comment"></i> <em>{{ course.stats_feedbacks }}</em></span><span class="place"><i class="icon-map-marker"></i> {{ course.place.province_code|province_name }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if attending_workshops %}
            <h2>Attending workshops</h2>
            <ul class="workshops">
                {% for enrollment in attending_workshops %}
                {% with course=enrollment.schedule.course %}
                    <li class="workshop clearfix">
                        <div class="cover"><a href="{% url 'view_course_outline' course.uid %}"><img src="{{ course.small_cover_url }}" {% thumbnail_img_size 'course_cover_small' %} /></a></div>
                        <div class="right">
                            <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title }}</a></div>
                            <div class="teacher">by <a href="{% url 'view_user_profile' course.teacher.uid %}">{{ course.teacher.name }}</a></div>
                            <div class="schedule">{{ enrollment.schedule|schedule_datetime }}</div>
                        </div>
                    </li>
                {% endwith %}
                {% endfor %}
            </ul>
            {% endif %}

            {% if attended_workshops %}
            <h2>Attended workshops</h2>
            <ul class="workshops">
                {% for enrollment in attended_workshops %}
                {% with course=enrollment.schedule.course %}
                    <li class="workshop clearfix">
                        <div class="cover"><a href="{% url 'view_course_outline' course.uid %}"><img src="{{ course.small_cover_url }}" {% thumbnail_img_size 'course_cover_small' %} /></a></div>
                        <div class="right">
                            <div class="title"><a href="{% url 'view_course_outline' course.uid %}">{{ course.title }}</a></div>
                            <div class="teacher">by <a href="{% url 'view_user_profile' course.teacher.uid %}">{{ course.teacher.name }}</a></div>
                            {% if enrollment.feedback %}{% include 'snippets/course_feedback_box.html' with feedback=enrollment.feedback hide_user=True %}{% endif %}
                        </div>
                    </li>
                {% endwith %}
                {% endfor %}
            </ul>
            {% endif %}
        {% else %}
            <div class="style-no-information">No workshop activities</div>
        {% endif %}
    </div>
</div>
{% endblock %}