{% extends 'base.html' %}

{% block body_class %}page-backend page-profile{% endblock %}

{% block body %}
<div class="backend-container">
    <div class="profile-header">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="profile-header-box">
                        <div class="box-header clearfix">
                            <div class="avatar"><img src="{{ context_user.small_avatar_url }}" /></div>
                            <div class="right">
                                <div class="follow"><a href="#" class="style-orange-button">Follow</a></div>
                                <div class="name">{{ context_user.name }}</div>
                                <div class="headline">{{ context_user.headline }}</div>
                            </div>
                        </div>
                        <div class="stats clearfix">
                            <ul>
                                <li><div class="title">Courses teaching</div><div class="number"><i class="icon-briefcase"></i> <em>10</em> courses</div></li>
                                <li><div class="title">Feedback received</div><div class="number"><i class="icon-star"></i> <em>10</em> feedbacks</div></li>
                                <li><div class="title">Courses attended</div><div class="number"><i class="icon-briefcase"></i> <em>10</em> courses</div></li>
                                <li class="last"><div class="title">Feedback given</div><div class="number"><i class="icon-star"></i> <em>10</em> feedbacks</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="reputations">
                        <div class="head">Reputations & Trustworthiness</div>
                        <ul>
                            <li><div class="caption"><i class="icon-star"></i> 45 Positive feedbacks</div></li>
                            <li><div class="caption"><i class="icon-facebook"></i> 321 Facebook friends</div></li>
                            <li><div class="caption"><i class="icon-twitter"></i> 14 Twitter followers</div></li>
                            <li><div class="caption"><i class="icon-phone"></i> Phone number is verified</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-courses">
        <div class="backend-tabs">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Teaching courses</a></li>
                    <li><a href="#">Attending courses</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="courses-teaching">
                <ul class="courses">
                    <li class="course clearfix">
                        <div class="style-course-box">
                            <div class="course-box-inner">
                                <div class="top">
                                    <div class="title"><a href="#">Learn Public Speaker for Nervous Introverts who Does Not Want The World to Know</a></div>
                                    <div class="at_glance">
                                        <span class="topic"><a href="#">Public Speaking</a></span>
                                        <span class="separator">|</span>
                                        <span class="duration">6 Hours</span>
                                    </div>

                                    <div class="cover"><a href="#"><img src="{{ STATIC_URL }}images/sample/course1-cover.jpg" /></a></div>
                                </div>

                                <div class="next">
                                    <i class="icon-bullhorn icon-large"></i> Next class is on Sunday, 14 February 2013 <a href="#">Enroll now</a>
                                </div>
                            </div>
                        </div>

                        <div class="course-reviews">
                            <ul class="reviews">
                                <li class="review arrow_box">
                                    <div class="body">Phasellus dolor felis, pretium sit amet gravida sit amet, molestie vel felis. Donec pulvinar ante et eros vehicula lacinia. Aenean quis nisi magna. Vestibulum consequat scelerisque est, at tempus purus consectetur ut. Morbi aliquet ante eget purus porttitor rhoncus a vitae nibh.</div>
                                    <div class="reviewer">by <a href="#">Panu Tangchalermkul</a></div>
                                </li>
                                <li class="review arrow_box">
                                    <div class="body">Phasellus dolor felis, pretium sit amet gravida sit amet, molestie vel felis. Donec pulvinar ante et eros vehicula lacinia. Aenean quis nisi magna. Vestibulum consequat scelerisque est, at tempus purus consectetur ut. Morbi aliquet ante eget purus porttitor rhoncus a vitae nibh.</div>
                                    <div class="reviewer">by <a href="#">Panu Tangchalermkul</a></div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="courses-attending">

            </div>
        </div>
    </div>


<!-- Name, Doing, Avatar -->
<!-- Course Attended, Course Teaching, Reviews Received, Reviews Written -->
<!-- Teaching Courses -->
<!-- Follow Button -->
<!-- Social Credentials -->
<!-- Member sinces -->

</div>
{% endblock %}