{% extends 'base.html' %}

{% block body_class %}page-profile{% endblock %}

{% block body %}
<div class="backend-container">
    <div class="profile-header">
        <div class="container">
            <div class="row">
                <div class="span9">
                    <div class="profile-header-box">
                        <div class="box-header clearfix">
                            <div class="avatar"><img src="{{ context_user.small_avatar_url }}" /></div>
                            <div class="right">
                                {% comment %}<div class="follow"><a href="#" class="style-orange-button">Follow</a></div>{% endcomment %}
                                <div class="name">{{ context_user.name }}</div>
                                <div class="headline">{{ context_user.headline }}</div>
                            </div>
                        </div>
                        <div class="stats clearfix">
                            <ul>
                                <li><div class="title">Teaching course</div><div class="number"><i class="icon-briefcase"></i> <em>{{ context_user.stats_courses_teaching }}</em> course{{ context_user.stats_courses_teaching|pluralize }}</div></li>
                                <li><div class="title">Feedback received</div><div class="number"><i class="icon-star"></i> <em>{{ context_user.stats_feedbacks_received }}</em> feedback{{ context_user.stats_feedbacks_received|pluralize }}</div></li>
                                <li><div class="title">Attended course</div><div class="number"><i class="icon-briefcase"></i> <em>{{ context_user.stats_courses_attended }}</em> course{{ context_user.stats_courses_attended|pluralize }}</div></li>
                                <li class="last"><div class="title">Feedback given</div><div class="number"><i class="icon-star"></i> <em>{{ context_user.stats_feedbacks_given }}</em> feedback{{ context_user.stats_feedbacks_given|pluralize }}</div></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="reputations">
                        <div class="head">Reputations & Trustworthiness</div>
                        <ul>
                            {% if user.stats_feedbacks_received %}<li><div class="caption"><i class="icon-star"></i> {{ user.stats_feedbacks_received }} feedback{{ user.stats_feedbacks_received|pluralize }} received</div></li>{% endif %}
                            <li><div class="caption"><i class="icon-facebook"></i> 321 Facebook friends</div></li>
                            <li><div class="caption"><i class="icon-twitter"></i> 14 Twitter followers</div></li>
                            <li><div class="caption"><i class="icon-phone"></i> Phone number is verified</div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-courses">
        <div class="style-tab-navigation">
            <div class="container">
                {% if context_user == user %}
                    {% url 'view_my_profile' as view_profile_url %}
                    {% url 'view_my_profile_attending_courses' as view_profile_attending_url %}
                {% else %}
                    {% url 'view_user_profile' context_user.uid as view_profile_url %}
                    {% url 'view_user_profile_attending_courses' context_user.uid as view_profile_attending_url %}
                {% endif %}

                {% if user_is_teaching %}
                    <ul class="nav nav-tabs">
                        <li{% if show == 'teaching' %} class="active"{% endif %}><a href="{{ view_profile_url }}">Teaching courses{% if context_user.stats_courses_teaching %} <i class="num">{{ context_user.stats_courses_teaching }}</i>{% endif %}</a></li>
                        <li{% if show == 'attending' %} class="active"{% endif %}><a href="{{ view_profile_attending_url }}">Attended courses{% if context_user.stats_courses_attended_and_attending %} <i class="num">{{ context_user.stats_courses_attended_and_attending }}</i>{% endif %}</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="container">
            {% block profile_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}